<div class="page-footer">
    <div class="page-footer-inner">
        {{ 'now'|date('Y') }} &copy; <a href="https://www.eenov.com/" target="_blank">Eenov</a>.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>