<ul class="nav navbar-nav pull-right">
    <li class="dropdown dropdown-user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile">{{ app.security.getToken().getUser().getFullName() }}</span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('eenov_admin_adminuser_update',{user:app.user.id}) }}">
                    <span class="fa fa-user"></span> Mon profil
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('eenov_default_default_index') }}">
                    <span class="fa fa-arrow-right"></span> Retour sur le site
                </a>
            </li>
            <li class="divider"></li>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li class="exit">{{ link('eenov_default_default_index',{_switch_user:'_exit'},{name:'Déconnecter du compte',gicon:'off'}) }}</li>
            {% endif %}
            <li>
                <a href="{{ path('logout') }}">
                    <span class="fa fa-key"></span> Se déconnecter
                </a>
            </li>
        </ul>
    </li>
</ul>
