{% macro li_nav(route,current,icon) %}
    <li{{ if_active(current) }}>
        <a href="{{ path(route) }}">
            <i class="{{ icon|default('fa fa-home') }}"></i>
            <span class="title">{{ title(route) }}</span>
            <span class="selected"></span>
        </a>
    </li>
{% endmacro %}

{% import _self as _sidebar %}

<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
    <li class="heading">
        <h3 class="uppercase">Comptes & Agences</h3>
    </li>
    {{ _sidebar.li_nav('eenov_admin_adminuser_index','eenov_admin_adminuser_','fa fa-users') }}
    {{ _sidebar.li_nav('eenov_admin_adminagency_index',['eenov_admin_adminagency_','eenov_admin_adminsubscription_','eenov_admin_adminslot_','eenov_admin_adminlegal_','eenov_admin_adminbill_','eenov_admin_adminasset_'],'fa fa-briefcase') }}
    <li class="heading">
        <h3 class="uppercase">Annonces</h3>
    </li>
    {{ _sidebar.li_nav('eenov_admin_adminbid_index',['eenov_admin_adminbid_','eenov_admin_adminimage_','eenov_admin_admindocument_','eenov_admin_adminvisit_','eenov_admin_adminmandate_','eenov_admin_adminaccess_','eenov_admin_adminauction_'],'fa fa-home') }}
    {{ _sidebar.li_nav('eenov_admin_adminadverttype_index','eenov_admin_adminadverttype_','fa fa-file-photo-o') }}
    {{ _sidebar.li_nav('eenov_admin_adminaround_index','eenov_admin_adminaround_','fa fa-paw') }}
    {{ _sidebar.li_nav('eenov_admin_adminimagetype_index','eenov_admin_adminimagetype_','fa fa-file-text-o') }}
    {{ _sidebar.li_nav('eenov_admin_admindocumenttype_index','eenov_admin_admindocumenttype_','fa fa-file-text-o') }}
    {{ _sidebar.li_nav('eenov_admin_adminequipment_index','eenov_admin_adminequipment_','fa fa-file-text-o') }}
    <li class="heading">
        <h3 class="uppercase">Formulaire profil</h3>
    </li>
    {{ _sidebar.li_nav('eenov_admin_adminseller_index','eenov_admin_adminseller_','fa fa-university') }}
    {{ _sidebar.li_nav('eenov_admin_adminbank_index','eenov_admin_adminbank_','fa fa-bank') }}
    <li class="heading">
        <h3 class="uppercase">Gestion</h3>
    </li>
    {{ _sidebar.li_nav('eenov_admin_adminprice_index','eenov_admin_adminprice_','fa fa-money') }}
    {{ _sidebar.li_nav('eenov_admin_adminpdfbill_index','eenov_admin_adminpdfbill_','fa fa-credit-card') }}
    {{ _sidebar.li_nav('eenov_admin_adminpartner_index','eenov_admin_adminpartner_','fa fa-user-md') }}
    {{ _sidebar.li_nav('eenov_admin_adminemail_index','eenov_admin_adminemail_','fa fa-envelope-o') }}
    {{ _sidebar.li_nav('eenov_admin_admindoc_index','eenov_admin_admindoc_','fa fa-file-pdf-o') }}
    <li class="heading">
        <h3 class="uppercase">Blog</h3>
    </li>
    {{ _sidebar.li_nav('eenov_admin_adminpost_index','eenov_admin_adminpost_','fa fa-globe') }}
</ul>
