<ul class="nav">
    <li{{ if_active('eenov_user_userprofile_index') }}>
        <a href="{{ path('eenov_user_userprofile_index') }}" title="{{ "Mon compte"|trans }}">{{ "Mon compte"|trans }}</a>
    </li>
    <li{{ if_active('eenov_user_userprofile_profile') }}>
        <a href="{{ path('eenov_user_userprofile_profile') }}" title="{{ "Mon profil"|trans }}">{{ "Mon profil"|trans }}</a>
    </li>
    <li{{ if_active('eenov_user_userprofile_parameters') }}>
        <a href="{{ path('eenov_user_userprofile_parameters') }}" title="{{ 'Paramètres'|trans }}">{{ 'Paramètres'|trans }}</a>
    </li>
    <li{{ if_active('eenov_user_userprofile_searches') }}>
        <a href="{{ path('eenov_user_userprofile_searches') }}" title="{{ 'Mes recherches sauvegardées'|trans }}">{{ 'Mes recherches sauvegardées'|trans }}</a>
    </li>
</ul>