{% extends 'EenovUserBundle::layout.html.twig' %}

{% set body_class = "mon-compte profile" %}

{% block title %}{{ 'Mon profil'|trans }} - {{ 'Mon compte'|trans }} - {{ parent() }}{% endblock %}

{% block form_label_class %}col-sm-3{% endblock form_label_class %}

{% block form_group_class %}col-sm-9{% endblock form_group_class %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include 'EenovUserBundle:User:_nav.html.twig' %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="block block-nav">
                            <div class="block-content">
                                {% include 'EenovUserBundle:UserProfile:_nav.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        {% block subcontent %}
                            <div class="block profile">
                                <h3>{{ 'Mon profil'|trans }}</h3>
                                <div class="block-content">
                                    <div class="alert" role="alert">
                                        <img class="pull-left" src="{{ asset('bundles/eenovdefault/img/user-security.png') }}" alt="{{ 'Données personnelles'|trans }}"/>
                                        Si vous modifiez votre adresse email, une confirmation sera nécessaire. Nous vous transmettrons un email avec les instructions.
                                    </div>
                                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' _self %}
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button class="btn btn-primary pull-right" type="submit" title="Enregistrer">Enregistrer</button>
                                    {{ form_end(form) }}
                                    <br class="clear"/>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}