{% extends 'EenovUserBundle:UserProfile:index.html.twig' %}

{% set body_class = "mon-compte params" %}

{% block title %}{{ 'Paramètres du compte'|trans }} - {{ 'Mon compte'|trans }} - {{ parent() }}{% endblock %}

{% block form_label_class %}col-sm-5{% endblock form_label_class %}

{% block form_group_class %}col-sm-7{% endblock form_group_class %}

{% block subcontent %}
    <div class="block password">
        <h3>{{ 'Changer mon mot de passe'|trans }}</h3>
        <div class="block-content">
            {% form_theme passwordForm 'bootstrap_3_horizontal_layout.html.twig' _self %}
            {{ form_start(passwordForm) }}
            {{ form_widget(passwordForm) }}
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="submit" class="btn btn-primary">Mettre à jour le mot de passe</button>
                </div>
            </div>
            {{ form_end(passwordForm) }}
            <div class="clear"></div>
        </div>
    </div>
    <div class="block email">
        <h3>{{ 'Paramètres e-mail'|trans }}</h3>
        <div class="block-content">
            {{ form_start(newsletterForm) }}
            <div class="row">
                <div class="col-sm-5">
                    Vous ne recevrez aucun spam. Cette option peut être désactivée à tout moment.
                </div>
                <div class="col-sm-7">
                    {{ form_widget(newsletterForm) }}
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button type="submit" class="btn btn-primary">Enregistrer mon choix</button>
                    </div>
                </div>
            </div>
            {{ form_end(newsletterForm) }}
        </div>
    </div>
    {#<div class="block connect-fb">#}
    {#<h3>{{ 'Facebook'|trans }}</h3>#}
    {#<div class="block-content">#}
    {#<div class="row">#}
    {#<div class="col-sm-8">#}
    {#Connectez-vous avec Facebook pour récupérer automatiquement les informations publiques de votre profil.#}
    {#</div>#}
    {#<div class="col-sm-4">#}
    {#<a class="btn btn-primary" href="#" title="{{ 'Connexion'|trans }} Facebook"><img src="{{ asset('bundles/eenovdefault/img/btn-facebook.png') }}" alt="{{ 'Connexion'|trans }} Facebook"/> {{ 'Connexion'|trans }}</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    <div class="block">
        <h3>{{ 'Supprimer mon compte'|trans }}</h3>
        <div class="block-content text-center">
            <a class="btn btn-danger" href="{{ path('eenov_user_userprofile_parametersdelete') }}" title="{{ 'Supprimer mon compte'|trans }}">
                {{ 'Supprimer mon compte'|trans }}
            </a>
        </div>
    </div>
{% endblock %}