{% extends 'EenovUserBundle:UserProfile:index.html.twig' %}

{% block title %}Supprimer mon compte{% endblock %}

{% block subcontent %}
    <div class="block profile">
        <h3>{{ block('title') }}</h3>
        <div class="block-content">
            <div class="alert" role="alert">
                <p>
                    <img class="pull-left" src="{{ asset('bundles/eenovdefault/img/user-security.png') }}" alt="{{ 'Données personnelles'|trans }}"/>
                    Êtes-vous certain de vouloir supprimer votre compte ?
                </p>
                <p><strong>Attention cette action est irréversible.</strong></p>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-danger pull-right" type="submit" title="Supprimer">Supprimer</button>
            {{ form_end(form) }}
            <br class="clear"/>
        </div>
    </div>
{% endblock %}