{% extends 'EenovUserBundle:UserProfile:index.html.twig' %}

{% set body_class = "mon-compte saved-searches" %}

{% block title %}{{ 'Mes recherches sauvegardées'|trans }} - {{ 'Mon compte'|trans }} - {{ parent() }}{% endblock %}

{% block subcontent %}
    <div class="block list-saved-search">
        <h3>{{ 'Mes recherches sauvegardées'|trans }}</h3>
        <div class="block-content">
            {% for search in searches %}
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-1">
                        {% set form = get_search_delete_form(search) %}
                        {{ form_start(form) }}
                        <button type="submit" class="btn-trash" title="{{ 'Supprimer cette recherche'|trans }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        {{ form_end(form) }}
                        <br/>
                        <a href="{{ path('eenov_default_bid_index',search.filters) }}" title="{{ 'Lancer la recherche'|trans }}"><img src="{{ asset('bundles/eenovdefault/img/user-saved-search.png') }}" alt="{{ 'Lancer la recherche'|trans }}"/></a>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-5">
                        <ul>
                            {% for text in search_texts(search) %}
                                <li>{{ text }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {% set form = get_search_update_form(search) %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            {% else %}
                <p class="alert alert-info no-margin">
                    Vous n'avez pas de recherche sauvegardée.
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}