{% extends 'EenovAdminBundle:AdminPartner:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminpartner_delete',{partner:partner.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <h2>{{ partner }}</h2>
    <p class="alert alert-danger">Êtes-vous certain de vouloir supprimer {{ partner }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminpartner_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="delete" type="submit" class="btn btn-default btn-xs red-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}