{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminpartner_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminpartner_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th class="sm"></th>
                <th>Nom</th>
                <th>Priorité</th>
                <th>Fichier</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for partner in paginator %}
                <tr>
                    <td>{{ partner.id }}</td>
                    <td><img src="{{ partner.uri|imagine_filter('thumbnail_24_24') }}"></td>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.order }}</td>
                    <td><a href="{{ partner.uri }}" target="_blank">{{ partner.uri }}</a></td>
                    <td>{{ link('eenov_admin_adminpartner_update',{partner:partner.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminpartner_delete',{partner:partner.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun partenaire trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}