{% import 'EenovDefaultBundle::_pack.html.twig' as subscriptionPack %}
<div id="agency-first" class="agency-offers eenov_default_default_agency">
    <br>
    <br>
    <h3 class="page-title text-center">{{ block('title') }}</h3>
    <div class="container">
        {% for id,pack in packs %}
            {{ subscriptionPack.pack(id,pack) }}
            <hr>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <h2><span>nos services,</span> inclus</h2>
            </div>
        </div>
        <div id="bloc_services">
            <div id="mandat">
                <img src="{{ asset('bundles/eenovdefault/img/picto_mandat_nb.png') }}" class="img-responsive" alt="picto mandat nb"/>
                <p>{{ 'mandat exclusif'|trans }}<span>{{ 'oxioneo'|trans }}</span></p>
            </div>
            <div id="support">
                <img src="{{ asset('bundles/eenovdefault/img/picto_supports_nb.png') }}" class="img-responsive" alt="picto supports nb"/>
                <p>{{ 'support commerciaux'|trans }}</p>
            </div>
            <div id="hotline">
                <img src="{{ asset('bundles/eenovdefault/img/picto_hotline_nb.png') }}" class="img-responsive" alt="picto hotline nb"/>
                <p>{{ 'hotline'|trans }}</p>
            </div>
            <div id="acces">
                <img src="{{ asset('bundles/eenovdefault/img/picto_acces_nb.png') }}" class="img-responsive" alt="picto acces nb"/>
                <p>{{ 'accès sécurisé'|trans }}</p>
            </div>
            <div id="formation">
                <img src="{{ asset('bundles/eenovdefault/img/picto_formation_nb.png') }}" class="img-responsive" alt="picto formation nb"/>
                <p>{{ 'formation commerciale'|trans }}</p>
            </div>
        </div>
    </div>
</div>
