<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="{{ path('eenov_default_default_index') }}">
                <img src="{{ asset('bundles/eenovdefault/img/logo-130.png') }}" alt="Oxioneo, l'enchère immobilière" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="{{ app.user }}" class="img-circle" src="{{ asset('bundles/eenovdefault/img/icon-user-29.png') }}">
                        <span class="username username-hide-on-mobile">{{ app.user }}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('eenov_default_default_index') }}">
                                <i class="icon-logout"></i> Retour sur le site
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('eenov_user_userprofile_index') }}">
                                <i class="icon-user"></i> Mon profil
                            </a>
                        </li>
                        <li class="divider"></li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li class="exit">{{ link('eenov_default_default_index',{_switch_user:'_exit'},{name:'Déconnecter du compte',gicon:'off'}) }}</li>
                        {% endif %}
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="icon-key"></i> Se déconnecter
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>