{% extends 'EenovAgencyBundle::_offer.pdf.twig' %}

{% block content %}
    {# @var agency \Eenov\DefaultBundle\Entity\Agency #}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    {# @var validated \DateTime #}
    <div id="content" class="row">
        {% for auction in auctions %}
            {# @var auction \Eenov\DefaultBundle\Entity\Auction #}
            {% set advert = bid.publish %}
            <div class="col-xs-12">
                <div{{ not loop.last ? ' class="page-break-after"' }}>
                    <h1 class="text-uppercase">Lettre - Proposition d'achat</h1>
                    <p>
                        Nous, soussignés {{ auction.user.profile.titleName }} {{ auction.user.lastname }} {{ auction.user.firstname }}
                        <br>
                        Né(e) le {{ auction.user.profile.birthday.format('d/m/Y') }} à {{ auction.user.profile.placeOfBirth }}
                        <br>
                        Demeurant {{ auction.user.profile.address }} {{ auction.user.profile.zip }} {{ auction.user.profile.city }} {{ auction.user.profile.country }}
                        <br>
                        Reconnaissons avoir visité en date du {% if mandates[auction.user.id] is defined %}{{ mandates[auction.user.id].visited|dateago }}{% else %}jamais{% endif %}
                        <br>
                        Les biens ci-après désignés, sis à {{ auction.bid.publish.address }} {{ auction.bid.publish.zip }} {{ auction.bid.publish.city }} {{ auction.bid.publish.country }}
                        avec l'agence {{ agency.displayName|default(agency.name) }} à {{ agency.address }} {{ agency.zip }} {{ agency.city }} {{ agency.country }}
                        sous le numéro de mandat {{ bid.publish.mandateAgency }}.
                    </p>
                    <h2>Descriptif du bien</h2>
                    <p>
                        Surface habitable {{ advert.shab|area }}; {{ advert.livingRoom|area }} de séjour; {{ advert.field|area }} de terrain;
                        {{ advert.rooms }} pièce{{ advert.rooms > 1 ? 's' }},
                        {{ advert.bedrooms }} chambre{{ advert.bedrooms > 1 ? 's' }},
                        {{ advert.bathrooms }} salle{{ advert.bathrooms > 1 ? 's' }} de bain,
                        {{ advert.showerrooms }} salle{{ advert.showerrooms > 1 ? 's' }} d'eau,
                        {{ advert.toilets }} toilette{{ advert.toilets > 1 ? 's' }},
                        chauffage {{ advert.heatingSystemName }} {{ advert.heatingTypeName }}.
                    </p>
                    <p class="min">
                        <u>LOI CARREZ</u> : Art.46 de la loi du 10.07.65 issu de la loi du 18.12.96 : « toute promesse unilatérale de vente ou d'achat, tout contrat réalisant ou constatant la vente d'un
                        lot ou d'une fraction de lot mentionne la superficie de la partie privative de ce lot ou de cette fraction de lot. La nullité de l'acte peut être invoquée sur le fondement de
                        l'absence de toute mention de superficie. Cette superficie est définie par le décret en Conseil d'Etat prévu à l'article 47. Les dispositions du premier alinéa ci-dessus ne
                        sont pas applicables aux caves, garages, emplacements de stationnement ni aux lots ou fractions de lots d'une superficie inférieure à un seuil fixé par le décret en
                        Conseil d'Etat prévu à l'article 47. Le bénéficiaire en cas de promesse de vente, le promettant en cas de promesse d'achat ou l'acquéreur peut intenter l'action en nullité
                        au plus tard à l'expiration d'un délai d'un mois à compter de l'acte authentique constatant la réalisation de la vente. La signature de l'acte authentique constatant la
                        réalisation de la vente mentionnant la superficie de la partie privative du lot ou de la fraction de lot entraîne la déchéance du droit à engager ou à poursuivre une action
                        en nullité de la promesse ou du contrat qui l'a précédé, fondée sur l'absence de mention de cette superficie... »
                    </p>
                    <p>
                        Suite à cette visite, nous faisons une offre d'achat, sous réserve de l'acceptation des propriétaires, au prix de
                        {{ auction.amount|price }} ({{ auction.amount|price_text }} {{ unity_money }})
                    </p>
                    <p>
                        Si notre offre est acceptée par les propriétaires, la transaction devra avoir lieu aux conditions ordinaires et de droit, notamment
                        aux suivantes:
                    </p>
                    <h2>Conditions</h2>
                    <p class="condition">
                        Ces biens seront, le jour de signature de l'acte de vente, libres de tous privilèges et hypothèques quelconques, ainsi que de
                        toutes servitudes d'urbanisme.
                    </p>
                    <p class="condition">
                        Nous les prendrons dans l'état où ils se trouvent le jour de l'entrée en jouissance, sans prétendre à aucune diminution du prix
                        ci-dessus proposé, ni à aucune indemnité pour quelque cause que ce soit, les connaissant pour les avoir vus et visités.
                    </p>
                    <p class="condition">
                        La jouissance des lieux nous sera acquise le jour de la signature de l'acte de vente, par la perception des loyers ou la prise de
                        possession réelle.
                    </p>
                    <p class="condition">
                        Les frais d'actes, d'enregistrement et de séquestre éventuels seront à notre charge.
                    </p>
                    <h2>Durée</h2>
                    <p>Cette offre d'achat est valable jusqu'au {{ validated|dateago }}</p>
                    <p>Fait à</p>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Le proposant</p>
                        </div>
                        <div class="col-xs-6">
                            <p>Le vendeur</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <p>Aucune offre.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}