<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>OXIONEO</title>
        <meta charset="utf-8"/>
        <style type="text/css">
            body{ font-size:12px; font-family:sans-serif; line-height:20px; }
            body *{ margin:0; padding:0; }
            body h1{ text-transform:uppercase; text-align:center; font-weight:700; font-size:16px; height:44px; line-height:44px; }
            body h2{ text-transform:uppercase; text-align:center; font-weight:300; font-size:14px; height:36px; line-height:36px; }
            body #content strong.label-oxioneo{ color:#56a999; }
            body .page-break-after{ page-break-after:always }
            body .no-line{ padding-right:10px; background:#fff; white-space:nowrap; }
            body p{ display:block; text-align:justify; clear:both; }
            body p.min{ font-size:9px; padding:15px 0; line-height:12px; }
            div.row{ overflow:hidden; }
            div.col-xs-6{ float:left; width:50%; }
        </style>
    </head>
    <body id="pdf">
        <div class="container-fluid">
            {{ block('content') }}
        </div>
    </body>
</html>