{# @var user \Eenov\DefaultBundle\Entity\User #}
<div class="row userprofile">
    <div class="col-md-6">
        <ul>
            <li><strong>Identité</strong> : {{ user.profile.titleName }} {{ user.lastname }} {{ user.firstname }}</li>
            <li><strong>Email</strong> : {{ user.username }}</li>
            {% if user.profile.phone %}
                <li><strong>Téléphone</strong> : {{ user.profile.phone }}</li>
            {% endif %}
            {% if user.profile.cellphone %}
                <li><strong>Téléphone portable</strong> : {{ user.profile.cellphone }}</li>
            {% endif %}
            {% if user.profile.birthday %}
                <li><strong>Date de naissance</strong> : {{ user.profile.birthday|dateago }}</li>
            {% endif %}
            {% if user.profile.placeOfBirth %}
                <li><strong>Lieu de naissance</strong> : {{ user.profile.placeOfBirth }}</li>
            {% endif %}
            {% if user.profile.address %}
                <li><strong>Adresse</strong> : {{ user.profile.address }}</li>
            {% endif %}
            {% if user.profile.zip %}
                <li><strong>Code postal</strong> : {{ user.profile.zip }}</li>
            {% endif %}
            {% if user.profile.city %}
                <li><strong>Ville</strong> : {{ user.profile.city }}</li>
            {% endif %}
            {% if user.profile.country %}
                <li><strong>Pays</strong> : {{ user.profile.country }}</li>
            {% endif %}
            {% if user.profile.childCount is not null %}
                <li><strong>Nombre d'enfants</strong> : {{ user.profile.childCount }}</li>
            {% endif %}
            {% if user.profile.maritalStatus %}
                <li><strong>Situation maritale</strong> : {{ user.profile.maritalStatusName }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li><strong>Logement</strong> : {{ user.profile.buyerStatusName }} dans un {{ user.profile.advertType }} depuis {{ user.profile.buyerStatusDate ? user.profile.buyerStatusDate.format('m/Y') : '"non renseigné"' }}</li>
            {% if user.profile.advertTypes|length %}
                <li><strong>Recherche</strong> : {% for type in user.profile.advertTypes %}{{ type }}{{ loop.last ? '.' : ', ' }}{% endfor %}</li>
            {% endif %}
            {% if user.profile.budget %}
                <li><strong>Budget</strong> : {{ user.profile.budget|price }}</li>
            {% endif %}
            {% if user.profile.job %}
                <li><strong>Emploi</strong> : {{ user.profile.job }}</li>
            {% endif %}
            {% if user.profile.situation %}
                <li><strong>Situation professionnelle</strong> : {{ user.profile.situationName }} depuis {{ user.profile.situationDate ? user.profile.situationDate.format('d/m') : '"non renseigné"' }} mois</li>
            {% endif %}
            {% if user.profile.acquisition %}
                <li><strong>Type de financement</strong> : {{ user.profile.acquisitionName }}</li>
            {% endif %}
            {% if user.profile.bank and user.profile.loan and user.profile.loanDuration %}
                <li><strong>Organisme bancaire contacté</strong> : {{ user.profile.bank }} ({{ user.profile.loan }}% pendant {{ user.profile.loanDuration }} mois)</li>
            {% endif %}
            {% if user.profile.contribution is not null %}
                <li><strong>Apport</strong> : {{ user.profile.contribution|price }}</li>
            {% endif %}
            {% if user.profile.collateral is not null %}
                <li><strong>Nantissement</strong> : {{ user.profile.collateral|price }}</li>
            {% endif %}
            {% if user.profile.bridgingLoan is not null %}
                <li><strong>Prêt relais</strong> : {{ user.profile.bridgingLoan|price }}</li>
            {% endif %}
            {% if user.profile.incomes is not null %}
                <li><strong>Revenus du foyer année N</strong> : {{ user.profile.incomes|price }}</li>
            {% endif %}
            {% if user.profile.previousIncomes is not null %}
                <li><strong>Revenus du foyer année N-1</strong> : {{ user.profile.previousIncomes|price }}</li>
            {% endif %}
            {% if user.profile.projectNature %}
                <li><strong>Nature du projet</strong> : {{ user.profile.projectNatureName }}</li>
            {% endif %}
            {% if user.profile.acquisition %}
                <li><strong>Type d'acquisition</strong> : {{ user.profile.acquisitionName }}</li>
            {% endif %}
            {% if user.profile.sellBeforeBuying is not null %}
                <li><strong>Vendre pour acheter</strong> : {{ user.profile.sellBeforeBuying|yes_no_icon }}</li>
            {% endif %}
            {% if user.profile.sellSinceDate %}
                <li><strong>Depuis</strong> : {{ user.profile.sellSinceDate ? user.profile.sellSinceDate.format('d/m') : '"non renseigné"' }}</li>
            {% endif %}
            <li><strong>Vendeur</strong> : {% for seller in user.profile.sellers %}{{ seller }}{{ loop.last ? '.' : ',' }}{% endfor %}</li>
        </ul>
    </div>
</div>
