{% extends 'EenovAgencyBundle::layout.html.twig' %}

{% block title %}Première Connexion{% endblock %}

{% block page_container %}
    {{ include('EenovAgencyBundle::_first.html.twig') }}
{% endblock %}
