<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ block('title') }}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% stylesheets
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/uniform/css/uniform.default.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/css/components.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/css/plugins.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/css/layout.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/css/themes/default.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/pages/css/profile.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/select2/select2.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/css/jquery.fileupload.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-datepicker/css/datepicker.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/fullcalendar.min.css'
        'bundles/eenovdefault/lib/animate.css'
        'bundles/eenovdefault/css/admin.css'
        'bundles/eenovdefault/css/agency-pack.css'
        'bundles/eenovagency/css/agency.css'
        filter='cssrewrite'
        output='bundles/agency.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        {% block styles %}{% endblock %}
        {% include 'EenovDefaultBundle:Front:_favicon.html.twig' %}
    </head>
    <body class="{{ body_class|default('page-header-fixed page-quick-sidebar-over-content') }}">
        {% include 'EenovAgencyBundle::_header.html.twig' %}
        <div class="clearfix"></div>
        <div class="page-container">
            {% block page_container %}
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">
                        {% include 'EenovAgencyBundle:Agency:_sidebar.html.twig' %}
                    </div>
                </div>
                <div class="page-content-wrapper">
                    <div class="page-content">
                        {% block page_content %}
                            {% block page_title %}<h3 class="page-title" style="margin:0;">{{ block('title') }}</h3>{% endblock %}
                            <div class="row profile" style="margin:0;padding:0;">
                                <h1>{{ agency.name }}{% if agency.displayName is not empty %} <em><strong>({{ agency.displayName }})</strong></em>{% endif %}</h1>
                                <div class="row">
                                    {% set col = 'col-md-4' %}
                                    {% if agency.responsible and agency.contact %}
                                        {% set col = 'col-md-3 col-xs-6' %}
                                    {% elseif agency.responsible or agency.contact %}
                                        {% set col = 'col-md-3 col-xs-6' %}
                                    {% endif %}
                                    <div class="{{ col }} profile-info">
                                        <h4>Agence : <strong>{{ agency.displayName|default(agency.name) }}</strong></h4>
                                        <ul class="list-unstyled">
                                            {% if agency.phone %}
                                                <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.phone }}">{{ agency.phone }}</a></li>
                                            {% endif %}
                                            {% if agency.email %}
                                                <li><i class="fa fa-envelope-o"></i> <a href="mailto:{{ agency.email }}">{{ agency.email }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="{{ col }} profile-info">
                                        <h4>Propriétaire : <strong>{{ agency.owner }}</strong></h4>
                                        <ul class="list-unstyled">
                                            {% if agency.owner.profile.phone %}
                                                <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.owner.profile.phone }}">{{ agency.owner.profile.phone }}</a></li>
                                            {% endif %}
                                            {% if agency.owner.profile.cellphone %}
                                                <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.owner.profile.cellphone }}">{{ agency.owner.profile.cellphone }}</a></li>
                                            {% endif %}
                                            {% if agency.owner.username %}
                                                <li><i class="fa fa-envelope-o"></i> <a href="mailto:{{ agency.owner.username }}">{{ agency.owner.username }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% if agency.responsible %}
                                        <div class="{{ col }} profile-info">
                                            <h4>Responsable : <strong>{{ agency.responsible }}</strong></h4>
                                            <ul class="list-unstyled">
                                                {% if agency.responsible.profile.phone %}
                                                    <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.responsible.profile.phone }}">{{ agency.responsible.profile.phone }}</a></li>
                                                {% endif %}
                                                {% if agency.responsible.profile.cellphone %}
                                                    <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.responsible.profile.cellphone }}">{{ agency.responsible.profile.cellphone }}</a></li>
                                                {% endif %}
                                                {% if agency.responsible.username %}
                                                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:{{ agency.responsible.username }}">{{ agency.responsible.username }}</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if agency.contact %}
                                        <div class="{{ col }} profile-info">
                                            <h4>Contact : <strong>{{ agency.contact }}</strong></h4>
                                            <ul class="list-unstyled">
                                                {% if agency.contact.profile.phone %}
                                                    <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.contact.profile.phone }}">{{ agency.contact.profile.phone }}</a></li>
                                                {% endif %}
                                                {% if agency.contact.profile.cellphone %}
                                                    <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.contact.profile.cellphone }}">{{ agency.contact.profile.cellphone }}</a></li>
                                                {% endif %}
                                                {% if agency.contact.username %}
                                                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:{{ agency.contact.username }}">{{ agency.contact.username }}</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="{{ col }} profile-info">
                                        {% if agency.commercial %}
                                            <h4>Commercial : <strong>{{ agency.commercial }}</strong></h4>
                                            <ul class="list-unstyled">
                                                {% if agency.commercial.profile.phone %}
                                                    <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.commercial.profile.phone }}">{{ agency.commercial.profile.phone }}</a></li>
                                                {% endif %}
                                                {% if agency.commercial.profile.cellphone %}
                                                    <li><i class="fa fa-phone"></i> <a href="tel:{{ agency.commercial.profile.cellphone }}">{{ agency.commercial.profile.cellphone }}</a></li>
                                                {% endif %}
                                                {% if agency.commercial.username %}
                                                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:{{ agency.commercial.username }}">{{ agency.commercial.username }}</a></li>
                                                {% endif %}
                                            </ul>
                                        {% else %}
                                            <h4>Commercial : <strong>-</strong></h4>
                                            <p>Un commercial vous sera affecté par nos équipes dans les jours à venir.</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% include 'EenovDefaultBundle:Front:_form_result.html.twig' %}
                                {% block tabs %}
                                    <div class="tabbable tabbable-custom tabbable-custom-profile">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="javascript:return false;">{{ title() }}</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active">{{ block('content') }}</div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        {#<div class="page-footer">#}
        {#<div class="page-footer-inner">{{ 'now'|date('Y') }} © <a href="https://www.eenov.com/" target="_blank">Eenov</a>.</div>#}
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        {#</div>#}
        <script type="text/javascript">var oxioneo = {{ oxioneo|json_encode|raw }};</script>
        <!--[if lt IE 9]>
        {% javascripts'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/respond.min.js''bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/excanvas.min.js'output='bundles/back_ie9.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
        <![endif]-->
        {% javascripts
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-1.11.0.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-migrate-1.2.1.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap/js/bootstrap.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery.blockui.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery.cokie.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/uniform/jquery.uniform.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/js/jquery.fileupload.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/select2/select2.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/scripts/metronic.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/scripts/layout.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/moment.min.js'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/fullcalendar.min.js'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/lang/fr.js'
        'bundles/eenovdefault/js/back.js'
        'bundles/eenovdefault/js/google.js'
        'bundles/eenovagency/js/agency.js'
        output='bundles/agency.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block scripts %}{% endblock %}
    </body>
</html>