{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminemail_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm"></th>
                <th class="sm">#</th>
                <th>Sujet</th>
            </tr>
        </thead>
        <tbody>
            {% for id,email in emails %}
                <tr>
                    <td>{{ link('eenov_admin_adminemail_read',{email:id},{class:'btn btn-default btn-xs green-stripe'}) }}</td>
                    <td>{{ id }}</td>
                    <td>{{ email.subject }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun email trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}