{% extends 'EenovAdminBundle:AdminEmail:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminemail_read',{email:id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <iframe id="email" src="{{ path('eenov_admin_adminemail_iframe',{email:id}) }}"></iframe>
{% endblock %}