{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Une nouvelle demande d'accès à l'enchère {{ bid.title }} a été formulée.
    </p>
    <p style="{{ p_style }}">
        Vous devez décider si oui ou non vous laissez cet utilisateur participer à la vente
        sur la page suivante : <a href="{{ url('eenov_agency_agencyaccess_index',{agency:bid.agency.id,bid:bid.id}) }}">{{ url('eenov_agency_agencyaccess_index',{agency:bid.agency.id,bid:bid.id}) }}</a>.
    </p>
{% endblock %}