{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Votre accès à l'enchère {{ bid.title }} n'a pas
        été validé.
    </p>
{% endblock %}