{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var agency \Eenov\DefaultBundle\Entity\Agency #}
    <p style="{{ p_style }}">
        L'agence suivante vient d'être créée :
    </p>
    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td><a href="{{ url('eenov_admin_adminagency_update',{agency:agency.id}) }}">{{ agency.name }}</a></td>
            </tr>
            <tr>
                <th>Nom (afichage)</th>
                <td>{{ agency.displayName|default('-') }}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ agency.id }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td><a href="{{ url('eenov_admin_adminuser_update',{user:agency.owner.id}) }}">{{ agency.owner }}</a></td>
            </tr>
            <tr>
                <th>Commercial</th>
                <td>
                    {% if agency.commercial %}
                        <a href="{{ url('eenov_admin_adminuser_update',{user:agency.commercial.id}) }}">{{ agency.commercial }}</a>
                    {% else %}
                        <strong>Aucun</strong>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>
                    {% if agency.responsible %}
                        <a href="{{ url('eenov_admin_adminuser_update',{user:agency.responsible.id}) }}">{{ agency.responsible }}</a>
                    {% else %}
                        <strong>Aucun</strong>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>
                    {% if agency.contact %}
                        <a href="{{ url('eenov_admin_adminuser_update',{user:agency.contact.id}) }}">{{ agency.contact }}</a>
                    {% else %}
                        <strong>Aucun</strong>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ agency.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ agency.phone }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ agency.type }}</td>
            </tr>
            <tr>
                <th>SIRET</th>
                <td>{{ agency.siret|default('-') }}</td>
            </tr>
            <tr>
                <th>RCS</th>
                <td>{{ agency.rcs|default('-') }}</td>
            </tr>
            <tr>
                <th>Numéro carte professionnelle</th>
                <td>{{ agency.cardNumber|default('-') }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td>
                    {% if agency.website %}
                        <a href="{{ agency.website }}">{{ agency.website }}</a>
                    {% else %}
                        <strong>Aucun</strong>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
