{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Une nouvelle offre a été enregistrée sur {{ bid.title }}.
    </p>
    <p style="{{ p_style }}">
        Pour faire une meilleure offre d'achat merci de vous rendre sur
        <a href="{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}">{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}</a>.
    </p>
{% endblock %}
