{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        L'enchère {{ bid.title }} est terminée !
    </p>
    <p style="{{ p_style }}">
        L'agence vous contactera dans les plus brefs délais pour vous informer
        si votre offre est acceptée par le vendeur.
    </p>
{% endblock %}
