{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Nous vous rappellons que vous êtes inscrit à l'enchère de
        <a href="{{ url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}">{{ bid.title }}</a>
        qui aura lieu {{ text }} du {{ bid.sellStarted.format('d/m/Y à H:i') }} au {{ bid.sellRealEnded.format('d/m/Y à H:i') }}.
    </p>
    <p style="{{ p_style }}">
        Nous vous donnons rendez-vous dans la salle des ventes à l'adresse suivante :
    </p>
    <p style="{{ p_style }}text-align:center;">
        <a href="{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}">{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}</a>
    </p>
{% endblock %}
