{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Plus que {{ text|default('2 heures') }} avant la fin de l'enchère {{ bid.title }}.
    </p>
    <p style="{{ p_style }}">
        Nous vous donnons rendez-vous dans la salle des ventes à l'adresse suivante :
        <a href="{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}">{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}</a>.
    </p>
{% endblock %}
