{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Une validation est demandée pour l'annonce {{ bid.title }}. Rendez-vous sur la page de validation
        <a href="{{ url('eenov_admin_adminbid_validate',{bid:bid.id}) }}">{{ url('eenov_admin_adminbid_validate',{bid:bid.id}) }}</a>.
    </p>
{% endblock %}
