{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    {# @var contact \Eenov\DefaultBundle\Entity\Contact #}
    {# @var agency \Eenov\DefaultBundle\Entity\Agency #}
    {% set url = url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) %}
    <p style="{{ p_style }}"><em>Ce message est une copie du mail envoyé à l'agence {{ agency.name }}.</em></p>
    <p style="{{ p_style }}"><strong>Nouveau message de</strong> {{ contact.lastname }} {{ contact.firstname }} (<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>)</p>
    <p style="{{ p_style }}"><strong>Sujet</strong> : {{ contact.subject }}</p>
    <p style="{{ p_style }}"><strong>Type</strong> : {{ contact.typeName }}</p>
    <p style="{{ p_style }}"><strong>Annonce</strong> : <a href="{{ url }}">{{ url }}</a></p>
    <p style="{{ p_style }}"><strong>Téléphone</strong> : {% if contact.phone %}<a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>{% else %}-{% endif %}</p>
    <p style="{{ p_style }}">{{ contact.message|nl2br }}</p>
{% endblock %}
