{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">Une annonce attend votre validation sur Oxioneo</p>
{% endblock %}
