{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <p style="{{ p_style }}">
        Votre annonce {{ bid.title }} a été validée. Rendez-vous sur la page de consultation
        <a href="{{ url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}">{{ url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}</a>.
    </p>
    <p style="{{ p_style }}">
        Description de votre bien :
    </p>
    <hr>
    <p style="{{ p_style }}white-space: pre-wrap;">
        {{- include('EenovAdminBundle:AdminBid:_text.txt.twig',{bid:bid,advert:bid.publish},{with_context:false}) -}}
    </p>
    <hr>
{% endblock %}
