{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var contact \Eenov\DefaultBundle\Entity\Contact #}
    <p style="{{ p_style }}">Nouveau message de {{ contact.lastname }} {{ contact.firstname }} (<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>)</p>
    <p style="{{ p_style }}">{{ contact.subject }} ({{ contact.typeName }})</p>
    <p style="{{ p_style }}">Téléphone: {% if contact.phone %}<a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>{% else %}-{% endif %}</p>
    <p style="{{ p_style }}">{{ contact.message|nl2br }}</p>
{% endblock %}
