{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <p style="{{ p_style }}">
        Nous sommes heureux de vous accueillir sur le site OXIONEO-IMMO.COM.
    </p>
    <p style="{{ p_style }}">
        Avant de pouvoir profiter pleinement de votre compte, merci de bien vouloir valider votre adresse mail en cliquant sur le lien suivant :
    </p>
    <p style="{{ p_style }}">
        <a href="{{ url('eenov_default_default_validate',{user:user.id,key:user.key}) }}" title="Confirmez votre mail" style="color: #14b0a1;">{{ url('eenov_default_default_validate',{user:user.id,key:user.key}) }}</a>
    </p>
{% endblock %}
