<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ subject }}</title>
    </head>
    <body style="margin: 0; padding: 0; background-color: #ffffff;">
        <div style="margin: 0; padding: 0; width: 100%; height: 100%; background-color: #ffffff;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" style="border: 0 none; border-collapse: collapse; width: 602px; margin: 20px auto; padding: 0; font-family: Arial, Sans-serif;">
                <tbody>
                    <tr>
                        <td style="vertical-align: middle; text-align: center; padding: 0 0 10px 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                            <table cellpadding="0" cellspacing="0" align="center" style="border: 1px solid #cccccc; border-collapse: collapse; width: 600px; margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 12px;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center; padding: 0; font-family: Arial, Sans-serif; font-size: 12px; color: #ffffff; background-color: #2d2628;">
                                            <h1 style="text-align: center; padding: 0; margin: 0; font-family: Arial, Sans-serif; font-size: 18px; color: #ffffff; font-weight: bold;">
                                                <a href="{{ url('eenov_default_default_index') }}" title="Oxioneo-immo.com, le premier site indépendant d'enchères immobilières">
                                                    <img src="{{ oxioneo }}" alt="Oxioneo-immo.com, le premier site indépendant d'enchères immobilières" style="width: 600px; height: 93px;"/>
                                                </a>
                                            </h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; padding: 15px; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628; {% block backgroud_color %}background-color: #f6f6f6;{% endblock %}">
                                            {% block subject %}
                                                <h2 style="text-align: center; padding: 10px 0; font-family: Arial, Sans-serif; font-size: 16px; color: #2d2628; font-weight: bold; border-top: 2px solid #f3bb17; border-bottom: 2px solid #f3bb17; margin: 15px 0;">
                                                    {{ subject }}
                                                </h2>
                                            {% endblock %}
                                            {% block hello %}
                                                <img src="{{ bonjour }}" alt="Bonjour," style="width: 130px; height: 35px; margin: 10px 0;"/>
                                                <br/>
                                            {% endblock %}
                                            {{ block('content') }}
                                            {% block greetings %}
                                                <p style="{{ p_style }}">
                                                    Cordialement,
                                                    <br/>
                                                    <br/>
                                                    L'équipe Oxioneo
                                                </p>
                                            {% endblock %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; padding: 15px; font-family: Arial, Sans-serif; font-size: 12px; color: #ffffff; background-color: #14b0a1;">
                                            <a href="{{ facebook_uri }}" title="Nous suivre sur Facebook" target="_blank" style="color: #14b0a1;">
                                                <img src="{{ facebook }}" alt="Nous suivre sur Facebook" style="width: 44px; height: 44px; margin-right: 10px;"/>
                                            </a>
                                            <a href="{{ google_uri }}" title="Nous suivre sur Google+" target="_blank" style="color: #14b0a1;">
                                                <img src="{{ google }}" alt="Nous suivre sur Google+" style="width: 44px; height: 44px; margin-right: 10px;"/>
                                            </a>
                                            <a href="{{ twitter_uri }}" title="Nous suivre sur Twitter" target="_blank" style="color: #14b0a1;">
                                                <img src="{{ twitter }}" alt="Nous suivre sur Twitter" style="width: 44px; height: 44px; margin-right: 10px;"/>
                                            </a>
                                            <a href="{{ pinterest_uri }}" title="Nous suivre sur Pinterest" target="_blank" style="color: #14b0a1;">
                                                <img src="{{ pinterest }}" alt="Nous suivre sur Pinterest" style="width: 44px; height: 44px;"/>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: center; padding: 0 0 20px 0; font-family: Arial, Sans-serif; font-size: 10px; color: #2d2628;">
                            Mail automatique, merci de ne pas répondre.<br/>
                            Envoyé depuis <a href="{{ url('eenov_default_default_index') }}" title="Oxioneo-immo.com, le premier site indépendant d'aenchères immobilières" style="color: #14b0a1;">OXIONEO-IMMO.COM</a>
                            {#- <a href="#" title="Préférences d'email" style="color: #14b0a1;">Préférences d'email</a>.#}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
