{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var mandate \Eenov\DefaultBundle\Entity\Mandate #}
    <p style="{{ p_style }}">
        Vous avez demandé à participer à l'enchère de
        <a href="{{ url('eenov_default_bid_read',{bid:mandate.bid.id,slug:mandate.bid.slug}) }}">{{ mandate.bid.title }}</a>.
    </p>
    <p style="{{ p_style }}">
        Nous vous invitons à vous rendre sur OXIONEO-IMMO.COM
        afin de créer et remplir votre profil pour valider votre participation.
    </p>
{% endblock %}
