{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var moneyIn \Eenov\DefaultBundle\Entity\MoneyIn #}
    <p style="{{ p_style }}">
        La transaction suivante vient d'être modifiée :
    </p>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ moneyIn.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td><a href="{{ url('eenov_admin_adminuser_update',{user:moneyIn.user.id}) }}">{{ moneyIn.user }}</a></td>
            </tr>
            <tr>
                <th>Pack</th>
                <td>{{ moneyIn.pack }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ moneyIn.code|default('-') }}</td>
            </tr>
            <tr>
                <th>Nombre de slot</th>
                <td>{{ moneyIn.slotCount }}</td>
            </tr>
            <tr>
                <th>Prix par slot</th>
                <td>{{ moneyIn.pricePerSlot|price('HT') }}</td>
            </tr>
            <tr>
                <th>Durée du slot</th>
                <td>{{ moneyIn.slotDurationInDays }}</td>
            </tr>
            <tr>
                <th>Validé</th>
                <td>{{ moneyIn.validated ? moneyIn.validated|date('d/m/Y H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>Annulé</th>
                <td>{{ moneyIn.canceled ? moneyIn.canceled|date('d/m/Y H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>En erreur</th>
                <td>{{ moneyIn.errored ? moneyIn.errored|date('d/m/Y H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>Validé</th>
                <td>{{ moneyIn.validated ? moneyIn.validated|date('d/m/Y H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>ID de la transaction</th>
                <td>{{ moneyIn.transactionId }}</td>
            </tr>
            <tr>
                <th>Montant de la transaction</th>
                <td>{{ moneyIn.transactionAmount|price }}</td>
            </tr>
            <tr>
                <th>Message de la transaction</th>
                <td>{{ moneyIn.transactionMessage }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
