{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <p style="{{ p_style }}">
        Vous avez demandé à réinitialiser votre mot de passe.
        Merci de vous rendre à l'adresse suivante
        <a href="{{ url('eenov_default_default_reset',{user:user.id,key:user.salt}) }}">{{ url('eenov_default_default_reset',{user:user.id,key:user.salt}) }}</a>.
    </p>
{% endblock %}