{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    <p style="{{ p_style }}">
        Votre mot de passe a changé sur Oxioneo.
        Si vous n'avez pas effectué cette modification, merci de contacter le support.
    </p>
{% endblock %}