{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var search \Eenov\DefaultBundle\Entity\Search #}
    {# @var adverts \Eenov\DefaultBundle\Entity\Advert[] #}
    {# @var adverts \Doctrine\ORM\Tools\Pagination\Paginator #}
{% endblock %}