{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block content %}
    {# @var agency \Eenov\DefaultBundle\Entity\Agency #}
    {# @var slots \Eenov\DefaultBundle\Entity\Slot[] #}
{% endblock %}