{% extends 'EenovDefaultBundle:Email:layout.html.twig' %}

{% block subject %}{% endblock %}

{% block hello %}{% endblock %}

{% block greetings %}{% endblock %}

{% block backgroud_color %}background-color: #ffffff;{% endblock %}

{% block content %}
    {# @var user \Eenov\DefaultBundle\Entity\User #}
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="border: 0 none; border-collapse: collapse; width: 560px; margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 12px;">
        <tbody>
            <tr>
                <td style="text-align: left; padding: 0 0 10px 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="border: 0 none; border-collapse: collapse; width: 560px; margin: 0; padding: 0; font-family: Arial, Sans-serif; font-size: 14px;">
                        <tbody>
                            <tr>
                                <td style="text-align: center; padding: 0 0 20px 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <img src="{{ process }}" alt="Process Acquéreur" style="width: 560px; height: 40px;"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; padding: 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <a href="{{ url('eenov_default_default_index') }}" title="oxioneo-immo.com">
                                        <img src="{{ step1 }}" alt="Process Acquéreur" style="width: 560px; height: 70px; border:none;"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px; background-color:#f6f6f6; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <ul style="font-family: Arial, Sans-serif; font-size: 14px; color: #2d2628;">
                                        <li>Je m'inscris sur <a href="{{ url('eenov_default_default_register') }}" title="oxioneo-immo.com">oxioneo-immo.com</a> puis je remplis les champs et je clique sur <b><a href="{{ url('eenov_default_default_register') }}" title="oxioneo-immo.com">je m'inscris</a></b>.</li>
                                        <li>Je reçois alors un mail avec un lien sur lequel je clique à nouveau</li>
                                        <li>Mon mail est alors validé et je peux donc compléter mon profil, c'est obligatoire pour accéder à la salle des ventes.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; padding: 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <a href="{{ url('eenov_default_default_index') }}" title="oxioneo-immo.com">
                                        <img src="{{ step2 }}" alt="Process Acquéreur" style="width: 560px; height: 70px;"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px; background-color:#f6f6f6; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <ul style="font-family: Arial, Sans-serif; font-size: 14px; color: #2d2628;">
                                        <li>Je clique sur l'annonce du bien que j'ai visité puis sur <b>participer à l'enchère</b>.</li>
                                        <li>Une fois dans la salle des offres d'achat je clique sur <b>demander l'accès</b>.</li>
                                        <li>Je suis alors informé par mail que ma participation a été validée par l'agence.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; padding: 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <a href="{{ url('eenov_default_default_index') }}" title="oxioneo-immo.com">
                                        <img src="{{ step3 }}" alt="Process Acquéreur" style="width: 560px; height: 70px;"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px; background-color:#f6f6f6; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <ul style="font-family: Arial, Sans-serif; font-size: 14px; color: #2d2628;">
                                        <li>Je reçois un mail m'informant que l'enchère va débuter.</li>
                                        <li>Dans la salle des offres, je peux alors faire une offre d'achat par palier simple, palier double ou bien par une offre unique (<a href="{{ path('eenov_default_default_faq') }}">détails dans la FAQ</a>).</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; padding: 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <a href="{{ url('eenov_default_default_index') }}" title="oxioneo-immo.com">
                                        <img src="{{ step4 }}" alt="Process Acquéreur" style="width: 560px; height: 70px;"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px; background-color:#f6f6f6; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <ul style="font-family: Arial, Sans-serif; font-size: 14px; color: #2d2628;">
                                        <li>Pour faire une offre soit je sélectionne l'un des 2 paliers indiqués puis je clique sur envoyer ou bien j'écris en chiffres dans le champs "offre unique" le montant auquel je souhaite faire mon offre et je clique également sur <strong>envoyer</strong> pour valider mon offre.</li>
                                        <li>Lorsqu'une offre supérieure à la mienne a été positionnée je reçois un mail me l'indiquant. Si je souhaite faire une autre offre je dois me rendre à nouveau dans la salle des offres et cliquer sur le palier qui me convient puis sur le bouton <strong>envoyer</strong>.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; padding: 0; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <a href="{{ url('eenov_default_default_index') }}" title="oxioneo-immo.com">
                                        <img src="{{ step5 }}" alt="Process Acquéreur" style="width: 560px; height: 70px;"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" padding: 20px; background-color:#f6f6f6; font-family: Arial, Sans-serif; font-size: 12px; color: #2d2628;">
                                    <ul style="font-family: Arial, Sans-serif; font-size: 14px; color: #2d2628;">
                                        <li>Dans le cas d'une offre unique, je fais le choix d'envoyer une offre au vendeur et donc je n'ai plus la possibilité de participer à l'enchère.</li>
                                        <li>L'enchère se termine à l'heure prévue si aucune offre n'a été faite dans les 4 dernières minutes.</li>
                                        <li>Pour des soucis d'égalité entre tous, si une offre est faite dans les 4 dernières minutes, la fin de l'enchère sera repoussée de 4 minutes à chaque nouvelle offre.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; padding: 10px 0 10px 0; font-family: Arial, Sans-serif; font-size: 11px; color: #2d2628;">
                    <img src="{{ hr }}" alt=" " style="width: 560px; height: 2px;"/>
                    <p style="text-align: justify; padding: 0; margin: 10px 0 10px 0; font-family: Arial, Sans-serif; font-size: 11px; color: #2d2628;">
                        OXIONEO-IMMO.COM est née dans l'esprit du binôme que forment Laure Henriot et Julien Gautier, agents immobiliers depuis plusieurs années à
                        Bordeaux(33), au vu de la salle des ventes virtuelle conçue par le Conseil Supérieur du Notariat. Ce concept leur a donné matière à réfléchir
                        sur une application particulièrement destinée aux professionnels de l'immobilier. Le site est réalisé par Alexandre BENNAT dirigeant fondateur
                        de la Société web EENOV (Développement et Infogérance), sise à Mérignac(33) et également le troisième co-fondateur de la société OXIONEO-IMMO.COM.
                        <br>
                        <br>
                        Contact :
                        <a href="tel:0800407871" title="appeler oxioneo-immo.com" style="color: #14b0a1;"> 0 800 407 871</a>
                        -
                        <a href="mailto:contact@oxioneo.com" title="contact@oxioneo.com" style="color: #14b0a1;">contact@oxioneo.com</a>
                    </p>
                    <img src="{{ hr }}" alt=" " style="width: 560px; height: 2px;"/>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
