<p class="alert alert-danger">
    Temporairement et pour plus de simplicité il vous est demandé de bien vouloir créer
    les comptes des propriétaires, responsables et contacts avant de créer l'agence en
    utilisant les formulaires de création de compte à l'adresse suivante :
    <a href="{{ path('eenov_admin_adminuser_create') }}">{{ url('eenov_admin_adminuser_create') }}</a>.
</p>
<div class="form-body form-bid">
    <h3>Réseau</h3>
    <div class="row">
        <div class="col-xs-12">{{ form_row(form.mother) }}</div>
    </div>
    <h3>Informations générales</h3>
    <div class="row">
        <div class="col-xs-6">{{ form_row(form.name) }}</div>
        <div class="col-xs-6">{{ form_row(form.displayName) }}</div>
        <div class="col-xs-6">{{ form_row(form.phone) }}</div>
        <div class="col-xs-6">{{ form_row(form.email) }}</div>
        <div class="col-xs-12">{{ form_row(form.address) }}</div>
        <div class="col-xs-4">{{ form_row(form.zip) }}</div>
        <div class="col-xs-4">{{ form_row(form.city) }}</div>
        <div class="col-xs-4">{{ form_row(form.country) }}</div>
        <div class="col-xs-12">{{ form_row(form.file) }}</div>
    </div>
    <h3>Commercial, Propriétaire & Contact</h3>
    <div class="row">
        <div class="col-xs-12">{{ form_row(form.commercial) }}</div>
        <div class="col-xs-12">{{ form_row(form.owner) }}</div>
        <div class="col-xs-12">{{ form_row(form.responsible) }}</div>
        <div class="col-xs-12">{{ form_row(form.contact) }}</div>
    </div>
    {% if agency is defined %}
        <p class="alert alert-info">
            Fiche du propriétaire : {{ link('eenov_admin_adminuser_update',{user:agency.owner.id},{name:agency.owner}) }}
            {% if agency.responsible %}
                <br>
                Fiche du responsable : {{ link('eenov_admin_adminuser_update',{user:agency.responsible.id},{name:agency.responsible}) }}
            {% endif %}
            {% if agency.contact %}
                <br>
                Fiche du contact : {{ link('eenov_admin_adminuser_update',{user:agency.contact.id},{name:agency.contact}) }}
            {% endif %}
        </p>
    {% endif %}
    <h3>Détails</h3>
    <div class="row">
        <div class="col-xs-4">{{ form_row(form.type) }}</div>
        <div class="col-xs-4">{{ form_row(form.siret) }}</div>
        <div class="col-xs-4">{{ form_row(form.rcs) }}</div>
        <div class="col-xs-6">{{ form_row(form.cardNumber) }}</div>
        <div class="col-xs-6">{{ form_row(form.website) }}</div>
    </div>
    {{ form_widget(form) }}
</div>