<h2>{{ agency }}{% if agency.mother %} ({{ agency.mother }}){% endif %}</h2>
<ul>
    <li>Propriétaire : <a href="{{ path('eenov_admin_adminuser_update',{user:agency.owner.id}) }}">{{ agency.owner }}</a></li>
    {% if agency.mother %}
        <li>Agence mère : <a href="{{ path('eenov_admin_adminagency_update',{agency:agency.mother.id}) }}">{{ agency.mother }}</a></li>
    {% else %}
        <li>Agence mère : Aucune</li>
    {% endif %}
    {% if agency.responsible %}
        <li>Responsable : <a href="{{ path('eenov_admin_adminuser_update',{user:agency.responsible.id}) }}">{{ agency.responsible }}</a></li>
    {% else %}
        <li>Responsable : Aucun</li>
    {% endif %}
    {% if agency.contact %}
        <li>Contact : <a href="{{ path('eenov_admin_adminuser_update',{user:agency.contact.id}) }}">{{ agency.contact }}</a></li>
    {% else %}
        <li>Contact : Aucun</li>
    {% endif %}
    {% if agency.commercial %}
        <li>Commercial : <a href="{{ path('eenov_admin_adminuser_update',{user:agency.commercial.id}) }}">{{ agency.commercial }}</a></li>
    {% endif %}
</ul>
<ul class="nav nav-pills">
    {{ li_link('eenov_admin_adminagency_update',{agency:agency.id},{name:'Agence'}) }}
    {{ li_link('eenov_admin_adminsubscription_index',{agency:agency.id},{current:is_active('eenov_admin_adminsubscription_')}) }}
    {{ li_link('eenov_admin_adminslot_index',{agency:agency.id},{current:is_active('eenov_admin_adminslot_')}) }}
    {{ li_link('eenov_admin_adminasset_index',{agency:agency.id},{current:is_active('eenov_admin_adminasset_')}) }}
    {{ li_link('eenov_admin_adminlegal_index',{agency:agency.id},{current:is_active('eenov_admin_adminlegal_')}) }}
    {{ li_link('eenov_admin_adminbill_index',{agency:agency.id},{current:is_active('eenov_admin_adminbill_')}) }}
    {{ li_link('eenov_admin_adminagency_delete',{agency:agency.id}) }}
</ul>