{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminagency_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminagency_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    {{ form_start(filter) }}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>{{ order_by('name','Agence','ASC') }}</th>
                <th>{{ order_by('displayName','Nom commercial') }}</th>
                <th>{{ order_by('owner.lastname','Propriétaire') }}</th>
                <th>{{ order_by('responsible.lastname','Responsable') }}</th>
                <th>{{ order_by('contact.lastname','Contact') }}</th>
                <th>{{ order_by('phone','Téléphone') }}</th>
                <th>{{ order_by('email','Email') }}</th>
                <th>Mère</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
            <tr>
                <th></th>
                <th>{{ form_widget(filter.name) }}</th>
                <th>{{ form_widget(filter.displayName) }}</th>
                <th>{{ form_widget(filter.owner) }}</th>
                <th>{{ form_widget(filter.responsible) }}</th>
                <th>{{ form_widget(filter.contact) }}</th>
                <th>{{ form_widget(filter.phone) }}</th>
                <th>{{ form_widget(filter.email) }}</th>
                <th></th>
                <th>{{ link(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'),{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</th>
                <th><button type="submit" class="btn btn-default btn-xs purple-stripe">Filtrer</button></th>
            </tr>
        </thead>
        <tbody>
            {% for agency in paginator %}
                <tr>
                    <td>{{ agency.id }}</td>
                    <td>{{ agency.name }}</td>
                    <td>{{ agency.displayName|default('-') }}</td>
                    <td><a href="{{ path('eenov_admin_adminuser_update',{user:agency.owner.id}) }}">{{ agency.owner }}</a></td>
                    <td>
                        {% if agency.responsible %}
                            <a href="{{ path('eenov_admin_adminuser_update',{user:agency.responsible.id}) }}">{{ agency.responsible }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if agency.contact %}
                            <a href="{{ path('eenov_admin_adminuser_update',{user:agency.contact.id}) }}">{{ agency.contact }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td><a href="tel:{{ agency.phone }}">{{ agency.phone }}</a></td>
                    <td><a href="mailto:{{ agency.email }}">{{ agency.email }}</a></td>
                    <td>
                        {% if agency.mother %}
                            {{ link('eenov_admin_adminagency_update',{agency:agency.mother.id},{name:agency.mother}) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ link('eenov_admin_adminagency_update',{agency:agency.id},{name:'Ouvrir',class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminagency_delete',{agency:agency.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucune agence trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form_end(filter) }}
{% endblock %}