{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Un problème est survenu{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="register" class="col-md-8 col-md-offset-2 white">
                <h1>{{ block('title') }}</h1>
                <p>
                    Une erreur {{ status_code }} est survenue. Si le problème persiste, merci de contacter
                    le support en utilisant le formulaire de <a href="{{ path('eenov_default_default_contactus') }}">contact</a>.
                </p>
                <p class="alert alert-danger">{{ status_text }}</p>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
