{% extends 'EenovAdminBundle:AdminVisit:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminvisit_create',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminvisit_index',{bid:bid.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="create" type="submit" class="btn btn-default btn-xs green-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}