{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminvisit_index',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminvisit_create',{bid:bid.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Date</th>
                <th>Début</th>
                <th>Fin</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for visit in paginator %}
                <tr>
                    <td>{{ visit.id }}</td>
                    <td>{{ visit.date|dateago }}</td>
                    <td>{{ visit.started.format('H:i') }}</td>
                    <td>{{ visit.ended.format('H:i') }}</td>
                    <td>{{ link('eenov_admin_adminvisit_update',{bid:bid.id,visit:visit.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminvisit_delete',{bid:bid.id,visit:visit.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun accès trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}