{% extends 'EenovAdminBundle:AdminDocumentType:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_admindocumenttype_delete',{type:type.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <h2>{{ type }}</h2>
    <p class="alert alert-danger">Êtes-vous certain de vouloir supprimer {{ type }} ?</p>
    <p class="alert alert-danger">Tous les documents de type {{ type }} seront supprimés.</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_admindocumenttype_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="delete" type="submit" class="btn btn-default btn-xs red-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}