{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <div id="documents">
        <div class="row">
            <div class="col-xs-9">
                <form class="form-inline" role="form" enctype="multipart/form-data">
                    <h3><label for="type">Télécharger un document</label></h3>
                    <div class="form-group">
                        <select id="type" name="type" class="bootstrap-select form-control" style="width:500px;">
                            <option value="">Choisir un type de document</option>
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="btn btn-success fileinput-button">
                            <span>Charger des documents</span>
                            <input id="documents-upload" data-uri="{{ path('eenov_agency_agencydocument_upload',{agency:agency.id,bid:bid.id}) }}" type="file" name="file" multiple/>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-xs-3">
                <p class="alert alert-info">
                    Si le type de document que vous recherchez n'existe pas, n'hésitez à contacter le
                    support à l'adresse suivante <a href="mailto:{{ email_contact }}">{{ email_contact }}</a>.
                </p>
            </div>
        </div>
        <div id="progress-documents" class="progress margin-top-20">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <br>
        <br>
        <div id="content-documents"></div>
        <ul class="list-inline">
            <li>
                <a href="{{ path('eenov_agency_agencydocument_zip',{agency:agency.id,bid:bid.id,_format:'zip'}) }}" class="btn btn-default">
                    <span class="fa fa-download"></span> Télécharger tous les documents
                </a>
            </li>
        </ul>
        {% set title = null %}
        {% set subtitle = null %}
        {% for type in types %}
            {% if type.title != title %}
                {% if type.title and title %}
                    </tbody>
                    </table>
                {% endif %}
                <table class="table table-striped table-bordered table-hover" style="vertical-align:sub;">
                <thead>
                    <tr role="row" class="heading">
                        <th width="60%">{{ type.title }}</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody id="documents_{{ type.id }}" class="documents">
                {% set title = type.title %}
            {% endif %}
            {% if type.subtitle and type.subtitle != subtitle %}
                <tr class="childs">
                    <td class="link" colspan="4">{{ type.subtitle }}</td>
                </tr>
                {% set subtitle = type.subtitle %}
            {% endif %}

            {% set documents = bid.draft.documentsOfType(type) %}
            {% for document in documents %}
                <tr{{ type.subtitle ? ' class="child"' : '' }}>
                    {% if loop.first %}
                        <td class="link" rowspan="{{ loop.length }}">
                            <button type="button" class="btn btn-xs add" data-type="{{ type.id }}"><i class="fa fa-plus"></i></button> {{ type.name }}</td>
                    {% endif %}
                    <td class="text-nowrap">
                        <strong>{{ document.filename }}</strong>
                    </td>
                    <td class="text-nowrap">
                        <a href="{{ path('eenov_default_document_download',{document:document.id,_format:document.extension}) }}" class="btn btn-xs btn-default">
                            <i class="fa fa-download"></i> Télécharger
                        </a>
                    </td>
                    <td class="text-nowrap">
                        <a href="{{ path('eenov_agency_agencydocument_delete',{agency:agency.id,bid:bid.id,document:document.id}) }}" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash-o"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr{{ type.subtitle ? ' class="child"' : '' }}>
                    <td class="link">
                        <button type="button" class="btn btn-xs add" data-type="{{ type.id }}"><i class="fa fa-plus"></i></button> {{ type.name }}</td>
                    <td colspan="3"></td>
                </tr>
            {% endfor %}
            {% if loop.last %}
                </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/eenovagency/js/agency-document.js') }}"></script>
{% endblock %}