<h2>{{ user }}</h2>
<ul>
    <li>Rôle : {{ user.roleName }} (en terme de sécurité)</li>
    {% for ownedAgency in user.ownedAgencies %}
        <li>Propriétaire de l'agence : {{ link('eenov_admin_adminagency_update',{agency:ownedAgency.id},{name:ownedAgency}) }}</li>
    {% endfor %}
    {% if user.agencyManaged %}
        <li>Responsable de l'agence : {{ link('eenov_admin_adminagency_update',{agency:user.agencyManaged.id},{name:user.agencyManaged}) }}</li>
    {% endif %}
    {% if user.agencyRepresented %}
        <li>Contact de l'agence : {{ link('eenov_admin_adminagency_update',{agency:user.agencyRepresented.id},{name:user.agencyRepresented}) }}</li>
    {% endif %}
</ul>
<ul class="nav nav-pills">
    {{ li_link('eenov_admin_adminuser_update',{user:user.id}) }}
    <li{{ if_active('eenov_admin_adminuser_profile') }}>
        <a href="{{ path('eenov_admin_adminuser_profile',{id:user.id}) }}">Profil</a>
    </li>
    {{ li_link('eenov_admin_adminuser_password',{user:user.id}) }}
    {{ li_link('eenov_admin_adminuser_delete',{user:user.id}) }}
    {{ li_link('eenov_default_default_index',{_switch_user:user.username},{name:'',ficon:'key'}) }}
</ul>
