{% extends 'EenovAdminBundle:AdminUser:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminuser_delete',{user:user.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminUser:_nav.html.twig' %}
    <p class="alert alert-danger">Êtes-vous certain de vouloir supprimer {{ user }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminuser_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="delete" type="submit" class="btn btn-default btn-xs red-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}