{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminuser_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminuser_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    {{ form_start(filter) }}
    <table class="{{ table_class }}">
        <thead class="text-center">
            <tr>
                <th class="sm">#</th>
                <th class="sm">Compte</th>
                <th class="sm">Type</th>
                <th class="sm">Agence</th>
                <th>{{ order_by('lastname','Nom') }}</th>
                <th>{{ order_by('firstname','Prénom') }}</th>
                <th>{{ order_by('username','Email','ASC') }}</th>
                <th>{{ order_by('created','Inscription') }}</th>
                <th class="sm">Email validé ?</th>
                <th class="sm">Profil renseigné ?</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>{{ form_widget(filter.role) }}</th>
                <th></th>
                <th>{{ form_widget(filter.lastname) }}</th>
                <th>{{ form_widget(filter.firstname) }}</th>
                <th>{{ form_widget(filter.username) }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ link(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'),{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</th>
                <th><button type="submit" class="btn btn-default btn-xs purple-stripe">Filtrer</button></th>
            </tr>
        </thead>
        <tbody>
            {% for user in paginator %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td class="text-center">{{ link('eenov_default_default_index',{_switch_user:user.username},{name:'',ficon:'key'}) }}</td>
                    <td class="sm">{{ user.roleName }}</td>
                    <td class="text-center">
                        {% if user.agency %}
                            <a href="{{ path('eenov_admin_adminagency_update',{agency:user.agency.id}) }}" type="{{ user.agency }}"><span class="fa fa-arrow-right"></span></a>
                        {% endif %}
                    </td>
                    <td>{{ user.lastname|upper }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.created|timeago }}</td>
                    <td class="sm text-center">{{ (user.key is null)|yes_no_icon }}</td>
                    <td class="sm text-center">{{ user.profile.isValid()|yes_no_icon }}</td>
                    <td>{{ link('eenov_admin_adminuser_update',{user:user.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminuser_delete',{user:user.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun utilisateur trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form_end(filter) }}
{% endblock %}
