{% extends 'EenovAdminBundle:AdminUser:update.html.twig' %}

{% block title %}{{ user }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><i class="fa fa-angle-right"></i> <a href="{{ path('eenov_admin_adminuser_profile',{id:user.id}) }}">{{ block('title') }}</a></li>
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminUser:_nav.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminuser_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}