{% extends 'EenovAdminBundle:AdminUser:update.html.twig' %}

{% block title %}{{ user }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><i class="fa fa-angle-right"></i> <a href="{{ path('eenov_admin_adminuser_profile',{id:user.id}) }}">{{ block('title') }}</a></li>
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminUser:_nav.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12"><h2>Informations personnelles</h2></div>
        <div class="col-xs-4">{{ form_row(form.title) }}</div>
        <div class="col-xs-4">{{ form_row(form.placeOfBirth) }}</div>
        <div class="col-xs-4">{{ form_row(form.birthday) }}</div>
        <div class="col-xs-6">{{ form_row(form.maritalStatus) }}</div>
        <div class="col-xs-6">{{ form_row(form.childCount) }}</div>
        <div class="col-xs-12"><h2>Contact</h2></div>
        <div class="col-xs-12">{{ form_row(form.address) }}</div>
        <div class="col-xs-4">{{ form_row(form.zip) }}</div>
        <div class="col-xs-4">{{ form_row(form.city) }}</div>
        <div class="col-xs-4">{{ form_row(form.country) }}</div>
        <div class="col-xs-6">{{ form_row(form.phone) }}</div>
        <div class="col-xs-6">{{ form_row(form.cellphone) }}</div>
        <div class="col-xs-12"><h2>Situation professionnelle</h2></div>
        <div class="col-xs-4">{{ form_row(form.job) }}</div>
        <div class="col-xs-4">{{ form_row(form.situation) }}</div>
        <div class="col-xs-4">{{ form_row(form.situationDate) }}</div>
        <div class="col-xs-12"><h2>Logement</h2></div>
        <div class="col-xs-4">{{ form_row(form.buyerStatus) }}</div>
        <div class="col-xs-4">{{ form_row(form.buyerStatusDate) }}</div>
        <div class="col-xs-4">{{ form_row(form.advertType) }}</div>
    </div>
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminuser_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}