{% extends 'EenovAdminBundle:AdminUser:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminuser_update',{user:user.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminUser:_nav.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminuser_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}