{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminaccess_index',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminaccess_create',{bid:bid.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th>Accès validé ?</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Accès</th>
                <th>Document de participation</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for access in paginator %}
                <tr>
                    <td>
                        {% if access.readonly %}
                            {{ true|yes_no_icon }}
                        {% else %}
                            {{ access.hasBeenValidated() ? access.isValid()|yes_no_icon :(false|yes_no_icon) }}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('eenov_admin_adminuser_update',{user:access.user.id}) }}">{{ access.user }}</a></td>
                    <td>{{ access.created|timeago }}</td>
                    <td>{{ access.readonly ? 'Spectateur' : 'Enchérisseur' }}</td>
                    <td>
                        {% if access.mandate %}
                            <a href="{{ path('eenov_admin_adminmandate_file',{bid:bid.id,mandate:access.mandate.id,_format:access.mandate.extension}) }}"><span class="fa fa-file-pdf-o"></span> Document de participation</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ link('eenov_admin_adminaccess_update',{bid:bid.id,access:access.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminaccess_delete',{bid:bid.id,access:access.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun accès trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}