{% extends 'EenovAdminBundle:AdminAround:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminaccess_update',{bid:bid.id,access:access.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <h2>{{ access }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminaccess_index',{bid:bid.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}