{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = "blog" %}

{% block title %}{{ 'Blog'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 white">
                <h1>Blog</h1>
                <div class="row">
                    {% for post in paginator %}
                        <div class="col-md-6">
                            <div class="news">
                                <div class="image-cover">
                                    <img src="{{ post.uri|imagine_filter('blog_index') }}" alt="{{ post.title }}"/>
                                </div>
                                <div class="title">
                                    <a href="{{ path('eenov_default_blog_read',{post:post.id,slug:post.slug}) }}" title="{{ post.title }}"></a>
                                    <h3>{{ post.title }}</h3>
                                    <p>{{ post.text|striptags|cut(300) }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p class="alert alert-info">
                            Il n'y a pas encore d'article dans le blog
                        </p>
                    {% endfor %}
                </div>
            </div>
            {% include 'EBDoctrineBundle::_paginator.html.twig' %}
        </div>
    </div>
{% endblock %}