{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'article' %}

{% block title %}{{ 'Blog'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 white">
                <h1>{{ post.title }}</h1>
                <p class="back"><a href="{{ path('eenov_default_blog_index') }}" title="Blog">&laquo; {{ "Revenir au blog"|trans }}</a>
                <div class="row news">
                    <div class="col-md-6">
                        <img src="{{ post.uri|imagine_filter('blog_read') }}" alt="{{ post.title }}"/>
                    </div>
                    <div class="col-md-6">
                        <p class="date">Le {{ post.created.format('d/m/Y') }}</p>
                        <div class="content">{{ post.text|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}