{% extends 'EenovAgencyBundle:AgencySubscription:index.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Fichier</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in paginator %}
                <tr>
                    <td>{{ bill.filename }}</td>
                    <td>{{ bill.created|dateago }}</td>
                    <td><a href="{{ path('eenov_agency_agencybill_file',{agency:agency.id,bill:bill.id,_format:bill.extension}) }}"><span class="fa fa-file-pdf-o"></span> Facture</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucune facture trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}