{% extends 'EenovAdminBundle:AdminAgency:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminasset_index',{agency:agency.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminasset_create',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Commentaire</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for asset in paginator %}
                <tr>
                    <td>{{ asset.id }}</td>
                    <td>{{ asset.date|dateago }}</td>
                    <td>{{ asset.amount|price }}</td>
                    <td>{{ asset.comment|default('-') }}</td>
                    <td>{{ link('eenov_admin_adminasset_update',{agency:agency.id,asset:asset.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminasset_delete',{agency:agency.id,asset:asset.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun encours financier trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}