{% extends 'EenovAdminBundle:AdminAsset:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminasset_update',{agency:agency.id,asset:asset.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <h2>{{ asset }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminasset_index',{agency:agency.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}