{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><i class="fa fa-angle-right"></i> <a href="{{ path('eenov_admin_adminimage_index',{bid:bid.id}) }}">Photos</a></li>
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <div id="pictures">
        <div id="progress-images" class="progress margin-top-20">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <div class="row">
            <div class="col-md-3" id="default">
                <h3>Photo principale</h3>
                {% if bid.draft.uri %}
                    <img src="{{ bid.draft.uri|imagine_filter('bid_default_view') }}" style="width:100%;"/>
                {% else %}
                    <p class="alert alert-info">Vous n'avez pas sélectionné de photo principale.</p>
                {% endif %}
            </div>
            <div class="col-md-9">
                <form class="form-inline" role="form" enctype="multipart/form-data">
                    <h3><label for="type">Télécharger une image</label></h3>
                    <div class="form-group">
                        <select id="type" name="type" class="input-medium bootstrap-select bs-select form-control">
                            <option value="">{{ 'Choisir un type de vue'|trans }}</option>

                            {% for imagesType in imagesTypes|sort %}
                                <option value="{{ imagesType.id }}">{{ imagesType }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                    <span class="btn btn-success fileinput-button">
                    <span>Télécharger des photos</span>

                    <input id="images-upload" type="file" name="file" multiple/>
                    </span>

                    </div>

                </form>
                <br/>
                <small>(Minimum 5 photos)</small>
            </div>
        </div>
        <div id="files" class="row"></div>
    </div>
    <script type="text/html" id="file_template">
        <div class="col-md-3">
            <h3>__TYPE__</h3>
            <img src="__IMAGE__" style="width:100%;"/>
            <a href="__DEFAULT__" class="btn col-md-6 btn-success"><i class="fa fa-pin"></i> Principale</a>
            <a href="__DELETE__" class="btn col-md-6 btn-danger"><i class="fa fa-trash-o"></i> Supprimer</a>
        </div>
    </script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var images = {{ images|json_encode|raw }},
            image_upload = '{{ image_upload }}',
            template = $('#file_template').html();
        $(document).ready(function () {
            // Load images
            $(images).each(function (i) {
                addImageLine(images[i]);
            });

            $('#pictures')
                    .on('click', '#images-upload', function (e) {
                        if ('' === $(this).closest('form').find('#type').val()) {
                            e.preventDefault();
                        }
                    })
                    .find("#images-upload").fileupload({
                        url: image_upload,
                        dataType: 'json',
                        done: function (e, data) {
                            showErrors(data.result.errors);
                            $.each(data.result.files, function (index, file) {
                                addImageLine(file);
                            });
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $('#pictures').find('#progress-images').find('.progress-bar').css('width', progress + '%');
                        }
                    });
        });

        function addImageLine(image) {
            var $node = $(template.replace('__TYPE__', image.type).replace('__IMAGE__', image.crop_uri).replace('__DELETE__', image.delete_uri).replace('__DEFAULT__', image.default_uri));
            $node
                    .attr('id', 'image' + image.id)
                    .attr('data-image', image)
                    .prependTo('#files');
        }

        function showErrors(errors) {
            if (errors) {
                $('#pictures').find('form .alert').remove();
                $.each(errors, function (index, error) {
                    $('<div>').attr('class', 'alert alert-danger').html('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button><p>' + error + '</p>').prependTo('#tab-images form');
                });
            }
        }
    </script>
{% endblock %}