{% extends 'EenovAgencyBundle:AgencyMandate:index.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_agency_agencymandate_index',{agency:agency.id,bid:bid.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li>
            <button type="submit" class="btn btn-default btn-xs green-stripe">Créer</button>
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}