{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <ul class="list-inline">
        <li>{{ link('eenov_agency_agencymandate_create',{agency:agency.id,bid:bid.id},{class:'btn btn-default btn-xs green-stripe'}) }}</li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Acheteur</th>
                <th>Email de l'acheteur</th>
                <th>Date</th>
                <th>Date de visite</th>
                <th>Document de participation</th>
                <th>Accès</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for mandate in paginator %}
                <tr>
                    <td>{{ mandate.buyer }}</td>
                    <td>{{ mandate.buyerEmail|default('-') }}</td>
                    <td>{{ mandate.created|timeago }}</td>
                    <td>{{ mandate.visited|dateago }}</td>
                    <td>
                        {% if mandate.path %}
                            <a href="{{ path('eenov_agency_agencymandate_file',{agency:agency.id,bid:bid.id,mandate:mandate.id,_format:mandate.extension}) }}"><span class="fa fa-file-pdf-o"></span> Document de participation</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ mandate.access|default('-') }}</td>
                    <td>{{ link('eenov_agency_agencymandate_delete',{agency:agency.id,bid:bid.id,mandate:mandate.id},{class:'btn btn-xs btn-default btn-block red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucun document de participation enregistré.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}
