{% extends 'EenovAgencyBundle:AgencySlot:index.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Date</th>
                <th>Fichier</th>
            </tr>
        </thead>
        <tbody>
            {% for legal in paginator %}
                <tr>
                    <td>{{ legal.filename }}</td>
                    <td>{{ legal.typeName }}</td>
                    <td>{{ legal.created|dateago }}</td>
                    <td><a href="{{ path('eenov_agency_agencylegal_file',{agency:agency.id,legal:legal.id,_format:legal.extension}) }}"><span class="fa fa-file-pdf-o"></span> Document</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucun document trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}
