{% macro pack(id,pack) %}
    <div class="row">
        <div class="col-md-12">
            <h2><span>oxioneo</span> {{ id }}</h2>
            <p>paiement sécurisé en ligne, sans engagement, utilisable pendant {{ pack.duration }} jours.&nbsp;<img src="{{ asset('bundles/eenovdefault/img/logos_paiement.jpg') }}" alt="logos paiement"/>
            </p>
        </div>
        <div class="col-md-5">
            <div class="bloc_gauche">
                <div class="bloc_bt_acheter">
                    {% if app.user %}
                        {% if is_granted('ROLE_AGENCY_OWNER') or is_granted('ROLE_AGENCY_RESPONSIBLE') %}
                            <a class="bt_acheter" href="{{ path('eenov_agency_agencyslot_go',{agency:app.user.agency.id,id:id}) }}">acheter</a>
                        {% else %}
                            <a class="bt_acheter disabled" href="#">acheter</a>
                        {% endif %}
                    {% else %}
                        <a class="bt_acheter" href="{{ path('eenov_default_default_registeragency',{pack:id}) }}">acheter</a>
                    {% endif %}
                </div>
                <div class="bloc_nb_enchere">
                    <span>{{ pack.slots }}</span>
                    <p>enchère{{ pack.slots > 1 ? 's' }}</p>
                    <p class="nota">(crédit{{ pack.slots > 1 ? 's' }})</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="bloc_droit">
                <div class="bloc_prix_offre">
                    <div class="bloc_prix_offre_contenu">
                        <p class="prix_offre">{{ pack.pricePerSlot|price('HT') }}</p>
                        {% if pack.slots > 1 %}
                            <p class="nota_offre">soit {{ (pack.pricePerSlot * pack.slots)|price }} le pack de {{ pack.slots }}</p>
                        {% endif %}
                        <p class="nota_offre_2">sans engagement</p>
                    </div>
                </div>
                <div class="bloc_liste_offre">
                    <ul>
                        <li>{{ 'formation commerciale'|trans }}</li>
                        <li>{{ 'mandat exclusif oxioneo'|trans }}</li>
                        <li>{{ 'plaquettes commerciales vendeurs et acquéreurs'|trans }}</li>
                        <li>{{ 'accés au back office'|trans }}</li>
                        <li>{{ 'documents techniques dans le cloud'|trans }}</li>
                        <li>{{ 'gestion des profils acquéreurs'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
