<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}Oxioneo, l'enchère immobilière{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="version" content="{{ deploy_timestamp }}">
        <meta name="git" content="{{ deploy_git }}">
        {% block styles %}{% endblock %}
        {% stylesheets
        'bundles/eenovdefault/css/bootstrap.min.css'
        'bundles/eenovdefault/lib/animate.css'
        'bundles/eenovdefault/lib/slick-1.3.15/slick/slick.css'
        'bundles/eenovdefault/css/agency-pack.css'
        'bundles/eenovdefault/css/style.css'
        filter='cssrewrite'
        output='bundles/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% include 'EenovDefaultBundle:Front:_favicon.html.twig' %}

        {% if not app.debug %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ google.tagmanager }}');</script>
        <!-- End Google Tag Manager -->
        {% endif %}
    </head>
    <body class="{{ body_class|default('') }} {{ app.request.attributes.get('_route') }}">
        {% block body %}
            {% include 'EenovDefaultBundle:Front:_nav.html.twig' %}
            <div id="content">
                {% block form_results %}
                    <div class="container">
                        {% include 'EenovDefaultBundle:Front:_form_result.html.twig' %}
                    </div>
                {% endblock %}
                {{ block('content') }}
            </div>
            {% include 'EenovDefaultBundle:Front:_footer.html.twig' %}
        {% endblock %}
        <script type="text/javascript">
            var oxioneo = {{ oxioneo|json_encode|raw }};
        </script>
        <!--[if lt IE 9]-->
        {% javascripts'bundles/eenovdefault/lib/html5shiv.min.js''bundles/eenovdefault/lib/respond.min.js'output='bundles/ie9.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
        <!--[endif]-->
        {% javascripts

        'bundles/eenovdefault/js/jquery.min.js'
        'bundles/eenovdefault/js/bootstrap.min.js'
        'bundles/eenovdefault/lib/slick-1.3.15/slick/slick.min.js'
        'bundles/eenovdefault/js/front/global.js'
        output='bundles/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block scripts %}{% endblock %}

        <script type="text/javascript">
            var tag = document.createElement('script');
		tag.src = 'https://www.youtube.com/player_api';
var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var tv,
		playerDefaults = {autoplay: 0, autohide: 1, modestbranding: 0, rel: 0, showinfo: 0, controls: 0, disablekb: 1, enablejsapi: 0, iv_load_policy: 3};
var vid = [
			{'videoId': '_96rzDIPEwM', 'startSeconds': 1, 'endSeconds': 1, 'suggestedQuality': 'hd720'},
		],
		randomvid = Math.floor(Math.random() * (vid.length - 1 + 1));

function onYouTubePlayerAPIReady(){
  tv = new YT.Player('tv', {events: {'onReady': onPlayerReady, 'onStateChange': onPlayerStateChange}, playerVars: playerDefaults});
}

function onPlayerReady(){
  tv.loadVideoById(vid[randomvid]);
  tv.mute();
}

function onPlayerStateChange(e) {
  if (e.data === 1){
    $('#tv').addClass('active');
  } else if (e.data === 0){
    tv.seekTo(vid[randomvid].startSeconds)
  }
}

function vidRescale(){

  var w = $(window).width()+200,
    h = $(window).height()+200;

  if (w/h > 16/9){
    tv.setSize(w, w/16*9);
    $('.tv .screen').css({'left': '0px'});
  } else {
    tv.setSize(h/9*16, h);
    $('.tv .screen').css({'left': -($('.tv .screen').outerWidth()-w)/2});
  }
}

$(window).on('load resize', function(){
  vidRescale();
});
        </script>
        
    </body>
</html>
