{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><i class="fa fa-angle-right"></i> <a href="{{ path('eenov_admin_admindocument_index',{bid:bid.id}) }}">Documents</a></li>
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <div id="documents">
        <div id="progress-documents" class="progress margin-top-20">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <form class="form-inline" role="form" enctype="multipart/form-data">
            <h3><label for="type">Télécharger un document</label></h3>
            <div class="form-group">
                <select id="type" name="type" class="bootstrap-select form-control" style="width:500px;">
                    <option value="">Choisir un type de document</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
            <span class="btn btn-success fileinput-button">
                <span>Télécharger des documents</span>
                <input id="documents-upload" type="file" name="file" multiple/>
            </span>
            </div>
        </form>
        <br>
        <br>
        <div id="content-documents"></div>
        {% set title = null %}
        {% set subtitle = null %}
        {% for type in types %}
            {% if type.title != title %}
                {% if type.title and title %}
                    </tbody>
                    </table>
                {% endif %}
                <table class="table table-striped table-bordered table-hover" style="vertical-align:sub;">
                <thead>
                    <tr role="row" class="heading">
                        <th width="60%">{{ type.title }}</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody id="documents_{{ type.id }}" class="documents">
                {% set title = type.title %}
            {% endif %}
            {% if type.subtitle and type.subtitle != subtitle %}
                <tr class="childs">
                    <td class="link" colspan="4">{{ type.subtitle }}</td>
                </tr>
                {% set subtitle = type.subtitle %}
            {% endif %}

            {% set documents = bid.draft.documentsOfType(type) %}
            {% for document in documents %}
                <tr{{ type.subtitle ? ' class="child"' : '' }}>
                    {% if loop.first %}
                        <td class="link" rowspan="{{ loop.length }}"><button type="button" class="btn btn-xs add" data-type="{{ type.id }}"><i class="fa fa-plus"></i></button> {{ type.name }}</td>
                    {% endif %}
                    <td class="text-nowrap">
                        <strong>{{ document.filename }}</strong>
                    </td>
                    <td class="text-nowrap">
                        <a href="{{ path('eenov_default_document_download',{document:document.id,_format:document.extension}) }}" class="btn btn-xs btn-default">
                            <i class="fa fa-download"></i> Télécharger
                        </a>
                    </td>
                    <td class="text-nowrap">
                        <a href="{{ path('eenov_admin_admindocument_delete',{bid:bid.id,document:document.id}) }}" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash-o"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr{{ type.subtitle ? ' class="child"' : '' }}>
                    <td class="link"><button type="button" class="btn btn-xs add" data-type="{{ type.id }}"><i class="fa fa-plus"></i></button> {{ type.name }}</td>
                    <td colspan="3"></td>
                </tr>
            {% endfor %}
            {% if loop.last %}
                </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var document_upload = '{{ document_upload }}';
        $(document).ready(function () {
            $('#type').select2();

            $('#documents')
                    .on('click', '#documents-upload', function () {
                        if ('' === $(this).closest('form').find('#type').val()) {
                            return false;
                        }
                    })
                    .on('click', '.add', function(){
                        $('#type').select2('val', $(this).data('type'));
                        $('#documents-upload').click();

                    })
                    .find("#documents-upload").fileupload({
                        url: document_upload,
                        dataType: 'json',
                        done: function () {
                            window.location.reload();
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $('#documents').find('#progress-documents').find('.progress-bar').css('width', progress + '%');
                        }
                    });
        });
    </script>
{% endblock %}