{% extends 'EenovAgencyBundle:AgencyOwner:index.html.twig' %}

{% block title %}{{ title('eenov_agency_agencyowner_create') }}{% endblock %}

{% block page_content %}
    <h1>{{ block('title') }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_agency_agencyowner_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li>
            <button type="submit" class="btn btn-default btn-xs green-stripe">Créer</button>
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}
