{% extends 'EenovAgencyBundle::layout.html.twig' %}

{% block title %}{{ title('eenov_agency_agencyowner_index') }}{% endblock %}

{% block page_content %}
    <h1>{{ block('title') }}</h1>
    <ul class="list-inline">
        <li>{{ link('eenov_agency_agencyowner_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}</li>
    </ul>
    <p class="alert alert-info">Vous ne pouvez consulter que les propriétaires qui possèdent une agence dont vous êtes commercial ou aucune agence.</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Agence(s)</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in paginator %}
                {% set canBeDisplayed = false %}
                {% for ownedAgency in user.ownedAgencies %}
                    {% if ownedAgency.commercial %}
                        {% if ownedAgency.commercial.id == app.user.id %}
                            {% set canBeDisplayed = true %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% set canBeDisplayed = true %}
                {% endfor %}
                {% if canBeDisplayed %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <ul>
                                {% for ownedAgency in user.ownedAgencies %}
                                    {% if ownedAgency.commercial.id == app.user.id %}
                                        <li><a href="{{ path('eenov_agency_agency_read',{agency:ownedAgency.id}) }}">{{ ownedAgency.displayName|default(ownedAgency.name) }}</a></li>
                                    {% else %}
                                        <li>{{ ownedAgency.displayName|default(ownedAgency.name) }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-xs btn-success" href="{{ path('eenov_agency_agencyowner_createagency',{user:user.id}) }}">Ajouter un agence</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucun propriétaire trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}
