{% if is_granted(ROLE_USER) %}
    <a href="{{ path('eenov_user_user_index') }}" title="{{ 'Mon compte'|trans }}">
        <span class="photo">
            <img src="{{ asset('bundles/eenovdefault/img/icon-user.png') }}" alt="{{ app.user }}"/>
        </span>
        <span class="sous-menu">{{ app.user.firstname }} {{ app.user.lastname|slice(0, 1) }}.</span>
    </a>
    <div class="menu-user">
        <ul>
            <li{{ if_active('eenov_user_user_') }}>
                <a href="{{ path('eenov_user_user_index') }}" title="{{ "Tableau de bord"|trans }}">{{ "Tableau de bord"|trans }}</a>
            </li>
            <li{{ if_active('eenov_user_userprofile_') }}>
                <a href="{{ path('eenov_user_userprofile_index') }}" title="{{ "Mon profil"|trans }}">{{ "Mon profil"|trans }}</a>
            </li>
            <li{{ if_active('eenov_user_userhistory_') }}>
                <a href="{{ path('eenov_user_userhistory_index') }}" title="{{ "Mon historique"|trans }}">{{ "Mon historique"|trans }}</a>
            </li>
            <li{{ if_active('eenov_user_userwishlist_') }}>
                <a href="{{ path('eenov_user_userwishlist_index') }}" title="{{ "Ma liste d\'envies"|trans }}">{{ "Ma liste d\'envies"|trans }}</a>
            </li>
            {% if is_granted(ROLE_ADMIN) %}
                <li><a href="{{ path('eenov_admin_admin_index') }}" title="Administration">Administration</a></li>
            {% endif %}
            {#{% if is_granted(ROLE_MODERATOR) %}#}
                {#<li><a href="{{ path('eenov_moderator_moderator_index') }}" title="Modération">Modération</a></li>#}
            {#{% endif %}#}
            {% if is_granted(ROLE_COMMERCIAL) %}
                <li><a href="{{ path('eenov_agency_agency_index') }}" title="Commercial">Commercial</a></li>
            {% endif %}
            {% if is_granted(ROLE_AGENCY_OWNER) or is_granted(ROLE_AGENCY_RESPONSIBLE) or is_granted(ROLE_AGENCY_CONTACT) %}
                <li><a href="{{ path('eenov_agency_agency_index') }}" title="Agence">Agence</a></li>
            {% endif %}
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li class="exit">{{ link('eenov_default_default_index',{_switch_user:'_exit'},{name:'Quitter le compte',gicon:'off'}) }}</li>
            {% endif %}
            <li>
                <a href="{{ path('logout') }}" title="{{ "Se déconnecter"|trans }}"><span class="glyphicon glyphicon-off"></span> {{ "Se déconnecter"|trans }}</a>
            </li>
        </ul>
    </div>
{% endif %}