{% if is_granted(ROLE_USER) %}
    <div id="menu-user">
        <ul class="nav navbar-nav">
            <li{{ if_active('eenov_user_user_') }}><a href="{{ path('eenov_user_user_index') }}" title="{{ "Tableau de bord"|trans }}">{{ "Tableau de bord"|trans }}</a></li>
            <li{{ if_active('eenov_user_userprofile_') }}><a href="{{ path('eenov_user_userprofile_index') }}" title="{{ "Mon profil"|trans }}">{{ "Mon profil"|trans }}</a></li>
            <li{{ if_active('eenov_user_userhistory_') }}><a href="{{ path('eenov_user_userhistory_index') }}" title="{{ "Mon historique"|trans }}">{{ "Mon historique"|trans }}</a></li>
            <li{{ if_active('eenov_user_userwishlist_') }}><a href="{{ path('eenov_user_userwishlist_index') }}" title="{{ "Ma liste d\'envies"|trans }}">{{ "Ma liste d\'envies"|trans }}</a></li>
            {% if is_granted(ROLE_ADMIN) %}
                <li class="pull-right">
                    <a class="btn btn-danger navbar-btn" href="{{ path('eenov_admin_admin_index') }}" title="{{ "Portail Administrateur"|trans }}">{{ "Portail Administrateur"|trans }}</a>
                </li>
            {% endif %}
            {% if is_granted(ROLE_AGENCY_OWNER) or is_granted(ROLE_AGENCY_RESPONSIBLE) or is_granted(ROLE_AGENCY_CONTACT) %}
                <li class="pull-right">
                    <a class="btn btn-danger navbar-btn" href="{{ path('eenov_agency_agency_index') }}" title="{{ "Portail Agence"|trans }}">{{ "Portail Agence"|trans }}</a>
                </li>
            {% endif %}
            {% if is_granted(ROLE_COMMERCIAL) %}
                <li class="pull-right">
                    <a class="btn btn-danger navbar-btn" href="{{ path('eenov_agency_agency_index') }}" title="{{ "Portail Commercial"|trans }}">{{ "Portail Commercial"|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'EenovDefaultBundle:Front:_form_result.html.twig' %}
        </div>
    </div>
{% endif %}