{% extends 'EenovUserBundle:User:index.html.twig' %}

{% block title %}Me renvoyer un email de confirmation{% endblock %}

{% block subcontent %}
    <div class="block alerts-user">
        <h3>{{ block('title') }}</h3>
        <div class="block-content">
            <p class="text-justify">
                Le code de confirmation de votre boite mail vous est transmis à l'adresse {{ app.user.username }}.
                Si cette adresse n'est pas valide, merci de la corriger sur <a href="{{ path('eenov_user_userprofile_index') }}">votre compte</a>.
            </p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
            <div class="text-center">
                <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Je souhaite de nouveau recevoir un email avec mon code de confirmation</button>
            </div>
            <br>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

