{% extends 'EenovUserBundle::layout.html.twig' %}

{% set body_class = "mon-compte dashboard" %}

{% block title %}{{ 'Tableau de bord'|trans }} - {{ 'Mon compte'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include 'EenovUserBundle:User:_nav.html.twig' %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="block infos-user">
                            <div class="block-content center">
                                <div class="avatar"><img class="rounded" src="{{ asset('bundles/eenovdefault/img/user-default.png') }}" alt="{{ app.user.firstname }} {{ app.user.lastname }}"/></div>
                                <h2>{{ app.user.fullname }}</h2>
                                <p><span class="glyphicon glyphicon-star"></span> ID : {{ app.user.id }} <span class="glyphicon glyphicon-star"></span></p>
                                <div><a class="btn btn-primary" href="{{ path('eenov_user_userprofile_index') }}" title="{{ 'Compléter mon profil'|trans }}">{{ 'Compléter mon profil'|trans }}</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        {% block subcontent %}
                            <div class="block alerts-user">
                                <h3>{{ 'Alertes'|trans }}</h3>
                                <div class="block-content">
                                    {% set alertCount = 0 %}
                                    {% if app.user.key %}
                                        {% set alertCount = alertCount + 1 %}
                                        <div class="alert alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Fermer'|trans }}</span></button>
                                            Vous n'avez pas encore validé votre adresse email. Sans cette validation, vous ne pourrez pas accéder aux salles de vente.
                                            <a class="arrow small" href="{{ path('eenov_user_user_emailmeagain') }}" title="{{ 'Renvoyer mon code par email'|trans }}">{{ 'Renvoyer mon code par email'|trans }}<span></span></a>
                                        </div>
                                    {% endif %}
                                    {#<div class="alert alert-dismissible" role="alert">#}
                                    {#<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Fermer'|trans }}</span></button>#}
                                    {#{{ 'Connectez-vous à Facebook pour simplifier le remplissage de votre profil OXIONEO-IMMO.'|trans }} <a class="arrow small" href="#" title="{{ 'Lier mon compte Facebook'|trans }}">{{ 'Lier mon compte Facebook'|trans }} <span></span></a>#}
                                    {#</div>#}
                                    {% if not app.user.profile.isValid() %}
                                        {% set alertCount = alertCount + 1 %}
                                        <div class="alert alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Fermer'|trans }}</span></button>
                                            {{ 'Votre profil n\'est pas complété, vous devez renseigner votre profil pour pouvoir participer aux récoltes d\'offres d\'achat.'|trans }}
                                            <a class="arrow small" href="{{ path('eenov_user_userprofile_profile') }}" title="{{ 'Compléter mon profil'|trans }}">{{ 'Compléter mon profil'|trans }}<span></span></a>
                                        </div>
                                    {% endif %}
                                    {#<div class="alert alert-dismissible" role="alert">#}
                                    {#<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'Fermer'|trans }}</span></button>#}
                                    {#{{ "La récolte d'offres d'achat a commencé pour"|trans }} <a href="#">Maison plein-centre - Mérignac (33)</a>. <a class="arrow small" href="#" title="{{ 'Participer'|trans }}">{{ 'Participer'|trans }} <span></span></a>#}
                                    {#</div>#}
                                    {% if not alertCount %}
                                        <p class="alert alert-info">
                                            Tout va bien !
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="block saved-search">
                                <h3>{{ 'Mes recherches sauvegardées'|trans }}</h3>
                                <div class="block-content">
                                    {% for search in searches %}
                                        <div class="row">
                                            <div class="col-xs-6 col-md-6">
                                                <ul class="list-unstyled">
                                                    {% for text in search_texts(search) %}
                                                        <li>{{ text }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-xs-6 col-md-6 center">
                                                <a href="{{ path('eenov_default_bid_index',search.filters) }}" title="{{ 'Lancer la recherche'|trans }}">
                                                    <img src="{{ asset('bundles/eenovdefault/img/user-saved-search.png') }}" alt="{{ 'Lancer la recherche'|trans }}"/>
                                                    <span>{{ 'Lancer la recherche'|trans }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <p class="alert alert-info no-margin">
                                            Vous n'avez pas encore de recherche sauvegardée.
                                        </p>
                                    {% endfor %}
                                    <div class="center">
                                        <a class="btn btn-primary" href="{{ path('eenov_user_userprofile_searches') }}" title="{{ 'Gérer mes recherches sauvegardées'|trans }}">{{ 'Gérer mes recherches sauvegardées'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
