{% extends 'EenovAgencyBundle::first.html.twig' %}

{% block title %}oxioneo - {{ pack.id }}{% endblock %}

{% block page_container %}
    {% import 'EenovDefaultBundle::_pack.html.twig' as subscriptionPack %}
    <div id="agency-first" class="agency-offers eenov_default_default_agency">
        <br>
        <br>
        <h3 class="page-title text-center">{{ block('title') }}</h3>
        <h4 class="text-center">{{ pack.slots }} crédit{{ pack.slots > 1 ? 's' }} / {{ pack.pricePerSlot|price('HT') }} par crédit / valable {{ pack.duration }} jours</h4>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-default green-stripe">Continuer vers le site de la banque</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
