{% extends 'EenovAgencyBundle:Agency:read.html.twig' %}

{% block title %}{{ title('eenov_agency_agencyslot_index') }}{% endblock %}

{% block tabs %}
    <div class="tabbable tabbable-custom tabbable-custom-profile">
        <ul class="nav nav-tabs">
            {#<li{{ current('eenov_agency_agencyslot') }}>{{ link('eenov_agency_agencyslot_index',{agency:agency.id}) }}</li>
            <li{{ current('eenov_agency_agencysubscription') }}>{{ link('eenov_agency_agencysubscription_index',{agency:agency.id}) }}</li>
            <li{{ current('eenov_agency_agencylegal') }}>{{ link('eenov_agency_agencylegal_index',{agency:agency.id}) }}</li>#}
            <li{{ current('eenov_agency_agencybill') }}>{{ link('eenov_agency_agencybill_index',{agency:agency.id}) }}</li>
        </ul>
        {% block tabcontent %}
            <div class="tab-content">
                <div class="tab-pane active">
                    {{ block('content') }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    {% if slot and not slot.id %}
        <p class="alert alert-warning">Un de <a href="{{ path('eenov_agency_agencysubscription_index',{agency:agency.id}) }}">vos abonnements</a> vous donne droit à un nombre de crédit illimité.</p>
    {% else %}
        <div class="container">
            <br>
            <br>
            <h1 class="text-center">Vous disposez de <strong class="text-success">{{ paginator.count }}</strong> crédit{{ paginator.count > 1 ? 's' }}, vous pouvez publier <strong class="text-success">{{ paginator.count }}</strong> annonce{{ paginator.count > 1 ? 's' }}</h1>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Propriétaire du crédit</th>
                        <th>Numéro</th>
                        <th>Début</th>
                        <th>Valable jusqu'au</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slot in paginator %}
                        <tr>
                            <td>{{ slot.agency }}</td>
                            <td>{{ slot.id }}</td>
                            <td>{{ slot.started|dateago }}</td>
                            <td>{{ slot.ended|dateago }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="100%">
                                <p class="alert alert-info">Aucun crédit trouvé.</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'EBDoctrineBundle::_paginator.html.twig' %}
        </div>
        {{ include('EenovAgencyBundle::_first.html.twig') }}
    {% endif %}
{% endblock %}
