{% extends 'EenovAgencyBundle::first.html.twig' %}

{% block title %}oxioneo{% endblock %}

{% block page_container %}
    <div class="container">
        <br>
        <br>
        <p class="alert alert-danger">
            Impossible de contacter la banque pour démarrer la transaction.
            <a href="{{ path('eenov_agency_agencyslot_index',{agency:agency.id}) }}">Retourner sur la page des crédits</a>.
        </p>
    </div>
{% endblock %}
