{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_admindoc_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Chemin</th>
                <th>Dernière modification</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for doc in docs %}
                <tr>
                    <td>{{ doc.name }}</td>
                    <td><a href="{{ absolute_url(doc.path) }}" target="_blank">{{ absolute_url(doc.path) }}</a></td>
                    <td>{{ doc.updated|timeago }}</td>
                    <td>{{ link('eenov_admin_admindoc_update',{type:doc.type},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
