{% extends 'EenovAdminBundle:AdminDoc:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_admindoc_update',{type:type},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <h2>Modifier le fichier "{{ name }}"</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}
