<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row padding">
                    <div class="col-sm-4">
                        <h5>{{ 'Vous recherchez un bien&nbsp;?'|trans|raw }}</h5>
                        <ul>
                            <li><a href="{{ path('eenov_default_default_index') }}" title="{{ 'Accueil'|trans }}">{{ 'Accueil'|trans }}</a></li>
                            {% if app.user and is_granted(ROLE_USER) %}
                                <li><a href="{{ path('eenov_user_user_index') }}" title="{{ 'Votre compte'|trans }}">{{ 'Votre compte'|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ path('eenov_default_default_login') }}" data-popup="{{ path('eenov_default_default_login') }}" title="{{ 'Votre compte'|trans }}">{{ 'Votre compte'|trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('eenov_default_bid_index') }}" title="{{ 'Les enchères'|trans }}">{{ 'Les enchères'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_bid_search') }}" title="{{ 'Recherche avancée'|trans }}">{{ 'Recherche avancée'|trans }}</a></li>
                            {% if not app.user or not is_granted(ROLE_USER) %}
                                <li><a href="{{ path('eenov_default_default_register') }}" data-popup="{{ path('eenov_default_default_register') }}" title="{{ 'Inscription'|trans }}">{{ 'Inscription'|trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('eenov_default_default_buyer') }}" title="{{ 'Notre offre acquéreur'|trans }}">{{ 'Notre offre acquéreur'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_default_seller') }}" title="{{ 'Notre offre vendeur'|trans }}">{{ 'Notre offre vendeur'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_default_faq') }}" title="{{ 'FAQ'|trans }}">{{ 'FAQ'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h5>{{ 'Vous êtes une agence  ?'|trans }}</h5>
                        <ul>
                            <li><a href="{{ path('eenov_default_default_agency') }}" title="{{ 'Notre offre agence'|trans }}">{{ 'Notre offre agence'|trans }}</a></li>
                            {% if not app.user or not (is_granted(ROLE_AGENCY_OWNER) or is_granted(ROLE_AGENCY_RESPONSIBLE) or is_granted(ROLE_AGENCY_CONTACT)) %}
                                <li><a href="{{ path('eenov_default_default_login') }}" data-popup="{{ path('eenov_default_default_login') }}" title="{{ 'Votre espace pro.'|trans }}">{{ 'Votre espace pro.'|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ path('eenov_agency_agency_index') }}" title="{{ 'Votre espace pro.'|trans }}">{{ 'Votre espace pro.'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h5>{{ 'Qui sommes-nous ?'|trans }}</h5>
                        <ul>
                            <li><a href="{{ path('eenov_default_default_aboutus') }}" title="{{ 'Présentation'|trans }}">{{ 'Présentation'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_blog_index') }}" title="{{ 'Blog'|trans }}">{{ 'Blog'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_default_cgu') }}" title="{{ 'Conditions d\'utilisation et confidentialité'|trans }}">{{ 'CGU'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_default_imprint') }}" title="{{ 'Mentions légales'|trans }}">{{ 'Mentions légales'|trans }}</a></li>
                            <li><a href="{{ path('eenov_default_default_contactus') }}" title="{{ 'Contactez-nous'|trans }}">{{ 'Contactez-nous'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="logos_footer row">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <a class="reseau_entreprendre" href="{{ path('eenov_default_blog_index') }}/2-laureats-reseau-entreprendre-2014" title="{{ 'Lauréat Réseau Entreprendre Aquitaine'|trans }}">
                        <span>{{ 'Blog'|trans }}</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <a class="bordeaux_entrepreneurs" href="http://www.bordeaux-entrepreneurs.com/" title="{{ 'Bordeaux Entrepreneurs'|trans }}">
                        <span>{{ 'Bordeaux Entrepreneurs'|trans }}</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">

                        <img src="{{ asset('bundles/eenovdefault/img/responsive.png') }}" alt="{{ 'picto responsive'|trans }}"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 footer-infos">
                <img src="{{ asset('bundles/eenovdefault/img/footer-logo.png') }}" alt="{{ 'Oxioneo, enchères immobilières'|trans }}"/>
                <p class="hashtagfooter">{{ '#immobilierauxencheres'|trans }}</p>
                <a href="tel:0800407871" title="0800407871" class="green-container">
                    0 800 407 871
                    <!--<img class="green" src="{{ asset('bundles/eenovdefault/img/0_800_407_871.png') }}" alt="0800407871"/>-->
                </a>
                <p class="green-text text-left">APPEL GRATUIT DEPUIS UN POSTE FIXE</p>
                <div class="social-networks">
                    <a class="facebook" href="{{ facebook_uri }}" title="{{ 'Nous suivre sur Facebook'|trans }}" target="_blank">{{ 'Facebook'|trans }}</a>
                    <a class="google" href="{{ google_uri }}" title="{{ 'Nous suivre sur Google+'|trans }}" target="_blank">{{ 'Google+'|trans }}</a>
                    <a class="twitter" href="{{ twitter_uri }}" title="{{ 'Nous suivre sur Twitter'|trans }}" target="_blank">{{ 'Twitter'|trans }}</a>
                    <a class="pinterest" href="{{ pinterest_uri }}" title="{{ 'Nous suivre sur Pinterest'|trans }}" target="_blank">{{ 'Pinterest'|trans }}</a>
                    <a class="youtube" href="https://www.youtube.com/channel/UC8bCDomdRSeCdYyKV2-kgGw" title="{{ 'Nous suivre sur Youtube'|trans }}" target="_blank">{{ 'Youtube'|trans }}</a>
                </div>
                <p id="copyright">{{ '2014 © Oxioneo - Tous droits réservés.'|trans }}<br/>
                    {{ 'Réalisation'|trans }} : <a href="http://www.eenov.com" title="{{ 'Agence web Bordeaux Eenov'|trans }}" target="_blank">{{ 'Agence web Bordeaux Eenov'|trans }}</a>
                </p>
            </div>
        </div>
    </div>
</div>