{% extends 'form_div_layout.html.twig' %}

{% block form_start %}
    {% set attr = attr|merge({class:'form-horizontal'}) %}
    {{ parent() }}
{% endblock form_start %}

{% block form_row %}
    {% spaceless %}
        <div class="row form-group{% if errors|length > 0 %} error{% endif %}">
            {{ form_label(form,null,{label_attr:{class:'col-lg-3 control-label' }}) }}
            <div class="col-lg-9">
                {{ form_widget(form,{attr:{class:'form-control' }}) }}
                {% if help is defined and help is not empty %}
                    <span class="help-block">{{ help }}</span>
                {% endif %}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="label label-danger">
                    {% if error.messagePluralization is null %}
                        {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
                    {% else %}
                        {{ error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}
