<div id="header" class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('eenov_default_default_index') }}" title="{{ 'Oxioneo, l\'enchère immobilière'|trans }}">
                <img src="{{ asset('bundles/eenovdefault/img/logo.png') }}" alt="{{ 'Oxioneo, l\'enchère immobilière'|trans }}"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="menu" class="nav navbar-nav">
                <li><a{{ if_active('eenov_default_default_index') }} href="{{ path('eenov_default_default_index') }}" title="{{ "Accueil"|trans }}">{{ "Accueil"|trans }}</a></li>
                <li><a{{ if_active('eenov_default_bid') }} href="{{ path('eenov_default_bid_index') }}" title="{{ "Enchères immobilières"|trans }}">{{ "Enchères immobilières"|trans }}</a></li>
                <li><a{{ if_active('eenov_default_default_contactus') }} href="{{ path('eenov_default_default_contactus') }}" title="{{ 'Contact'|trans }}">{{ 'Contact'|trans }}</a></li>
                {% if not app.user or not is_granted(ROLE_USER) %}
                    <li><a{{ if_active('eenov_default_default_register') }} href="{{ path('eenov_default_default_register') }}" data-popup="{{ path('eenov_default_default_register') }}" data-dismiss="modal" title="{{ "Inscription"|trans }}">{{ "Inscription"|trans }}</a></li>
                {% endif %}
                <li class="menu_top_agence"><a href="{{ path('eenov_default_default_agency') }}" title="{{ 'Offre agence'|trans }}">{{ 'Offre agence'|trans }}</a></li>
            </ul>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{{ "Navigation"|trans }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="second-nav">
            <ul>
                {% if app.user and is_granted(ROLE_USER) %}
                    <li class="wishlist"><a href="{{ path('eenov_user_userwishlist_index') }}" title="{{ "Aller à ma liste d'envies"|trans }}"><img src="{{ asset('bundles/eenovdefault/img/header-wishlist-icon.png') }}" alt="{{ "Aller à ma liste d'envies"|trans }}"/></a></li>
                    <li class="header-user">{% include 'EenovUserBundle:User:_header.html.twig' %}</li>
                {% else %}
                    <li class="connexion">
                        <a class="btn btn-primary" title="{{ "Connexion à mon compte"|trans }}" href="{{ path('eenov_default_default_login') }}" data-popup="{{ path('eenov_default_default_login') }}" data-dismiss="modal">{{ "Se connecter"|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
