{% extends "EenovAgencyBundle:AgencyBid:update.html.twig" %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <div id="pictures" data-images="{{ images|json_encode }}">
        <div class="row">
            <div class="col-xs-3" id="default">
                <h3>Photo principale</h3>
                {% if bid.draft.uri %}
                    <img src="{{ bid.draft.uri|imagine_filter('bid_default_view') }}" style="width:100%;"/>
                {% else %}
                    <p class="alert alert-info">Vous n'avez pas sélectionné de photo principale.</p>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <form class="form-inline" role="form" enctype="multipart/form-data">
                    <h3><label for="type">Télécharger une image</label></h3>
                    <br>
                    <div class="form-group">
                        <select id="type" name="type" class="input-medium bootstrap-select bs-select form-control">
                            <option value="">Choisir un type de vue</option>
                            {% for imagesType in imagesTypes %}
                                <option value="{{ imagesType.id }}">{{ imagesType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                    <span class="btn btn-success fileinput-button">
                    <span>Charger des photos</span>
                    <input id="images-upload" data-uri="{{ path('eenov_agency_agencyimage_upload',{agency:agency.id,bid:bid.id}) }}" type="file" name="file" multiple/>
                    </span>
                    </div>
                </form>
                <div id="progress-images" class="progress margin-top-20">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
            </div>
            <div class="col-xs-3">
                <p class="alert alert-info">
                    Si le type de vue que vous recherchez n'existe pas, n'hésitez à contacter le
                    support à l'adresse suivante <a href="mailto:{{ email_contact }}">{{ email_contact }}</a>.
                </p>
            </div>
        </div>
        <div id="files" class="row"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/eenovagency/js/agency-image.js') }}"></script>
{% endblock %}