<div class="form-group input-medium">
    {{- form_label(field) -}}
    {{- form_errors(field) -}}
    <div class="input-group date date-picker" data-date-language="{{ language|default(app.request.locale) }}" data-date-format="{{ dateFormat|default('mm/yyyy') }}" data-date-min-view-mode="{{ minViewMode|default('1') }}" data-date-autoclose="{{ autoclose|default('true') }}"{% if startDate is defined %} data-date-start-date="{{ startDate }}"{% endif %}{% if endDate is defined %} data-date-end-date="{{ endDate }}"{% endif %}>
        {{ form_widget(field, {'attr': {'readonly': 'readonly'} }) }}
        <span class="input-group-btn">
            <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
        </span>
    </div>
</div>