{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_start -%}
    {% set attr = attr|default({})|merge({novalidate:'novalidate'}) %}
    {{ parent() }}
{%- endblock form_start %}

{% block _new_row %}
    {{ block('search_room_row') }}
{% endblock %}

{% block _old_row %}
    {{ block('search_room_row') }}
{% endblock %}

{% block search_room_row %}
    <label class="btn btn-primary{% if checked %} active{% endif %}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label|trans({}, translation_domain) }}
    </label>
{% endblock %}

{% block _user_cgu_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}

{% block _user_cgu_row %}
    <label class="keep">
        {{ form_widget(form) }} En créant un compte sur Oxionéo, vous acceptez les
        <a href="{{ path('eenov_default_default_cgu') }}" title="Conditions générales" target="_blank">Conditions générales</a> du site.
    </label>
{% endblock %}
