{% block _types_entry_row %}
    {{ block('_checkbox_new_design') }}
{% endblock %}

{% block _equipments_entry_row %}
    {{ block('_checkbox_new_design') }}
{% endblock %}

{% block _checkbox_new_design %}
    <div class="element_filtre">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">{{ label }}</label>
    </div>
{% endblock %}

{% block _firstPriceMin_widget %}
    {{ block('_min_max_new_design') }}
{% endblock %}

{% block _firstPriceMax_widget %}
    {{ block('_min_max_new_design') }}
{% endblock %}

{% block _shabMin_widget %}
    {{ block('_min_max_new_design') }}
{% endblock %}

{% block _shabMax_widget %}
    {{ block('_min_max_new_design') }}
{% endblock %}

{% block _min_max_new_design %}
    {% set attr=attr|merge({autocomplete:'off'}) %}
    <input type="text" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}/>
{% endblock %}
