{% extends 'EenovUserBundle::layout.html.twig' %}

{% set body_class = "mon-compte wishlist" %}

{% block title %}{{ 'Ma liste d\'envies'|trans }} - {{ 'Mon compte'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include 'EenovUserBundle:User:_nav.html.twig' %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="block">
                            <h3>{{ 'Ma liste d\'envies'|trans }}</h3>
                            <div class="block-content">
                                <div class="row">
                                    {% for wish in paginator %}
                                        <div class="col-sm-6 col-md-4 wish-{{ wish.bid.id }}">
                                            <div class="bid">
                                                {{ wishlit_button(wish.bid,'.wish-' ~ wish.bid.id) }}
                                                <a href="{{ path('eenov_default_bid_read',{bid:wish.bid.id,slug:wish.bid.slug}) }}" title="{{ wish.bid.title }}">
                                                    <img class="visuel" src="{{ wish.bid.publish.uri|imagine_filter('bid_home') }}" alt="{{ wish.bid.title }}"/>
                                                    <div class="caption">
                                                        <h4>{{ wish.bid.title }}</h4><br>
                                                        <p class="place">{{ wish.bid.publish.city }} ({{ wish.bid.publish.zip }})</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <a class="btn-search" href="{{ path('eenov_default_bid_index',wish.similarSearch) }}" title="{{ 'Chercher des annonces similaires'|trans }}">
                                                <img src="{{ asset('bundles/eenovdefault/img/user-saved-search.png') }}" alt="{{ 'Chercher des annonces similaires'|trans }}"/>
                                                <span>{{ 'Chercher des annonces similaires'|trans }}</span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-12">
                                            <p class="alert alert-info no-margin">
                                                Vous n'avez pas encore ajouté d'annonce à votre liste d'envies.
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% include 'EBDoctrineBundle::_paginator.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}