div.page-container div.page-sidebar-wrapper div.page-sidebar ul.page-sidebar-menu li.start {
  margin-top: 15px;
}
body .form-horizontal .control-label { margin-top: 0; }
.profile ul.profile-nav li a.active { color: #169ef4; background: #ecf5fb; text-decoration: none; border-left: solid 2px #169ef4; }
table.table tbody p.alert { margin-bottom: 0; }
.tab-pane table.table { margin-bottom: 0; }
label.required:after { content: '*'; color: #ffffff; }
#filter label { background-color: #8e44ad; }
body span.yesnothumb span.fa { font-size: 11px; line-height: 12px; }
iframe#email { width: 100%; min-height: 1000px; border: none; overflow: hidden; }
.form-bid h3 { background: #f24e4c; padding: 4px 7px; margin-bottom: 7px; color: white; font-size: 1.6em; font-weight: 400; display: inline-block; }
/* HACK (DJ) :
    Pour permettre l'utilisation des dropdown boutons dans les Datatable
    Sinon les derniers ne sont pas visible
*/
.table-scrollable {
  overflow: visible;
}
.page-header.navbar .page-logo .logo-default { margin: 8px 0 0 0 }
/* HACK (DJ) :
    Récupération d'une partie du css jQuery d'origine pour les dataTables
    Pour la gestion des alignement des cellules
    c.f.: http://www.datatables.net/manual/styling/classes#Cell-classes
*/
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.form-group.has-error .alert {
  margin-top: 10px;
}
table .sm { width: 1px; white-space: nowrap; }
table thead tr th a { white-space: nowrap; }
/* **************************************************** */
/* ********************************************* GLOBAL */

/*.page-content{background: #fafafa url('../img/bg-oxioneo.png') no-repeat center center;}*/

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a { background: #14a698; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a:hover { background: #14a698; }
.page-title { color: #14b0a1; font-weight: 500; font-size: 32px; }
.row p { font-size: 14px; }
.page-bar { background-color: #f2f2f2; }
.page-container .separator { border-top: 1px solid rgba(237, 212, 139, 1); margin-top: 15px; width: 68%; max-width: 790px; height: 1px; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #ef4f4c; }
.nav-tabs, .nav-pills { border-bottom: 2px solid #ef4f4c; margin-bottom: 30px; }
/* **************************************************** */
/* **************************************** FORMULAIRES */

h2 label { font-size: 24px; }
.medium, body .input-medium { width: 240px; }
input.big { width: 100% !important; }
.btn-big .btn { background-color: #17bfb0; margin: 15px 0px; border-radius: 6px !important; font-size: 16px; font-weight: 600; padding: 10px 15px; color: white; min-width: 240px; }
.btn-big .btn:hover, .btn-big .btn:focus, .btn-big .btn:active { color: white; background-color: #3d3d3d; }
.btn-sm { padding: 4px 8px 5px; }
h4.perso { font-weight: 600; margin-top: 30px; margin-bottom: 15px; }
.blue.btn, .blue.btn:hover, .blue.btn:focus, .blue.btn:active, .blue.btn.active { background-color: #14b0a1; }
.control-label { font-size: 1.4em; font-weight: 400; background-color: rgba(20, 166, 152, 0.7); color: white; padding: 2px 5px; margin-bottom: 7px; margin-top: 15px; }
h2 .control-label, .checkbox-inline label.control-label, .radio-inline label.control-label { background-color: transparent; color: #333333;; margin: 0 }
.checkbox-inline label.control-label, .radio-inline label.control-label { font-size: 1.1em; }
h3 { font-size: 25px; }
textarea.form-control.txarea { height: 300px; }
textarea.form-control.txxarea { height: 195px; }
.form-bid h4 { font-size: 22px; font-weight: 600; color: #ffffff; display: inline-block; padding: 3px 8px; margin: 30px 0px 15px; }
.form-bid h4.property { background-color: #317bad; }
.form-bid h4.specifics { background-color: #e02e6d; }
.form-bid h4.equipments { background-color: #66cadc; }
.form-bid .equipments .checkbox-inline { display: block; cursor: default; width: 33.3333%; float: left; padding-right: 15px; padding-left: 15px; }
.form-bid .equipments .checkbox-inline label, .form-bid .equipments .checkbox-inline div { cursor: pointer; }
.form-bid .equipments .checkbox-inline + .checkbox-inline { margin-left: 0; }
.form-bid .equipments > div > label, .form-bid .equipments > div > .required { display: none; }
#bid_submit { background-color: #17bfb0; margin: 30px 0px; border-radius: 6px !important; font-size: 16px; font-weight: 600; padding: 10px 15px; color: white; min-width: 240px; }
#bid_submit_publish { background-color: #f86360; margin: 0px 0px 30px; border-radius: 6px !important; font-size: 16px; font-weight: 600; padding: 10px 15px; color: white; min-width: 240px; }
#tab-images, #tab-documents { width: 75%; }
#tab-images table, #tab-documents table { background: white; }
/* **************************************************** */
/* ******************************************** MODALES */

.modal-header { background-color: #14b0a1; }
.modal-header h4 { text-transform: uppercase; color: white; }
.close { opacity: 0.7; font-size: 40px; color: white; line-height: 20px; background-image: url('../img/btn-close.png') !important; width: 14px; height: 14px; }
.close:hover { opacity: 1; }
.modal-footer { background-color: #f1f1f1; }
.modal-footer p { margin-bottom: 0; font-weight: 600; font-size: 16px; }
.modal-footer .btn { border-radius: 6px !important; }
#invoice_amount { display: inline-block; padding: 4px 10px; font-size: 16px; margin: 15px 0; background-color: #ef4f4c; color: white; font-weight: 600; }
/* **************************************************** */
/* ******************************************* TABLEAUX */
.childs .link {
  font-weight: bold;
}
.child .link {
  padding-left: 40px;
}
@media (max-width: 990px) {
  #tab-images, #tab-documents { width: 100%; }
}
@media (max-width: 720px) {
  .form-bid .equipments .checkbox-inline { width: 100%; float: none; }
}
textarea.bid-text { width: 100%; min-height: 500px; resize: vertical; }