.eenov_default_default_agency #content {
  padding-top: 78px;
}
.eenov_default_default_agency #slide_offre_agence {
  background: url('../img/bg_slide_mots.jpg') no-repeat;
  background-size: cover;
  height: 418px;
  padding: 20px;
}
.eenov_default_default_agency #hashtag_slide {
  color: #232223;
  font-family: 'raleway';
  font-weight: bold;
  padding-top: 20px;
}
.eenov_default_default_agency #hashtag_slide p {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 55px;
  line-height: 40px;
  margin: 0;
}
.eenov_default_default_agency #hashtag_slide span {
  font-family: 'raleway';
  font-weight: 400;
  font-size: 44px;
}
.eenov_default_default_agency #slogan_slide {
  font-family: 'raleway';
  font-weight: 800;
  font-size: 69px;
  line-height: 70px;
  margin-top: 110px;
}
.eenov_default_default_agency #bloc_prix_slide {
  background-color: #ef4f4d;
  border-radius: 15px;
  padding: 25px;
  font-family: 'raleway';
  font-weight: bold;
  font-size: 32px;
  -webkit-transform: rotate(5deg);
  -webkit-transform-origin: 0;
  transform: rotate(5deg);
  transform-origin: 0;
  text-align: center;
  width: 270px;
  height: 270px;
  -moz-box-shadow: 0 0 20px 0px #888888;
  -webkit-box-shadow: 0 0 20px 0px #888888;
  box-shadow: 0 0 20px 5px #888888;
  margin-top: 20px;
}
.eenov_default_default_agency #bloc_prix_slide div, .eenov_default_default_agency #bloc_prix_slide div span {
  color: #ffffff;
}
.eenov_default_default_agency #bloc_prix_slide div, .eenov_default_default_agency #bloc_prix_slide .a_partir {
  font-family: 'raleway';
  font-weight: 600;
}
.eenov_default_default_agency #bloc_prix_slide .a_partir {
  font-family: 'raleway';
  font-weight: 800;
  font-size: 32px;
}
.eenov_default_default_agency #bloc_prix_slide .prix_slide {
  font-family: 'novecento_widenormal';
  font-size: 106px;
  line-height: 80px;
}
.eenov_default_default_agency #bloc_prix_slide .nota_prix_slide {
  font-family: 'raleway';
  font-weight: 200;
  font-size: 25px;
}
.eenov_default_default_agency #bloc_prix_slide .sup {
  vertical-align: super;
  font-size: 50px;
}
.eenov_default_default_agency #bloc_prix_slide .ht {
  /*    vertical-align: super;*/
  font-size: 33px;
  font-family: 'raleway';
  font-weight: 600;
}
.eenov_default_default_agency h2 {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 0;
}
.eenov_default_default_agency h2 span {
  font-family: 'raleway';
  font-weight: 200;
  font-size: 45px;
}
.eenov_default_default_agency h2 + p {
  font-family: 'raleway';
  font-weight: normal;
  font-size: 16px;
}
.bloc_gauche, .bloc_droit {
  height: 190px;
}
.eenov_default_default_agency .bloc_bt_acheter {
  background: url('../img/bg_poly_mini.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  width: 60%;
  float: left;
  position: relative;
}
.eenov_default_default_agency .bt_acheter {
  background-color: rgba(239, 79, 77, 1);
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'raleway';
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  width: 130px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px; /* remplacer {X/2} par la moitié de votre height */
  margin-top: -23px; /* remplacer {Y/2} par la moitié de votre height */
  text-decoration: none;
  -moz-box-shadow: 0 0 7px 0px #888888;
  -webkit-box-shadow: 0 0 7px 0px #888888;
  box-shadow: 0 0 7px 0px #888888;
  text-align: center;
}
.eenov_default_default_agency .bt_acheter:hover {
  background-color: rgba(121, 121, 121, 0.8);
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'raleway';
  font-weight: bold;
  font-size: 20px;
}
.eenov_default_default_agency .bloc_nb_enchere {
  background-color: #797979;
  text-align: center;
  height: 100%;
  width: 40%;
  float: left;
  font-family: 'raleway';
  font-weight: 600;
  padding: 34px;
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
 .eenov_default_default_agency .bloc_nb_enchere {
  padding: 40px 0 0 0;
}   
}


.eenov_default_default_agency .bloc_nb_enchere p {
  color: #ffffff;
  font-size: 25px;
  font-family: 'raleway';
  font-weight: 600;
  margin: 0;
  line-height: 25px;
}
.eenov_default_default_agency .bloc_nb_enchere span {
  font-family: 'novecento_widenormal';
  /*  font-weight:600;*/
  font-size: 35px;
  color: #ffffff;
}
.eenov_default_default_agency .bloc_nb_enchere p.nota {
  font-size: 19px;
  color: #ffffff;
}
.eenov_default_default_agency .bloc_prix_offre {
  font-family: 'raleway';
  font-weight: 600;
  font-size: 13px;
  background-color: #ef4f4d;
  height: 100%;
  width: 40%;
  float: left;
  text-align: center;
  padding: 15px;
}
.eenov_default_default_agency .bloc_prix_offre:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* space width */
}
.eenov_default_default_agency .bloc_prix_offre_contenu {
  display: inline-block;
  vertical-align: middle;
}
.eenov_default_default_agency .prix_offre {
  font-family: 'novecento_widenormal';
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}
.eenov_default_default_agency .nota_offre {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'novecento_widenormal';
  margin: 0;
  font-size: 13px;
}
.eenov_default_default_agency .nota_offre_2 {
  font-family: 'raleway';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 15px;
}
.eenov_default_default_agency .bloc_liste_offre {
  background-color: #797979;
  color: #ffffff;
  height: 100%;
  width: 60%;
  float: left;
  padding: 15px;
}
.eenov_default_default_agency .bloc_liste_offre ul {
  padding: 0;
}
.eenov_default_default_agency .bloc_liste_offre li {
  font-family: 'raleway';
  font-weight: normal;
  font-size: 15px;
  list-style-type: none;
  color: #ffffff;
}
.eenov_default_default_agency .bloc_liste_offre li:before {
  content: url('../img/coche.png');
  margin-right: 5px;
}
.eenov_default_default_agency hr {
  border: 0;
  height: 0;
  border: 0;
  border-top: 1px solid #232223;
  border-bottom: 1px solid #ffffff;
}
.eenov_default_default_agency #bloc_services {
  overflow: hidden;
}
.eenov_default_default_agency #bloc_services div {
  float: left;
  width: 20%;
  text-align: center;
}
.eenov_default_default_agency #bloc_services img {
  margin: auto;
}
.eenov_default_default_agency #bloc_services div p {
  font-family: 'raleway';
  font-weight: 600;
  font-size: 23px;
  color: #232223;
  text-align: center;
  line-height: 20px;
}
.eenov_default_default_agency #bloc_services span {
  display: block;
  font-size: 23px;
  font-family: 'raleway';
  font-weight: 200;
}
.eenov_default_default_agency .bt_rappel, .eenov_default_default_agency .bt_contact {
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'raleway';
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 50px 0;
}
.eenov_default_default_agency .bt_rappel {
  background-color: rgba(239, 79, 77, 1);
}
.eenov_default_default_agency .bt_contact {
  background-color: rgba(121, 121, 121, 1);
}
.eenov_default_default_agency .bt_rappel:hover {
  background-color: rgba(121, 121, 121, 0.8);
}
.eenov_default_default_agency .bt_contact:hover {
  background-color: rgba(121, 121, 121, 0.8);
}
.eenov_default_default_agency #form-contact {
  background-color: #797979 !important;
}
.eenov_default_default_agency #form-contact .triangle {
  border-color: transparent transparent #797979 transparent !important;
}
.eenov_default_default_agency #form-contact .btn-primary {
  background-color: rgba(239, 79, 77, 1) !important;
  -moz-box-shadow: 0 0 7px 0px #888888 !important;
  -webkit-box-shadow: 0 0 7px 0px #888888 !important;
  box-shadow: 0 0 7px 0px #888888 !important;
}
.eenov_default_default_agency #form-contact .btn-primary:hover {
  background-color: rgba(121, 121, 121, 0.8) !important;
}
@media (max-width: 767px) {
  .eenov_default_default_agency .bloc_bt_acheter, .eenov_default_default_agency .bloc_nb_enchere, .eenov_default_default_agency .bloc_liste_offre {
    width: 100%;
  }
  .eenov_default_default_agency .bloc_prix_offre {
    width: 100%;
    height: auto;
  }
  .eenov_default_default_agency #bloc_services div {
    width: 50%;
  }
  .eenov_default_default_agency #bloc_services img {
    margin: auto
  }
  .eenov_default_default_agency #bloc_services div p {
    font-size: 18px;
  }
  .eenov_default_default_agency #bloc_services span {
    font-size: 18px;
  }
  .eenov_default_default_agency #slogan_slide {
    font-size: 45px;
    line-height: 45px;
    padding: 20px 0;
    margin: 0;
    letter-spacing: -1px;
  }
  .eenov_default_default_agency #bloc_prix_slide {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .eenov_default_default_agency #bloc_prix_slide .a_partir {
    font-size: 23px;
  }
  .eenov_default_default_agency #bloc_prix_slide .prix_slide {
    font-size: 67px;
    line-height: 80px;
  }
  .eenov_default_default_agency #bloc_prix_slide .sup, .eenov_default_default_agency #bloc_prix_slide .ht {
    font-size: 33px;
  }
  .eenov_default_default_agency #bloc_prix_slide .nota_prix_slide {
    font-size: 20px;
  }
  .eenov_default_default_agency #slide_offre_agence {
    height: auto;
  }

}
@media (max-width: 767px) and (orientation: landscape) {
  .eenov_default_default_agency .bloc_bt_acheter {
    width: 70%
  }
  .eenov_default_default_agency .bloc_nb_enchere {
    width: 30%;
  }
  .eenov_default_default_agency .bloc_liste_offre {
    width: 100%;
  }
  .eenov_default_default_agency #bloc_services div p {
    font-size: 18px;
  }
  .eenov_default_default_agency #bloc_services span {
    font-size: 18px;
  }
  .eenov_default_default_agency #bloc_services img {
    margin: auto;
  }
  .eenov_default_default_agency #bloc_services div {
    width: 20%;
  }
  .eenov_default_default_agency #bloc_prix_slide {
    width: 38%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .eenov_default_default_agency #slide_offre_agence {
    height: auto
  }
  .eenov_default_default_agency .bloc_liste_offre {
    padding: 30px;
  }

}
/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {

  .eenov_default_default_agency #slide_offre_agence {
    height: auto;
  }
  .eenov_default_default_agency #slogan_slide {
    font-size: 54px;
    margin: 0;
  }
  .eenov_default_default_agency #bloc_prix_slide {
    width: 45%;
    margin: auto;
    margin-bottom: 20px;
  }
  .eenov_default_default_agency #slide_offre_agence {
    height: auto
  }

}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .eenov_default_default_agency #bloc_prix_slide {
    width: 70%;
    margin: auto;
    margin: 60px 0 10px 0;
  }
  .eenov_default_default_agency #hashtag_slide {
    margin-top: 60px;
  }
  .eenov_default_default_agency #slide_offre_agence {
    padding-left: 90px;
  }
  .eenov_default_default_agency .bloc_nb_enchere p {
    font-size: 24px;
  }
  .eenov_default_default_agency .bt_rappel,
  .eenov_default_default_agency .bt_contact {
    font-size: 14px;
  }
  .eenov_default_default_agency #slogan_slide {
    font-family: 'raleway';
    font-weight: 800;
    font-size: 56px;
    line-height: 55px;
    margin: 24px 0;
  }
}