{% extends 'EenovAdminBundle:AdminAgency:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminslot_index',{agency:agency.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminslot_create',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Abonnement</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Enchère</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for slot in paginator %}
                <tr>
                    <td>{{ slot.id }}</td>
                    <td>{{ slot.subscription|default('-') }}</td>
                    {% if slot.subscription and not slot.subscription.count %}
                        <td colspan="2" class="text-center">Slot généré sans date pour un abonnement infini</td>
                    {% else %}
                        <td>{{ slot.started|dateago }}</td>
                        <td>{{ slot.ended|dateago }}</td>
                    {% endif %}
                    <td>
                        {% if slot.bid %}
                            {{ link('eenov_admin_adminbid_update',{bid:slot.bid.id},{name:slot.bid}) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    {% if slot.subscription and not slot.subscription.count %}
                        <td></td>
                    {% else %}
                        <td>{{ link('eenov_admin_adminslot_update',{agency:agency.id,slot:slot.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    {% endif %}
                    <td>{{ link('eenov_admin_adminslot_delete',{agency:agency.id,slot:slot.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun slot trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}