{% extends "EenovAgencyBundle:AgencyBid:update.html.twig" %}

{% block title %}{{ title() }}{% endblock %}

{% block eenov_agency_visit_row %}
    <tr>
        <td>
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </td>
        <td>
            {{ form_widget(form.started) }}
            {{ form_errors(form.started) }}
        </td>
        <td>
            {{ form_widget(form.ended) }}
            {{ form_errors(form.ended) }}
        </td>
        <td class="sm">
            <button type="button" class="btn btn-default btn-md red-stripe delete"><span class="fa fa-trash-o"></span></button>
        </td>
    </tr>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% form_theme form _self %}
            {{ form_start(form,{attr:{'data-prototype':form_row(form.visits.vars.prototype)}}) }}
            {{ form_label(form.visits) }}
            <table class="table table-condensed table-bordered text-center" style="vertical-align:sub;" data-prototype="">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th class="sm"><button type="button" class="btn btn-default btn-md green-stripe create"><span class="fa fa-plus"></span></button></th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in form.visits %}
                        {{ form_row(child) }}
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button type="submit" class="btn btn-default green-stripe btn-block">Enregistrer</button>
            <div class="hide">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-8">
            {% if bid.sellStarted %}
                <div class="calendar" data-calendar-date="{{ bid.sellStarted.format('Y-m-d') }}" data-calendar-api="{{ path('eenov_agency_agencyvisit_api',{agency:agency.id,bid:bid.id,_format:'json'}) }}"></div>
            {% else %}
                <div class="calendar" data-calendar-date="{{ 'now'|date('Y-m-d') }}" data-calendar-api="{{ path('eenov_agency_agencyvisit_api',{agency:agency.id,bid:bid.id,_format:'json'}) }}"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}