{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <ul class="list-inline">
        <li>{{ link('eenov_agency_agencyauction_pdf',{agency:agency.id,bid:bid.id,_format:'pdf'},{class:'btn btn-default btn-xs purple-stripe',ficon:'file-pdf-o',target:'_blank'}) }}</li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Montant</th>
                {% if bid.allowFirmAuction %}
                    <th>Offre unique</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for auction in paginator %}
                <tr>
                    <td>{{ auction.user }}</td>
                    <td>{{ auction.created|timeago }}</td>
                    <td>{{ auction.amount|price }}</td>
                    {% if bid.allowFirmAuction %}
                        <td>{{ auction.firm|yes_no_icon }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucune offre enregistrée pour l'instant.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}
