{% if bid and bid.publish %}
    {% set hasDiff = false %}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th>Valeurs</th>
                <th>Annonce</th>
                <th class="sm"></th>
                <th>Version en ligne</th>
            </tr>
        </thead>
        <tbody>
            {% set diff = {
            address: 'Adresse',
            zip: 'Code postal',
            city: 'Ville',
            country: 'Pays',
            displayAddress: 'Afficher l\'adresse',
            type: 'Type de bien',
            mandateAgency: 'Numéro de mandat agence',
            description: 'Description',
            shab: 'Surface habitable (' ~ unity_surface ~ ')',
            field: 'Surface terrain (' ~ unity_surface ~ ')',
            livingRoom: 'Surface séjour (' ~ unity_surface ~ ')',
            rooms: 'Nombre de pièces',
            bedrooms: 'Nombre de chambres',
            bathrooms: 'Nombre de salles de bains',
            showerrooms: 'Nombre de salles d\'eau',
            floor: 'Étage',
            estate: 'État',
            heatingSystem: 'Nature du chauffage',
            heatingType: 'Chauffage',
            exposure: 'Exposition',
            internet: 'Débit connexion internet',
            dpe: 'Diagnostic DPE',
            ges: 'Diagnostic GES',
            toilets: 'Nombre de WC',
            year: 'Année de construction',
            condoLots: 'Nombre de lots total dans la copropriété',
            condoCharges: 'Montant des charges de la copropriété',
            condoChargesRecurrence: 'Récurrence des charges de la copropriété',
            condoHasOngoingProceedings: 'Existence de procédure en cours avec le syndic de copropriété'
            } %}
            {% for key,name in diff %}
                {% set v1 = attribute(bid.draft,(key)) %}
                {% set v2 = attribute(bid.publish,(key)) %}
                {% if v1 != v2 %}
                    {% set hasDiff = true %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ v1|default('-') }}</td>
                        <td class="sm"><span class="fa fa-arrow-right"></span></td>
                        <td>{{ v2|default('-') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {# Point #}
            {% if bid.draft.point.latitude != bid.publish.point.latitude %}
                {% set hasDiff = true %}
                <tr>
                    <td>Latitude</td>
                    <td>{{ bid.draft.point.latitude }}</td>
                    <td class="sm"><span class="fa fa-arrow-right"></span></td>
                    <td>{{ bid.publish.point.latitude }}</td>
                </tr>
            {% endif %}
            {% if bid.draft.point.longitude != bid.publish.point.longitude %}
                {% set hasDiff = true %}
                <tr>
                    <td>Longitude</td>
                    <td>{{ bid.draft.point.longitude }}</td>
                    <td class="sm"><span class="fa fa-arrow-right"></span></td>
                    <td>{{ bid.publish.point.longitude }}</td>
                </tr>
            {% endif %}
            {# Terrain #}
            {% if bid.draft.ground and bid.publish.ground %}
                {% set diff = {
                pluZoning: 'Zonage PLU',
                frontageLength: 'Longueur de la façade (m)',
                fieldDepth: 'Profondeur du terrain (m)',
                soilNature: 'Nature du sol',
                serviced: 'Viabilisé',
                } %}
                {% for key,name in diff %}
                    {% set v1 = attribute(bid.draft.ground,(key)) %}
                    {% set v2 = attribute(bid.publish.ground,(key)) %}
                    {% if v1 != v2 %}
                        {% set hasDiff = true %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ v1 }}</td>
                            <td class="sm"><span class="fa fa-arrow-right"></span></td>
                            <td>{{ v2 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if bid.draft.ground.servicingTypes|length != bid.publish.ground.servicingTypes|length %}
                    <tr>
                        <td>Types de viabilisation</td>
                        <td>{{ bid.draft.ground.servicingTypes|json_encode }}</td>
                        <td class="sm"><span class="fa fa-arrow-right"></span></td>
                        <td>{{ bid.publish.ground.servicingTypes|json_encode }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            {# Immeuble #}
            {% if bid.draft.building and bid.publish.building %}
                {% set diff = {
                } %}
                {% set v1 = attribute(bid.draft.building,(key)) %}
                {% set v2 = attribute(bid.publish.building,(key)) %}
                {% for key,name in diff %}
                    {% if v1 != v2 %}
                        {% set hasDiff = true %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ v1 }}</td>
                            <td class="sm"><span class="fa fa-arrow-right"></span></td>
                            <td>{{ v2 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {# Alentours #}
            {% set draftAroundIds = bid.draft.getAroundSortedIds() %}
            {% set publishAroundIds = bid.publish.getAroundSortedIds() %}
            {% if draftAroundIds != publishAroundIds %}
                {% set hasDiff = true %}
                <tr>
                    <td>Aux alentours</td>
                    <td>
                        <ul>
                            {% for around in bid.draft.arounds %}
                                <li>{{ around }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="sm"><span class="fa fa-arrow-right"></span></td>
                    <td>
                        <ul>
                            {% for around in bid.publish.arounds %}
                                <li>{{ around }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {# Equipements #}
            {% set draftEquipmentIds = bid.draft.getEquipmentSortedIds() %}
            {% set publishEquipmentIds = bid.publish.getEquipmentSortedIds() %}
            {% if draftEquipmentIds != publishEquipmentIds %}
                {% set hasDiff = true %}
                <tr>
                    <td>Équipements</td>
                    <td>
                        <ul>
                            {% for equipment in bid.draft.equipments %}
                                <li>{{ equipment }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="sm"><span class="fa fa-arrow-right"></span></td>
                    <td>
                        <ul>
                            {% for equipment in bid.publish.equipments %}
                                <li>{{ equipment }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {#{% set draftImageIds = bid.draft.getImageSortedIds() %}#}
            {#{% set publishImageIds = bid.publish.getImageSortedIds() %}#}
            {#{% if draftImageIds != publishImageIds %}#}
            {#{% set hasDiff = true %}#}
            {#<tr>#}
            {#<td>Vues</td>#}
            {#<td>#}
            {#<ul>#}
            {#{% for image in bid.draft.images %}#}
            {#<li>{{ image.type }} <img src="{{ image.uri|imagine_filter('thumbnail_60_60') }}"/></li>#}
            {#{% else %}#}
            {#<li>Aucun</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            {#</td>#}
            {#<td class="sm"><span class="fa fa-arrow-right"></span></td>#}
            {#<td>#}
            {#<ul>#}
            {#{% for image in bid.publish.images %}#}
            {#<li>{{ image.type }} <img src="{{ image.uri|imagine_filter('thumbnail_60_60') }}"/></li>#}
            {#{% else %}#}
            {#<li>Aucun</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            {#</td>#}
            {#</tr>#}
            {#{% endif %}#}
            {#{% set draftDocumentIds = bid.draft.getDocumentSortedIds() %}#}
            {#{% set publishDocumentIds = bid.publish.getDocumentSortedIds() %}#}
            {#{% if draftDocumentIds != publishDocumentIds %}#}
            {#{% set hasDiff = true %}#}
            {#<tr>#}
            {#<td>Vues</td>#}
            {#<td>#}
            {#<ul>#}
            {#{% for document in bid.draft.documents %}#}
            {#<li>{{ document.type }}</li>#}
            {#{% else %}#}
            {#<li>Aucun</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            {#</td>#}
            {#<td class="sm"><span class="fa fa-arrow-right"></span></td>#}
            {#<td>#}
            {#<ul>#}
            {#{% for document in bid.publish.documents %}#}
            {#<li>{{ document.type }}</li>#}
            {#{% else %}#}
            {#<li>Aucun</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            {#</td>#}
            {#</tr>#}
            {#{% endif %}#}
            {% if not hasDiff %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">
                            Il n'y a pas de différence entre l'annonce diffusée
                            et le brouillon.
                            Attention : cet outil ne prend pas encore en compte les
                            modifications de vues et de documents.
                        </p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <p class="alert alert-warning">
        Les différences concernant les mises à jour des photos
        ou des documents ne sont pas encore disponibles.
    </p>
{% else %}
    <p class="alert alert-info">
        Cette annonce n'est pas encore publiée.
    </p>
{% endif %}
