<div class="form-body form-bid">
    <h3>Agence</h3>
    {{ form_row(form.agency) }}
    <h3>Enchère</h3>
    <div class="row">
        <div class="col-xs-12">{{ form_row(form.slot) }}</div>
        <div class="col-xs-12 hide">{{ form_row(form.allowFirmAuction) }}</div>
    </div>
    <h3>Vendeur</h3>
    <div class="row">
        <div class="col-xs-3">{{ form_row(form.sellerFirstname) }}</div>
        <div class="col-xs-3">{{ form_row(form.sellerLastname) }}</div>
        <div class="col-xs-3">{{ form_row(form.sellerEmail) }}</div>
        <div class="col-xs-3">{{ form_row(form.sellerPhone) }}</div>
        <div class="col-xs-12">{{ form_row(form.negotiatorName) }}</div>
        <div class="col-xs-6">{{ form_row(form.file) }}</div>
        <div class="col-xs-6">{{ form_row(form.mandateDate) }}</div>
        <div class="col-xs-12">
            {% if bid is defined %}
                {% if bid.path %}
                    <p class="alert alert-success">
                        Consulter le mandat : <a href="{{ path('eenov_admin_adminbid_file',{bid:bid.id,_format:bid.extension}) }}">{{ bid.filename }}</a>
                    </p>
                {% else %}
                    <p class="alert alert-warning">
                        Aucun mandat téléchargé.
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <h3>Informations générales</h3>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.draft.mandateAgency) }}
            {{ form_row(form.title) }}
            {{ form_row(form.draft.type) }}
            {{ form_row(form.draft.address,{attr:{class:'txxarea'}}) }}
            <span class="help-block">Adresse complète (batiment, étage, n° app...)</span>
            {{ form_row(form.draft.displayAddress) }}
            {{ form_row(form.draft.zip) }}
            {{ form_row(form.draft.city) }}
            {{ form_row(form.draft.country) }}
            <button id="geocode-current-address" type="button" class="btn btn-danger btn-block">Trouver cette adresse sur la carte</button>
        </div>
        <div class="col-sm-8">
            {{ form_row(form.draft.description,{attr:{class:'txarea'}}) }}
            <div class="form-group">
                <label class="control-label required">{{ "Position du pointeur"|trans }} :</label> (Astuce : si vous ne souhaitez pas indiquer l'adresse exacte du bien, vous pouvez placer le pointeur approximativement sur une zone.)
                <div
                        id="bid-map-canvas"
                        style="width:100%;height:400px"
                        data-latitude="{{ bid.draft.point.latitude|default(44.837789000000000000)|number_format(10,'.') }}"
                        data-longitude="{{ bid.draft.point.longitude|default(-0.579179999999951200)|number_format(10,'.') }}"
                        data-icon="{{ asset('bundles/eenovdefault/img/map-tick.png',null,true) }}"
                        data-latitude-id="#eenov_admin_bid_draft_point_latitude"
                        data-longitude-id="#eenov_admin_bid_draft_point_longitude"
                        data-geocode-ids="#eenov_admin_bid_draft_address,#eenov_admin_bid_draft_zip,#eenov_admin_bid_draft_city,#eenov_admin_bid_draft_country"
                        data-geocode-button-id="#geocode-current-address">
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <h3>{{ "Copropriété"|trans }}</h3>
    <div class="row">
        <div class="col-xs-12" data-check-will-toggle=".toggle-condo-area">{{ form_row(form.draft.isCondo) }}</div>
        <div class="col-xs-4 toggle-condo-area">{{ form_row(form.draft.condoLots) }}</div>
        <div class="col-xs-4 toggle-condo-area">{{ form_row(form.draft.condoCharges) }}</div>
        <div class="col-xs-4 toggle-condo-area">{{ form_row(form.draft.condoChargesRecurrence) }}</div>
        <div class="col-xs-12 toggle-condo-area">{{ form_row(form.draft.condoHasOngoingProceedings) }}</div>
    </div>
    <div class="separator"></div>
    <h3>{{ "Caractéristiques et détails"|trans }}</h3>
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.draft.shab) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.field) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.livingRoom) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.floor) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.rooms) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.bedrooms) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.bathrooms) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.showerrooms) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.toilets) }}</div>
    </div>
    <div class="separator"></div>
    <h3>{{ "+ de détails"|trans }}</h3>
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.draft.year) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.estate) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.heatingType) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.heatingSystem) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.exposure) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.internet) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.dpe) }}</div>
        <div class="col-sm-4">{{ form_row(form.draft.ges) }}</div>
    </div>
    <div class="separator"></div>
    {{ form_label(form.draft.arounds) }}
    <div class="row">
        <div class="col-sm-12 equipments">
            {% for child in form.draft.arounds %}
                <div class="col-lg-3 col-md-4 col-xs-6">{{ form_row(child) }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="separator"></div>
    {{ form_label(form.draft.equipments) }}
    <span class="help-block">Pour de meilleurs résultats il est nécessaire de renseigner le maximum d'éléments concernant le bien</span>
    <div class="row">
        <div class="col-sm-12 equipments">
            {% for child in form.draft.equipments %}
                <div class="col-lg-3 col-md-4 col-xs-6">{{ form_row(child) }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="separator"></div>
    <h3>Enchère</h3>
    <div class="row">
        <div class="col-xs-2 started">{{ form_row(form.sellStarted) }}</div>
        <div class="col-xs-2 ended">{{ form_row(form.sellEnded) }}</div>
        <div class="col-xs-2 ">{{ form_row(form.hourStart) }}</div>
    </div>
    <div class="row">


    </div>
    <div class="row">
        <div class="col-xs-5 firstprice">
            {{ form_row(form.firstPrice )}}
            {#<span class="help-block">Le montant indiqué est avec frais d'agence</span>#}

        </div>
        <div class="col-xs-5 estimatedprice" style="oat: left;
    display: block;
    width: 250px;
    height: 55px;">
            {{ form_row(form.estimatedPrice) }}
            {#<span class="help-block">Le montant indiqué est avec frais d'agence</span>#}

        </div>

    </div>
    <hr class="col-xs-12">
    <div class="row">


        <div class="col-xs-3 ">
            {{ form_row(form.honoraireForSeller) }}
        </div>
        {#<div class="col-xs-3 ">#}
        {#{{ form_row(form.honoraireCalculation) }}#}
        {#</div>#}
        <div class="col-xs-2 ">
            {{ form_row(form.honoraireCalculation) }}
        </div>
        <div class="col-xs-2 " style="  display: block;
                                        color: rgba(20, 166, 152, 0.7);
                                        width: 100px;
                                        text-align: center;
                                        height: 52px;
                                        margin-top: 50px;
                                        font-size: 25px;">
            OU
        </div>
        <div class="col-xs-2 ">
            {{ form_row(form.honoraireCalculation2) }}
        </div>
        <div class="col-xs-2">
            {{ form_row(form.honorairePrice) }}
        </div>
        {#<div class="col-xs-6 ">#}
        {#{{ form_row(form.honorairePricePourcentage) }}#}
        {#</div>#}
    </div>
    <div class="row">
        <div class="col-xs-3 ">
        </div>


        <div class="col-xs-3 ">
            {{ form_row(form.honorairePrice2) }}
        </div>

    </div>
    <div class="row">
        <div class="col-xs-5 firstprice">
            {{ form_row(form.priceStartOld )}}
        </div>
        <div class="col-xs-3 estimatedprice">
            {{ form_row(form.priceEstimatedOld )}}

        </div>
    </div>


    <span class="help-block">Attention: Tout bien surestimé ne pourra prétendre au résultat escompté</span>
</div>
{{ form_row(form.draft.point.latitude) }}
{{ form_row(form.draft.point.longitude) }}
