<h2>{{ bid.fullTitle }}</h2>
<ul>
    <li>Agence : <a href="{{ path('eenov_admin_adminagency_update',{agency:bid.agency.id}) }}">{{ bid.agency }}</a></li>
    <li>Propriétaire : <a href="{{ path('eenov_admin_adminuser_update',{user:bid.agency.owner.id}) }}">{{ bid.agency.owner }}</a></li>
    {% if bid.agency.mother %}
        <li>Agence mère : <a href="{{ path('eenov_admin_adminagency_update',{agency:bid.agency.mother.id}) }}">{{ bid.agency.mother }}</a></li>
    {% else %}
        <li>Agence mère : Aucune</li>
    {% endif %}
    {% if bid.agency.responsible %}
        <li>Responsable : <a href="{{ path('eenov_admin_adminuser_update',{user:bid.agency.responsible.id}) }}">{{ bid.agency.responsible }}</a></li>
    {% else %}
        <li>Responsable : Aucun</li>
    {% endif %}
    {% if bid.agency.contact %}
        <li>Contact : <a href="{{ path('eenov_admin_adminuser_update',{user:bid.agency.contact.id}) }}">{{ bid.agency.contact }}</a></li>
    {% else %}
        <li>Contact : Aucun</li>
    {% endif %}
    {% if bid.agency.commercial %}
        <li>Commercial : <a href="{{ path('eenov_admin_adminuser_update',{user:bid.agency.commercial.id}) }}">{{ bid.agency.commercial }}</a></li>
    {% endif %}
</ul>
<ul class="nav nav-pills">
    {{ li_link('eenov_admin_adminbid_update',{bid:bid.id},{name:'Annonce'}) }}
    {{ li_link('eenov_admin_adminbid_admin',{bid:bid.id},{name:'Dates'}) }}
    {% if bid.draft.type.isGround %}
        <li{{ current('eenov_admin_adminbid_ground') }}>{{ link('eenov_admin_adminbid_ground',{bid:bid.id}) }}</li>
    {% endif %}
    {% if bid.draft.type.isBuilding %}
        <li{{ current('eenov_admin_adminbid_building') }}>{{ link('eenov_admin_adminbid_building',{bid:bid.id}) }}</li>
    {% endif %}
    <li{{ if_active('eenov_admin_adminimage_') }}><a href="{{ path('eenov_admin_adminimage_index',{bid:bid.id}) }}">Photos</a></li>
    <li{{ if_active('eenov_admin_admindocument_') }}><a href="{{ path('eenov_admin_admindocument_index',{bid:bid.id}) }}">Documents</a></li>
    {{ li_link('eenov_admin_adminvisit_index',{bid:bid.id}) }}
    {{ li_link('eenov_admin_adminbid_validate',{bid:bid.id}) }}
    {{ li_link('eenov_admin_adminbid_text',{bid:bid.id}) }}
    {{ li_link('eenov_admin_adminmandate_index',{bid:bid.id}) }}
    {{ li_link('eenov_admin_adminaccess_index',{bid:bid.id}) }}
    {{ li_link('eenov_admin_adminauction_index',{bid:bid.id}) }}
    {{ li_link('eenov_admin_adminbid_delete',{bid:bid.id}) }}
    {% if bid.publish %}
        {{ li_link('eenov_default_bid_read',{bid:bid.id,slug:bid.slug},{name:'Annonce en ligne »'}) }}
        {{ li_link('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug},{name:'Salle des ventes »'}) }}
    {% endif %}
</ul>