{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
{# @var advert \Eenov\DefaultBundle\Entity\Advert #}
{%- spaceless -%}
{{ advert.description }}
{% if advert.isCondo %}

Nombre de lots de la copropriété: {{ advert.condoLots }}. {{ advert.condoChargesRecurrenceName }} payées par le vendeur: {{ advert.condoCharges|price }}.{% if advert.condoHasOngoingProceedings %} Existence de procédure en cours avec le syndic de copropriété.{% endif %}

{% endif %}
{% if bid.visits.count() > 0 %}

Visites possibles les {% for visit in bid.visits %}{{ visit.date.format('d/m/Y') }} de {{ visit.started.format('H\\\hi') }} à {{ visit.ended.format('H\\\hi') }}{{ not loop.last ? ',' }} {% endfor %}{% if advert.displayAddress %}au {{ advert.address }} {{ advert.zip }} {{ advert.city }} {{ advert.country }}{% endif %}.
{% endif %}

{#LES OFFRES SERONT REÇUES À LA MANIÈRE D'UNE ENCHÈRE; DÉPART DES OFFRES : {{ bid.firstPrice |price }} EXCLUSIVEMENT SUR LE SITE OXIONEO DU {{ bid.sellStarted.format('d/m/Y') }} À {{ bid.sellStarted.format('H') }}h00 AU {{ bid.sellRealEnded.format('d/m/Y') }} À {{ bid.sellRealEnded.format('H') }}h00. PRIX DE VENTE IDÉAL VENDEUR(S) : {{ bid.estimatedPrice+bid|price }}.#}

{% if bid.honoraireForSeller %}
Honoraires à charge du vendeur.
{% else %}
 Honoraires à charge de l'acquéreur
 Prix Net (hors honoraires) : {{ bid.priceEstimatedOld }} €
 {% if bid.honorairePrice != null %}
Honoraires : {{ bid.honorairePrice }} €
{% else %}
Honoraires : 0 €
{% endif %}
 Prix Total : {{ bid.estimatedPrice}} €

{% endif %}
{%- endspaceless -%}