{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
<h3><span class="label label-{{ bid.slot ? 'success' : 'danger' }}">2</span> Publication de l'annonce</h3>
{% if not bid.slot %}
    <p class="alert alert-warning">
        Cette enchère n'est pas encore relié a un slot.
    </p>
    {% if form is defined and form is not empty %}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {% if bid.path %}
            <button type="submit" class="btn btn-default green-stripe">Publier</button>
        {% endif %}


        {{ form_end(form) }}
    {% endif %}
{% else %}
    <p>
        Cette enchère est reliée à un slot.
        Les informations concernant le slot sont les suivantes :
    </p>
    <ul>
        <li><strong>Propriétaire</strong>: {{ bid.slot.agency }}</li>
        <li><strong>Abonnement</strong>: {{ bid.slot.subscription|default('Aucun') }}</li>
        <li><strong>Date de début</strong>: {{ bid.slot.started|dateago }}</li>
        <li><strong>Date de fin</strong>: {{ bid.slot.ended|dateago }}</li>
    </ul>
    {% if bid.slot.agency.id == bid.agency.id %}
        <p>
            Ce slot appartient à l'agence. Aucune validation autre que celle de l'administrateur
            Oxioneo ne sera demandée.
        </p>
    {% else %}
        <p>
            {{ bid.slot.agency }} est le propriétaire de ce slot. Une validation de sa part
            sera requise sur chaque modification du brouillon.
        </p>
    {% endif %}
{% endif %}
