{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
<h3><span class="label label-{{ (bid.slot and bid.publish) ? 'success' : 'danger' }}">4</span> Modifications de l'annonce</h3>
{% if bid.slot and bid.publish %}
    {% include 'EenovAdminBundle:AdminBid:_diff.html.twig' %}
    {% if not bid.needsValidation() %}
        {% if revalidateForm is defined and revalidateForm is not empty %}
            {{ form_start(revalidateForm) }}
            {{ form_widget(revalidateForm) }}
            <button type="submit" class="btn btn-block btn-default green-stripe">Valider les modifications</button>
            {{ form_end(revalidateForm) }}
        {% endif %}
    {% else %}
        <p>
            Validation en cours.
        </p>
    {% endif %}
{% else %}
    <p class="alert alert-warning">
        Cette enchère ne peut pas encore être modifiée.
    </p>
{% endif %}
