{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
{% if bid.path %}
    <p class="alert alert-success">
        Consulter le mandat : <a href="{{ path('eenov_agency_agencybid_file',{agency:bid.agency.id,bid:bid.id,_format:bid.extension}) }}">{{ bid.filename }}</a>
    </p>
{% else %}
    <p class="alert alert-danger">
        Cette annonce n'a pas de mandat de recherche d'acquéreur.
        Ce document est nécessaire.
    </p>
{% endif %}
{% if 0 == bid.draft.images|length %}
    <p class="alert alert-danger">
        Cette annonce n'a pas de photo associée. Vous devez fournir au minimum 5 photos sur l'onglet' "Photos".
    </p>
{% elseif 1 == bid.draft.images|length %}
    <p class="alert alert-danger">
        Cette annonce n'a qu'une photo associée. Vous devez fournir au minimum 5 photos sur l'onglet' "Photos".
    </p>
{% elseif bid.draft.images|length < 5 %}
    <p class="alert alert-danger">
        Cette annonce n'a que {{ bid.draft.images|length }} photos associées. Vous devez fournir au minimum 5 photos sur l'onglet' "Photos".
    </p>
{% endif %}
<h3><span class="label label-success">1</span> Création de l'enchère</h3>
<p>
    L'enchère a été créé le {{ bid.created|dateago }} par {{ bid.agency }}.
</p>
<p>
    <em>L'identifiant du brouillon est le <strong>{{ bid.draft.id }}</strong>.</em>
</p>
<p>
    Les informations concernant l'enchère sont les suivantes :
</p>
<ul>
    <li><strong>Agence</strong>: {{ bid.agency }}</li>
    <li><strong>Date de début</strong>: {{ bid.sellStarted|dateago }}</li>
    <li><strong>Date de fin</strong>: {{ bid.sellEnded|dateago }}</li>
    <li><strong>Date de fin (réelle)</strong>: {{ bid.sellRealEnded|dateago }}</li>
    <li><strong>Premier prix</strong>: {{ bid.firstPrice|price }}</li>
    <li><strong>Prix idéal vendeur</strong>: {{ bid.estimatedPrice|price }}</li>
    <li><strong>Palier</strong>: {{ bid.stepPrice|price }}</li>
</ul>
<p>
    Les informations concernant le vendeur sont les suivantes :
</p>
<ul>
    <li><strong>Nom</strong>: {{ bid.sellerLastname|upper }}</li>
    <li><strong>Prénom</strong>: {{ bid.sellerFirstname }}</li>
    <li><strong>Email</strong>: {{ bid.sellerEmail|default('-') }}</li>
    <li><strong>Téléphone</strong>: {{ bid.sellerPhone|default('-') }}</li>
</ul>
{% if bid.negotiatorName %}
    <p>
        Le négociateur est {{ bid.negotiatorName }}.
    </p>
{% endif %}
