{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
<h3><span class="label label-{{ (bid.slot and bid.publish) ? 'success' : 'danger' }}">3</span> Validation de l'annonce</h3>
{% if bid.slot %}
    <p>
        La validation de l'annonce est nécessaire pour sa publication
        sur le site.
    </p>

    {# L'annonce est publique #}
    <p>
        Vous pouvez consulter le brouillon en situation réelle :
    </p>
    <ul>
        <li><strong>Annonce</strong>: <a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug,see:bid.seeId}) }}">{{ url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug,see:bid.seeId}) }}</a></li>
        <li><strong>Salle de vente</strong>: <a href="{{ path('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug,see:bid.seeId}) }}">{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug,see:bid.seeId}) }}</a></li>
    </ul>
    {% if bid.publish %}
        <p>
            L'annonce est désormais accessible publiquement :
        </p>
        <ul>
            <li><strong>Annonce</strong>: <a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}">{{ url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}</a></li>
            <li><strong>Salle de vente</strong>: <a href="{{ path('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}">{{ url('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}</a></li>
        </ul>
        <p>
            <em>L'identifiant de l'annonce publiée est le <strong>{{ bid.publish.id }}</strong>.</em>
        </p>
    {% endif %}

    {# L'annonce n'appartient pas à l'agence #}
    {% if bid.slot.agency.id != bid.agency.id %}
        {% if bid.agencyValidated %}
            <p>
                {{ true|yes_no_thumb }}
                La publication de cette annonce a été validée par {{ bid.slot.agency }},
                propriétaire du slot, le {{ bid.agencyValidated|dateago }}.
            </p>
        {% else %}
            <p>
                {{ false|yes_no_thumb }}
                Cette annonce attend la validation de {{ bid.slot.agency }},
                propriétaire du slot.
            </p>

            {% if motherValidationForm is defined and motherValidationForm is not empty %}
                {{ form_start(motherValidationForm) }}
                {{ form_widget(motherValidationForm) }}
                <button type="submit" class="btn btn-block btn-default green-stripe">Valider</button>
                {{ form_end(motherValidationForm) }}
            {% endif %}
        {% endif %}
    {% endif %}

    {# L'annonce doit être validée par un admin #}
    {% if bid.adminValidated %}
        <p>
            {{ true|yes_no_thumb }}
            Cette annonce a été validée par un administrateur Oxioneo le {{ bid.adminValidated|dateago }}.
        </p>
    {% else %}
        <p>
            {{ false|yes_no_thumb }}
            Cette annonce attend la validation d'un administrateur Oxioneo.
        </p>

        {% if adminValidationForm is defined and adminValidationForm is not empty %}
            {{ form_start(adminValidationForm) }}
            {{ form_widget(adminValidationForm) }}
            <button type="submit" class="btn btn-block btn-default green-stripe">Valider</button>
            {{ form_end(adminValidationForm) }}
        {% endif %}
    {% endif %}
{% else %}
    <p class="alert alert-warning">
        Cette enchère ne peut pas encore être validée.
    </p>
{% endif %}
