{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbid_admin',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <p class="alert alert-danger">
        Attention, aucune validation n'est réalisée sur ces formulaires.
    </p>
    <div class="row">
        <div class="col-xs-6">
            {{ form_start(formDates) }}
            {{ form_widget(formDates) }}
            <ul class="list-inline">
                <li><button id="update1" type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button></li>
            </ul>
            {{ form_end(formDates) }}
        </div>
        <div class="col-xs-6">
            {{ form_start(formSlot) }}
            {{ form_widget(formSlot) }}
            <ul class="list-inline">
                <li><button id="update2" type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button></li>
            </ul>
            {{ form_end(formSlot) }}
            {{ form_start(formLock) }}
            {{ form_widget(formLock) }}
            {% if bid.lock %}
                <p class="alert alert-danger">Cette enchère est bloquée. L'accès à la salle des ventes est impossible.</p>
            {% else %}
                <p class="alert alert-success">Cette enchère n'est pas bloquée.</p>
            {% endif %}
            <ul class="list-inline">
                <li><button id="update3" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ bid.lock ? 'Débloquer cette enchère' : 'Bloquer cette enchère' }}</button></li>
            </ul>
            {{ form_end(formLock) }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    $( document ).ready(function() {

        var prompt = false;
        $("button[type='submit']").click( function() {
            prompt = false;
        });
        $("input").change( function() {
            prompt = true;
        });
        $("textarea").change( function() {
            prompt = true;
        });
        $("select").change( function() {
            prompt = true;
        });
        window.onbeforeunload = function () {
            if (prompt == true) {
                return 'Attention, un des changements n\'a pas été enregistré';
            }
        }

    });


</script>
{% endblock %}