{% extends 'EenovAdminBundle:AdminBid:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbid_create',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'id': 'create_form_bid'}}) }}
    {{ form_errors(form) }}
    {% include 'EenovAdminBundle:AdminBid:_form.html.twig' %}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminbid_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="create" type="submit" class="btn btn-default btn-xs green-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        console.log('coucou');
        $('#create_form_bid').submit(function() {
            if ($('#eenov_admin_bid_draft_shab').val() == "")
                $('#eenov_admin_bid_draft_shab').val(0);
            if ($('#eenov_admin_bid_draft_field').val() == "")
                $('#eenov_admin_bid_draft_field').val(0);
            if ($('#eenov_admin_bid_draft_livingRoom').val() == "")
                $('#eenov_admin_bid_draft_livingRoom').val(0);
            if ($('#eenov_admin_bid_draft_floor').val() == "")
                $('#eenov_admin_bid_draft_floor').val(0);
            if ($('#eenov_admin_bid_draft_rooms').val() == "")
                $('#eenov_admin_bid_draft_rooms').val(0);
            if ($('#eenov_admin_bid_draft_bedrooms').val() == "")
                $('#eenov_admin_bid_draft_bedrooms').val(0);
            if ($('#eenov_admin_bid_draft_bathrooms').val() == "")
                $('#eenov_admin_bid_draft_bathrooms').val(0);updateAction
            if ($('#eenov_admin_bid_draft_showerrooms').val() == "")
                $('#eenov_admin_bid_draft_showerrooms').val(0);
            if ($('#eenov_admin_bid_draft_toilets').val() == "")
                $('#eenov_admin_bid_draft_toilets').val(0);
            return true;
        });
    </script>

    {% block scripts %}
        <script>
            $( document ).ready(function() {
                jQuery("#eenov_admin_bid_honorairePrice2").hide();
                jQuery( "#eenov_admin_bid_honorairePrice" ).prop( "disabled", true );
                var prompt = false;



                $("button[type='submit']").click( function() {
                    jQuery( "#eenov_admin_bid_honorairePrice" ).prop( "disabled", false );
                    prompt = false;

                });
                $("input").change( function() {
                    prompt = true;
                });
                $("textarea").change( function() {
                    prompt = true;
                });
                $("select").change( function() {
                    prompt = true;
                });

                jQuery("#eenov_admin_bid_honoraireCalculation").on('change', function(){
                    jQuery("#eenov_admin_bid_honorairePrice2").show();

                    if(jQuery("#eenov_admin_bid_honoraireCalculation").val() == 0){
                        jQuery('#eenov_admin_bid_honorairePrice2').attr("placeholder", "Indiquez ici le montant");

                    }
                    if(jQuery("#eenov_admin_bid_honoraireCalculation").val() == 1) {

                        jQuery('#eenov_admin_bid_honorairePrice2').attr("placeholder", "Indiquez ici le taux");

                    }

                });
                jQuery("#eenov_admin_bid_honorairePrice2").on('change', function(){
                    if(jQuery("#eenov_admin_bid_honoraireCalculation").val() == 0) {
                        jQuery('#eenov_admin_bid_honorairePrice').val(jQuery('#eenov_admin_bid_honorairePrice2').val());

                        jQuery('#eenov_admin_bid_priceStartOld').val(jQuery('#eenov_admin_bid_firstPrice').val() - jQuery('#eenov_admin_bid_honorairePrice').val());
                        jQuery('#eenov_admin_bid_priceEstimatedOld').val(jQuery('#eenov_admin_bid_estimatedPrice').val() - jQuery('#eenov_admin_bid_honorairePrice').val());

                    }else{
                        jQuery('#eenov_admin_bid_honorairePrice').val(Math.round(
                            jQuery('#eenov_admin_bid_estimatedPrice').val()*
                            jQuery('#eenov_admin_bid_honorairePrice2').val()/100));

                        jQuery('#eenov_admin_bid_priceStartOld').val(jQuery('#eenov_admin_bid_firstPrice').val() - jQuery('#eenov_admin_bid_honorairePrice').val());
                        jQuery('#eenov_admin_bid_priceEstimatedOld').val(jQuery('#eenov_admin_bid_estimatedPrice').val() - jQuery('#eenov_admin_bid_honorairePrice').val());
                    }
                });


                jQuery("a").on('click', function (e) { /** Call the modal manually */
                    if(prompt==true){
                        jQuery('#myModal').modal('show');
                        e.preventDefault();
                    }
                });




            });
        </script>
    {% endblock %}
{% endblock %}
