{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbid_delete',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <p class="alert alert-danger">Êtes-vous certain de vouloir supprimer {{ bid.fullTitle }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li><button id="delete" type="submit" class="btn btn-default btn-xs red-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}