{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbid_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminbid_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    {{ form_start(filter) }}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>{{ order_by('sellerLastname','Vendeur') }}</th>
                <th>{{ order_by('draft.zip','Lieu') }}</th>
                <th>{{ order_by('title','Lieu') }}</th>
                <th>{{ order_by('agency.name','Agence') }}</th>
                <th>{{ order_by('draft_type.name','Type') }}</th>
                <th>{{ order_by('firstPrice','Premier prix') }}</th>
                <th>{{ order_by('estimatedPrice','Prix idéal vendeur') }}</th>
                <th>{{ order_by('sellStarted','Début','ASC') }}</th>
                <th>{{ order_by('sellEnded','Fin') }}</th>
                <th class="sm">Agence</th>
                <th class="sm">Admin</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
            <tr>
                <th></th>
                <th>{{ form_widget(filter.seller) }}</th>
                <th>{{ form_widget(filter.location) }}</th>
                <th>{{ form_widget(filter.title) }}</th>
                <th>{{ form_widget(filter.agency) }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ link(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'),{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</th>
                <th><button type="submit" class="btn btn-default btn-xs purple-stripe">Filtrer</button></th>
            </tr>
        </thead>
        <tbody>
            {% for bid in paginator %}
                <tr>
                    <td>{{ bid.id }}</td>
                    <td>{{ bid.sellerLastname|upper }} {{ bid.sellerFirstname }}</td>
                    <td>{{ bid.draft.zip }} {{ bid.draft.city }}</td>
                    <td>{{ bid.title }}</td>
                    <td><a href="{{ path('eenov_admin_adminagency_update',{agency:bid.agency.id}) }}">{{ bid.agency }}</a></td>
                    <td>{{ bid.draft.type }}</td>
                    <td>{{ bid.firstPrice|price }}</td>
                    <td>{{ bid.estimatedPrice|price }}</td>
                    <td>{{ bid.sellStarted|dateago }}</td>
                    <td>{{ bid.sellEnded|dateago }}</td>
                    {% if bid.slot %}
                        {% if bid.agency.id == bid.slot.agency.id %}
                            <td class="text-center">-</td>
                        {% else %}
                            <td class="text-center">{{ bid.agencyValidated|yes_no_thumb }}</td>
                        {% endif %}
                        <td class="text-center">{{ bid.adminValidated|yes_no_thumb }}</td>
                    {% else %}
                        <td class="text-center" colspan="2">Pas de slot</td>
                    {% endif %}
                    <td>{{ link('eenov_admin_adminbid_update',{bid:bid.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminbid_delete',{bid:bid.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucune annonce trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form_end(filter) }}
{% endblock %}