{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbid_text',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <div class="row">
        <div class="col-xs-6">
            <h2>Brouillon</h2>
            <textarea class="bid-text">{{- include('EenovAdminBundle:AdminBid:_text.txt.twig',{bid:bid,advert:bid.draft},{with_context:false}) -}}</textarea>
        </div>
        <div class="col-xs-6">
            <h2>Annonce en ligne</h2>
            {% if bid.publish %}
                <textarea class="bid-text">{{- include('EenovAdminBundle:AdminBid:_text.txt.twig',{bid:bid,advert:bid.publish},{with_context:false}) -}}</textarea>
            {% else %}
                <p class="alert alert-warning">Le texte de l'annonce sera disponible une fois l'annonce publiée.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
