{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbid_validate',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate1.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate2.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate3.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate4.html.twig' %}
    {% if adminForceRevalidateForm %}
        <h3><span class="label label-warning">5</span> Forcer la republication de l'annonce (admin)</h3>
        <p class="alert alert-warning">
            L'administrateur peut forcer le rafraîchissement des données
            depuis le brouillon vers l'annonce en ligne. La validation de
            l'administrateur sera renouvelée.
        </p>
        {{ form_start(adminForceRevalidateForm) }}
        {{ form_widget(adminForceRevalidateForm) }}
        <button type="submit" class="btn btn-default yellow-stripe">Revalider l'annonce</button>
        {{ form_end(adminForceRevalidateForm) }}
    {% endif %}
{% endblock %}