{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminpost_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminpost_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th class="sm"></th>
                <th>Titre</th>
                <th>Création</th>
                <th class="sm">Publié ?</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for post in paginator %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><img src="{{ post.uri|imagine_filter('thumbnail_24_24') }}"></td>
                    <td>{{ post }}</td>
                    <td>{{ post.created|dateago }}</td>
                    <td>{{ post.isPublished|yes_no_icon }}</td>
                    <td>{{ link('eenov_admin_adminpost_update',{post:post.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminpost_delete',{post:post.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun article trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}