{% extends 'EenovAgencyBundle:AgencyBid:index.html.twig' %}

{% block title %}{{ title('eenov_agency_agencybid_create') }}{% endblock %}

{% block content %}
    <div id="bid-form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% include 'EenovAgencyBundle:AgencyBid:_form.html.twig' %}
        <ul class="list-inline">
            <li>{{ link('eenov_agency_agencybid_index',{agency:agency.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
            <li>
                <button type="submit" class="btn btn-default btn-xs green-stripe">Créer</button>
            </li>
        </ul>
        <div id="bid-footer">
            <ul class="list-inline">
                <li>
                    <button type="submit" class="btn btn-default btn-lg green-stripe">Créer</button>
                </li>
            </ul>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
