{% extends 'EenovAgencyBundle:AgencyBid:index.html.twig' %}

{% block title %}{{ title('eenov_agency_agencybid_delete') }}{% endblock %}

{% block content %}
    <p class="alert alert-danger">Êtes-vous certain de voulois supprimer {{ bid.fullTitle }} ?</p>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_agency_agencybid_index',{agency:agency.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button type="submit" class="btn btn-xs btn-default red-stripe">Supprimer</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}