{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title('eenov_agency_agencybid_ground') }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>
            <button type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button>
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}