{% extends 'EenovAgencyBundle:Agency:read.html.twig' %}

{% block title %}{{ title('eenov_agency_agencybid_index') }}{% endblock %}

{% block tabs %}
    <div class="tabbable tabbable-custom tabbable-custom-profile">
        <ul class="nav nav-tabs">
            {% if app.user.ownedAgencies.count() > 1 %}
                <li><span class="tab-no-link">Annonces de : </span></li>
                {% for ownedAgency in app.user.ownedAgencies %}
                    <li{{ ((is_active('eenov_agency_agencybid_daughter') and daughter is defined and daughter.id == ownedAgency.id) or (is_active('eenov_agency_agencybid_index') and agency.id == ownedAgency.id)) ? ' class="active"' : '' }}>
                        {{ link('eenov_agency_agencybid_daughter',{agency:agency.id,daughter:ownedAgency.id},{name:ownedAgency}) }}
                    </li>
                {% endfor %}
            {% else %}
                <li{{ current('eenov_agency_agencybid_index') }}>{{ link('eenov_agency_agencybid_index',{agency:agency.id}) }}</li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                {{ block('content') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {% if slot %}
            <li>{{ link('eenov_agency_agencybid_create',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}</li>
        {% else %}
            <li>{{ link('eenov_agency_agencyslot_index',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}</li>
        {% endif %}
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Vendeur</th>
                <th>Lieu</th>
                <th>Première offre</th>
                <th>Prix idéal vendeur</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Attente de validation ?</th>
                <th>Publiée ?</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for bid in paginator %}
                <tr>
                    <td>{{ bid.sellerLastname|upper }} {{ bid.sellerFirstname }}</td>
                    <td>{{ bid.draft.zip }} {{ bid.draft.city }}</td>
                    <td>{{ bid.firstPrice|price }}</td>
                    <td>{{ bid.estimatedPrice|price }}</td>
                    <td>{{ bid.sellStarted|dateago }}</td>
                    <td>{{ bid.sellEnded|dateago }}</td>
                    <td>{{ bid.needsValidation()|yes_no_icon }}</td>
                    <td>{{ bid.isOnline()|yes_no_icon }}</td>
                    <td>{{ link('eenov_agency_agencybid_update',{agency:agency.id,bid:bid.id},{name:'Ouvrir',class:'btn btn-xs btn-default yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_agency_agencybid_delete',{agency:agency.id,bid:bid.id},{class:'btn btn-xs btn-default red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucune annonce trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}