{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title('eenov_agency_agencybid_update') }}{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_validate1.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate2.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate3.html.twig' %}
    {% include 'EenovAdminBundle:AdminBid:_validate4.html.twig' %}
{% endblock %}
