{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title('eenov_agency_agencybid_text') }}{% endblock %}

{% block content %}
    {% if bid.publish %}
        <textarea class="bid-text">
            {{- include('EenovAdminBundle:AdminBid:_text.txt.twig',{bid:bid,advert:bid.publish},{with_context:false}) -}}
        </textarea>
    {% else %}
        <p class="alert alert-warning">Le texte de l'annonce sera disponible une fois l'annonce publiée.</p>
    {% endif %}
{% endblock %}
