{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminprice_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminprice_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Nom</th>
                <th>Durée (mois)</th>
                <th>Tarif</th>
                <th>Slots / mois</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for price in paginator %}
                <tr>
                    <td>{{ price.id }}</td>
                    <td>{{ price.name }}</td>
                    <td>{{ price.duration }}</td>
                    <td>{{ price.amount|price }} / {{ price.perSlot ? 'slot' : 'mois' }}</td>
                    <td>{{ price.count|default('Illimité') }} / {{ price.perSlot ? 'slot' : 'mois' }}</td>
                    <td>{{ link('eenov_admin_adminprice_update',{price:price.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminprice_delete',{price:price.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun prix trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}