{% extends 'EenovAdminBundle:AdminPrice:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminprice_update',{price:price.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <h2>{{ price }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminprice_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="update" type="submit" class="btn btn-default btn-xs yellow-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}