{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Démonstration{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="text-uppercase bg-success">Comptes utilisateurs</h2>
            <div class="col-xs-4 text-center">
                <h2>Valider un email</h2>
                <p class="alert alert-info">Un utilisateur doit avoir un email valide pour participer à une vente.</p>
                {{ form_start(validateEmailForm) }}
                {{ form_widget(validateEmailForm.user) }}
                <br>
                <button type="submit" class="btn btn-xs btn-success">Valider</button>
                {{ form_end(validateEmailForm) }}
            </div>
            <div class="col-xs-4 text-center">
                <h2>Compléter un profil</h2>
                <p class="alert alert-info">Un utilisateur doit avoir complété son profil pour participer à une vente.</p>
                {{ form_start(completeProfileForm) }}
                {{ form_widget(completeProfileForm.user) }}
                <br>
                <button type="submit" class="btn btn-xs btn-success">Compléter</button>
                {{ form_end(completeProfileForm) }}
            </div>
            <div class="col-xs-4 text-center">
                <h2>Valider un accès</h2>
                <p class="alert alert-info">L'accès est autorisé ou non par l'agence après avoir consulté le dossier de l'utilisateur.</p>
                {{ form_start(validateAccessForm) }}
                {{ form_widget(validateAccessForm.access) }}
                <br>
                <button type="submit" class="btn btn-xs btn-success">Valider</button>
                {{ form_end(validateAccessForm) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <h2 class="text-uppercase bg-success">Enchères</h2>
            <div class="col-xs-6 text-center">
                <h2>Valider une enchère</h2>
                {{ form_start(validateBidForm) }}
                {{ form_row(validateBidForm.bid) }}
                <br>
                <button type="submit" class="btn btn-xs btn-success">Valider</button>
                {{ form_end(validateBidForm) }}
            </div>
            <div class="col-xs-6 text-center">
                <h2>Changer les dates</h2>
                {{ form_start(bidStatusForm) }}
                {{ form_errors(bidStatusForm) }}
                {{ form_row(bidStatusForm.bid) }}
                {{ form_row(bidStatusForm.status) }}
                <br>
                <button type="submit" class="btn btn-xs btn-success">Modifier</button>
                {{ form_end(bidStatusForm) }}
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}