{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminadverttype_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminadverttype_create',{},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Type</th>
                <th>Complément terrain</th>
                <th>Complément immeuble</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for type in paginator %}
                <tr>
                    <td>{{ type.id }}</td>
                    <td>{{ type }}</td>
                    <td>{{ type.isGround|yes_no_icon }}</td>
                    <td>{{ type.isBuilding|yes_no_icon }}</td>
                    <td>{{ link('eenov_admin_adminadverttype_update',{type:type.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminadverttype_delete',{type:type.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun type trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}