{% extends 'EenovAdminBundle:AdminSubscription:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminsubscription_delete',{agency:agency.id,subscription:subscription.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <p class="alert alert-danger">Êtes-vous certain de vouloir supprimer {{ subscription }} ?</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminsubscription_index',{agency:agency.id},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="delete" type="submit" class="btn btn-default btn-xs red-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}