{% extends 'EenovAdminBundle:AdminAgency:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminsubscription_index',{agency:agency.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminsubscription_create',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}
        {{ li_link('eenov_admin_adminsubscription_createentire',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Nom</th>
                <th>Agence</th>
                <th>Durée (mois)</th>
                <th>Tarif</th>
                <th>Slots</th>
                <th>Début</th>
                <th>Fin</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in paginator %}
                <tr>
                    <td>{{ subscription.id }}</td>
                    <td>{{ subscription.name }}</td>
                    <td><a href="{{ path('eenov_admin_adminagency_update',{agency:subscription.agency.id}) }}">{{ subscription.agency }}</a></td>
                    <td>{{ subscription.duration }}</td>
                    <td>{{ subscription.amount|price }} / {{ subscription.perSlot ? 'slot' : 'mois' }}</td>
                    <td>{{ subscription.count ? '%u / mois'|format(subscription.count) : 'Illimité' }}</td>
                    <td>{{ subscription.started|dateago }}</td>
                    <td>{{ subscription.ended|dateago }}</td>
                    <td>{{ link('eenov_admin_adminsubscription_delete',{agency:agency.id,subscription:subscription.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun abonnement trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}