<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ block('title') }}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% stylesheets
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/uniform/css/uniform.default.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/css/components.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/css/plugins.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/css/layout.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/css/themes/default.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/pages/css/profile.css'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/fullcalendar.min.css'
        'bundles/eenovdefault/css/admin.css'
        filter='cssrewrite'
        output='bundles/back.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        {% block styles %}{% endblock %}
        {% include 'EenovDefaultBundle:Front:_favicon.html.twig' %}
    </head>
    <body class="{{ body_class|default('page-header-fixed page-quick-sidebar-over-content') }}">
        {% include 'EenovUserBundle:Back:_header.html.twig' %}
        <div class="clearfix"></div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    {{ block('nav') }}
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    {% block page_title %}<h3 class="page-title">{{ block('title') }}</h3>{% endblock %}
                    <div class="page-bar">
                        <ul class="breadcrumb page-breadcrumb">
                            {% block breadcrumb %}{% endblock %}
                        </ul>
                    </div>
                    {% include 'EenovDefaultBundle:Front:_form_result.html.twig' %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ block('content') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="page-footer-inner">{{ 'now'|date('Y') }} © <a href="https://www.eenov.com/" target="_blank">Eenov</a>.</div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!--[if lt IE 9]-->
        {% javascripts
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/respond.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/excanvas.min.js'
        output='bundles/back_ie9.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[endif]-->
        {% javascripts
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-1.11.0.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-migrate-1.2.1.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap/js/bootstrap.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery.blockui.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery.cokie.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/uniform/jquery.uniform.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/scripts/metronic.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/scripts/layout.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/moment.min.js'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/fullcalendar.min.js'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/lang/fr.js'
        'bundles/eenovdefault/js/back.js'
        output='bundles/back.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block scripts %}{% endblock %}
    </body>
</html>