{% macro li_nav(route,current,agency,icon) %}
    <li{{ if_active(current) }}>
        <a href="{{ path(route,{agency:agency.id}) }}">
            <i class="{{ icon|default('fa fa-home') }}"></i>
            <span class="title">{{ title(route) }}</span>
            <span class="selected"></span>
        </a>
    </li>
{% endmacro %}

{% import _self as _sidebar %}

<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
    {% if is_granted(ROLE_COMMERCIAL) %}
        <li{{ if_active('eenov_agency_agencyowner_') }}>
            <a href="{{ path('eenov_agency_agencyowner_index') }}">
                <i class="fa fa-users"></i>
                <span class="title">{{ title('eenov_agency_agencyowner_index') }}</span>
                <span class="selected"></span>
            </a>
        </li>
    {% endif %}
    {% if agency is defined %}
        <li>
            <img src="{{ agency.uri|imagine_filter('agency_logo') }}" class="img-responsive" alt="{{ agency.displayName|default(agency.name) }}" style="width:100%;">
        </li>
    {% endif %}
    {{ render(controller('EenovAgencyBundle:Agency:agenciesSelector',{agency:(agency|default(null))})) }}
    {% if agency is defined %}
        {{ _sidebar.li_nav('eenov_agency_agency_read','eenov_agency_agency_read',agency,'fa fa-dashboard') }}
        {{ _sidebar.li_nav('eenov_agency_agency_update',['eenov_agency_agency_update','eenov_agency_agency_owner','eenov_agency_agency_contact'],agency,'fa fa-cog') }}
        {{ _sidebar.li_nav('eenov_agency_agency_documents','eenov_agency_agency_documents',agency,'fa fa-file-pdf-o') }}
        {{ _sidebar.li_nav('eenov_agency_agencybid_index',['eenov_agency_agencybid_','eenov_agency_agencyvisit_','eenov_agency_agencyimage_','eenov_agency_agencydocument_','eenov_agency_agencymandate_','eenov_agency_agencyaccess_','eenov_agency_agencyauction_'],agency,'fa fa-home') }}
        {{ _sidebar.li_nav('eenov_agency_agencyslot_index',['eenov_agency_agencyslot_','eenov_agency_agencysubscription_','eenov_agency_agencylegal_','eenov_agency_agencybill_'],agency,'fa fa-money') }}
    {% endif %}
</ul>
