{% if agencies|length %}
    <li id="agencyselector">
        <label class="hide" for="agencyselectorselect">Agences</label>
        <select id="agencyselectorselect">
            {% if not agency %}
                <option value="" selected="selected"></option>
            {% endif %}
            {% for subAgency in agencies %}
                <option value="{{ subAgency.id }}" {{ (agency and agency.id and (subAgency.id == agency.id)) ? ' selected="selected"' : '' }}>
                    {{- subAgency.name -}}{% if subAgency.displayName %} ({{ subAgency.displayName }}){% endif %}
                </option>
            {% endfor %}
        </select>
    </li>
{% endif %}
