{% extends 'EenovAgencyBundle:Agency:read.html.twig' %}

{% block title %}{{ title('eenov_agency_agency_documents') }}{% endblock %}

{% block content %}
    <h2>Vendeur</h2>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-md btn-default green-stripe" target="_blank" href="{{ asset('bundles/eenovdefault/doc/mandat-agence-oxioneo.pdf',null,false,version) }}">
                <span class="fa fa-file-pdf-o"></span> Mandat de recherche exclusif d'acquéreurs
            </a>
        </li>
        <li>
            <a class="btn btn-md btn-default green-stripe" target="_blank" href="{{ asset('bundles/eenovdefault/doc/mandat-agence-oxioneo-2.pdf',null,false,version) }}">
                <span class="fa fa-file-pdf-o"></span> Mandat de recherche exclusif d'acquéreurs avec coupon de rétractation
            </a>
        </li>
        <li>
            <a class="btn btn-md btn-default green-stripe" target="_blank" href="{{ asset('bundles/eenovdefault/doc/cgu-oxioneo.pdf',null,false,version) }}">
                <span class="fa fa-file-pdf-o"></span> CGU vendeur
            </a>
        </li>
        <li>
            <a class="btn btn-md btn-default green-stripe" target="_blank" href="{{ asset('bundles/eenovdefault/doc/plaquette-vendeurs.pdf',null,false,version) }}">
                <span class="fa fa-file-pdf-o"></span> Plaquette vendeur
            </a>
        </li>
    </ul>
    <h2>Acquéreur</h2>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-md btn-default blue-stripe" target="_blank" href="{{ asset('bundles/eenovdefault/doc/autorisation-utilisation-oxioneo.pdf',null,false,version) }}">
                <span class="fa fa-file-pdf-o"></span> Demande de participation avec CGU
            </a>
        </li>
        <li>
            <a class="btn btn-md btn-default blue-stripe" target="_blank" href="{{ asset('bundles/eenovdefault/doc/plaquette-acquereurs.pdf',null,false,version) }}">
                <span class="fa fa-file-pdf-o"></span> Plaquette acquéreur
            </a>
        </li>
    </ul>
    <h2>Divers</h2>
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-md btn-default red-stripe" target="_blank" href="{{ youtube_uri }}">
                <span class="fa fa-youtube"></span> Vidéo Youtube
            </a>
        </li>
    </ul>
{% endblock %}
