{% extends 'EenovAgencyBundle:Agency:update.html.twig' %}

{% block title %}{{ title('eenov_agency_agency_owner') }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-xs-6">{{ form_row(form.firstname) }}</div>
        <div class="col-xs-6">{{ form_row(form.lastname) }}</div>
        <div class="col-xs-6">{{ form_row(form.username) }}</div>
        <div class="col-xs-6">{{ form_row(form.phone) }}</div>
    </div>
    <button type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
