{% extends 'EenovAgencyBundle::layout.html.twig' %}

{% block page_title %}{% endblock %}

{% block title %}{{ agency.displayName|default(agency.name) }}{% endblock %}

{% block content %}
    <ul class="list-inline">
        <li>Légende :</li>
        <li><span class="label" style="background-color:{{ CALENDAR_COLOR_VISIT }};">Visite</span></li>
        <li><span class="label" style="background-color:{{ CALENDAR_COLOR_BID }};">Enchère</span></li>
    </ul>
    <div class="calendar" data-calendar-api="{{ path('eenov_agency_agency_api',{agency:agency.id,_format:'json'}) }}"></div>
{% endblock %}
