{% extends 'EenovAgencyBundle:Agency:update.html.twig' %}

{% block title %}{{ title('eenov_agency_agency_responsible') }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-xs-6">{{ form_row(form.firstname) }}</div>
        <div class="col-xs-6">{{ form_row(form.lastname) }}</div>
        <div class="col-xs-6">{{ form_row(form.username) }}</div>
        <div class="col-xs-6">{{ form_row(form.phone) }}</div>
    </div>
    {% if form.offsetExists('rawPassword') %}
        <div class="row">
            {% for child in form.rawPassword %}
                <div class="col-xs-6">{{ form_row(child) }}</div>
            {% endfor %}
            <div class="col-xs-12">{{ form_row(form.cgu) }}</div>
        </div>
        <button type="submit" class="btn btn-default btn-xs green-stripe">Créer</button>
    {% else %}
        <button type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button>
        {% form_theme form 'form_div_layout.html.twig' %}
        {{ form_widget(form.delete,{attr:{class:'btn btn-xs btn-default red-stripe'}}) }}
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
