{% extends 'EenovAgencyBundle:Agency:read.html.twig' %}

{% block title %}{{ title('eenov_agency_agency_update') }}{% endblock %}

{% block tabs %}
    <div class="tabbable tabbable-custom tabbable-custom-profile">
        <ul class="nav nav-tabs">
            {{ li_link('eenov_agency_agency_update',{agency:agency.id}) }}
            {{ li_link('eenov_agency_agency_owner',{agency:agency.id}) }}
            {{ li_link('eenov_agency_agency_responsible',{agency:agency.id}) }}
            {{ li_link('eenov_agency_agency_contact',{agency:agency.id}) }}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">{{ block('content') }}</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.mother is defined %}
        {{ form_row(form.mother) }}
        <hr>
    {% endif %}
    <div class="row">
        <div class="col-xs-6">{{ form_row(form.name) }}</div>
        <div class="col-xs-6">{{ form_row(form.displayName) }}</div>
        <div class="col-xs-6">{{ form_row(form.email) }}</div>
        <div class="col-xs-6">{{ form_row(form.phone) }}</div>
    </div>
    <div class="row">
        <div class="col-xs-12">{{ form_row(form.address) }}</div>
        <div class="col-xs-4">{{ form_row(form.zip) }}</div>
        <div class="col-xs-4">{{ form_row(form.city) }}</div>
        <div class="col-xs-4">{{ form_row(form.country) }}</div>
        <div class="col-xs-12">{{ form_row(form.file) }}</div>
    </div>
    <button type="submit" class="btn btn-default btn-xs yellow-stripe">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
