{% extends 'EenovAdminBundle:AdminAgency:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminlegal_index',{agency:agency.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminlegal_create',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Date</th>
                <th>Fichier</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for legal in paginator %}
                <tr>
                    <td>{{ legal.id }}</td>
                    <td>{{ legal.filename }}</td>
                    <td>{{ legal.typeName }}</td>
                    <td>{{ legal.created|dateago }}</td>
                    <td><a href="{{ path('eenov_admin_adminlegal_file',{agency:agency.id,legal:legal.id,_format:legal.extension}) }}"><span class="fa fa-file-pdf-o"></span> Document</a></td>
                    <td>{{ link('eenov_admin_adminlegal_delete',{agency:agency.id,legal:legal.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun document trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}