{% block radio_row -%}
    <label>
        <input class="hidden" type="radio"{{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked is defined and checked %} checked="checked"{% endif %}><span class="check"></span> {{ label is defined ? label : '' }}
    </label>
    <br/>
{%- endblock %}