{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    <h2>{{ 'Vous souhaitez accéder à cette enchère ?'|trans }}</h2>
    <p>
        Pour accéder à la salle de vente de ce bien, il est
        nécessaire d'en faire la demande auprès de l'agence {{ bid.agency.displayName|default(bid.agency.name) }}.
    </p>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger btn-block">Demander l'accès</button>
    <div class="clear"></div>
    {{ form_end(form) }}
{% endblock %}