<div class="sales">
    {% for auction in auctions %}
        <p{{ loop.first ? ' class="last"' }}>
            <span class="name">{{ auction.user|user_anonymize }}</span>
            <span class="price">{{ auction.amount|price }}{{ auction.firm ? ' unique' }}</span>
            <br>
            <span class="date">Le {{ auction.created.format('d/m/Y H:i') }}</span>
        </p>
    {% else %}
        <p>Aucune offre n'a été faite</p>
    {% endfor %}
</div>
<h2>{{ "Fin des offres"|trans }} <em>({{ "Paliers"|trans }}: {{ bid.stepPrice|price }})</em></h2>
<p>
    <strong id="bid-ended-timespan">{{ bid.sellRealEnded ? bid.sellRealEnded.format('d/m/Y H:i:s') : '?' }}</strong>
</p>
{% if not firmAuction %}
    <h2>{{ "Je fais une meilleure offre"|trans }}</h2>
    {% if form is not empty %}
        {% form_theme form 'EenovUserBundle:UserAuction:_radio.html.twig' %}
        {{ form_start(form,{attr:{id:'offers' }}) }}
        {{ form_errors(form) }}
        {{ form_errors(form.amount) }}
        <input class="btn btn-danger offer" type="submit" value="Envoyer">
        {{ form_widget(form.amount) }}
        {{ form_end(form) }}
    {% else %}
        <p class="alert alert-warning">
            Vous ne pouvez pas faire une meilleure
            offre car vous êtes le dernier à avoir
            enchéri.
        </p>
    {% endif %}
{% endif %}
{% if bid.allowFirmAuction %}
    {% if firmAuction %}
        <p class="alert alert-warning">
            Vous avez réalisé une offre unique à
            {{ firmAuction.amount|price }} et vous
            ne pouvez plus faire d'offres d'achat.
        </p>
    {% elseif firm is not empty %}
        <h2>{{ 'Je fais une offre unique'|trans }}</h2>
        {{ form_start(firm,{attr:{id:'firmoffers' }}) }}
        {{ form_errors(firm) }}
        <div class="input-group">
            {{ form_widget(firm.amount) }}
            <span class="input-group-btn">
                <button class="btn btn-danger firmoffer" type="submit">Envoyer</button>
            </span>
        </div>
        {{ form_end(firm) }}
        <br>
    {% endif %}
{% endif %}
{% if form or firm %}
    <p>
        Je m'engage à honorer cette offre vis à vis de l'agence et du vendeur selon les conditions
        générales d'utilisation signées avec l'agence.
    </p>
{% endif %}
<p class="note"><em><small>* Cette page s'actualise toutes les 15 secondes.</small></em></p>
<div class="clear"></div>
