{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    <br>
    <br>
    <br>
    <p>
        Désolé,
    </p>
    <br>
    <br>
    <p>
        Votre demande d'accès à cette salle de vente a été refusée par l'agence {{ bid.agency.displayName|default(bid.agency.name) }}.
    </p>
    <br>
    {% if access.agencyComment %}
        <p>
            L'agence a laissé le commentaire suivant :
        </p>
        <blockquote>{{ access.agencyComment|nl2br }}</blockquote>
    {% endif %}
    <br>
    <br>
{% endblock %}