{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    <br>
    <br>
    <br>
    <p>
        L'enchère est terminée, merci à tous pour votre participation.
    </p>
    <p>
        L'agence vous contactera dans les plus brefs délais pour vous informer
        si votre offre est acceptée par le vendeur.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}