{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    {% if bid.publish and bid.publish.id == advert.id %}
        <div id="inner" data-uri="{{ path('eenov_user_userauction_api',{bid:bid.id}) }}"></div>
    {% else %}
        <p class="alert alert-danger">
            Cette annonce est un brouillon.
        </p>
    {% endif %}
{% endblock %}
