{% extends 'EenovUserBundle::layout.html.twig' %}

{# @var bid \Eenov\DefaultBundle\Entity\Bid #}

{% set body_class = "auction-room" %}

{% block title %}Salle des ventes de {{ bid }}{% endblock %}

{% set body_class = 'auction-room' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/eenovdefault/lib/supersized/supersized.css') }}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ asset('bundles/eenovdefault/lib/supersized/supersized.shutter.css') }}" type="text/css" media="screen"/>
{% endblock %}

{% block body %}
    <div class="pattern-responsive">
        <!--<div class="pattern"></div>-->
        <div id="header-auction">
            <div class="logo-oxioneo">
                <a href="{{ path('eenov_default_default_index') }}" title="{{ "Accueil"|trans }}">
                    <img src="{{ asset('bundles/eenovdefault/img/auctionroom-logo.png') }}" alt="{{ 'Oxioneo, l\'enchère immobilière'|trans }}"/>
                </a>
            </div>
            <div class="header-user">
                {% include 'EenovUserBundle:User:_header.html.twig' %}
            </div>
            <br class="clear"/>
        </div>
        <div id="auction-room">
            <div class="room">
                <div>
                    <a class="account" href="{{ path('eenov_user_userhistory_index') }}" title="{{ "Mon compte"|trans }}">{{ "Mon compte"|trans }}</a>
                    <a class="back" href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" title="{{ "Retourner à l'annonce"|trans }}">{{ "Retourner à l'annonce"|trans }}</a>
                    <div class="details open">
                        <a class="toggle" href="#" title="{{ "Afficher moins de détails sur le bien"|trans }}"></a>
                        <div class="content">
                            <div class="tags">
                                <span class="highlight">{{ advert.shab|area }}</span>
                                <span class="highlight">{{ advert.rooms }} pièce{% if advert.rooms > 1 %}s{% endif %}</span>
                                <span class="highlight">{{ advert.type }}</span>
                            </div>
                            <div class="offers">
                                <h3 class="first-offer">{{ "Prix de départ des offres"|trans }}:</h3>
                                <h3><span>{{ bid.firstPrice|price }}</span></h3>
                                <br/>
                                <p>{{ "Prix idéal vendeur"|trans }}: <strong>{{ bid.estimatedPrice|price }}</strong></p>
                                <div>
                                    <p>{{ "Début des offres"|trans }}:</p>
                                    <p><strong>{{ bid.sellStarted ? bid.sellStarted.format('d/m/Y H:i:s') : '?' }}</strong></p>
                                    <br/>
                                    <p>{{ "Fin des offres"|trans }}:</p>
                                    <p><strong>{{ bid.sellRealEnded ? bid.sellRealEnded.format('d/m/Y H:i:s') : '?' }}</strong></p>
                                </div>
                                <br>
                                <div>
                                    <p>Agence:</p> <p><strong>{{ bid.agency.displayName|default(bid.agency.name) }}</strong></p>
                                    <br>
                                    {% if bid.agency.phone %}
                                        <p>Téléphone:</p> <p><a href="tel:{{ bid.agency.phone }}">{{ bid.agency.phone }}</a></p>
                                        <br>
                                    {% endif %}
                                    {% if bid.agency.email %}
                                        <p>Email:</p> <p><a href="mailto:{{ bid.agency.email }}">{{ bid.agency.email }}</a></p>
                                        <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="caption">
                        <h1>{{ bid.title }}</h1><br/>
                        <p class="place">{{ advert.city }} ({{ advert.zip }})</p>
                    </div>
                    {% if not bid.isOnline() %}
                        <p class="alert alert-danger">
                            Vous visualisez cette annonce parce que vous êtes l'administrateur ou
                            l'agence responsable de cette dernière. Cette annonce n'est pas publique.
                        </p>
                    {% endif %}
                    {% include 'EenovDefaultBundle:Form:_flash.html.twig' %}
                    {% block subcontent %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="details details-responsive">
            <a class="toggle" href="#" title="{{ "Afficher moins de détails sur le bien"|trans }}"></a>
            <div class="content">
                <div class="tags">
                    <span class="highlight">{{ advert.shab|area }}</span>
                    <span class="highlight">{{ advert.rooms }} pièce{% if advert.rooms > 1 %}s{% endif %}</span>
                    <span class="highlight">{{ advert.type }}</span>
                </div>
                <div class="offers">
                    <h3 class="first-offer">{{ "1ère offre possible"|trans }}:</h3>
                    <h3><span>{{ bid.firstPrice|price }}</span></h3>
                    <br/>
                    <p>{{ "Présentation"|trans }}: <strong>{{ bid.estimatedPrice|price }}</strong></p>
                    <div>
                        <p>{{ "Début des offres"|trans }}:</p>
                        <p><strong>{{ bid.sellStarted ? bid.sellStarted.format('d/m/Y H:i') : '?' }}</strong></p>
                        <br/>
                        <p>{{ "Fin des offres"|trans }}:</p>
                        <p><strong>{{ bid.sellRealEnded ? bid.sellRealEnded.format('d/m/Y H:i') : '?' }}</strong></p>
                    </div>
                    <div>
                        <p>Agence:</p> <p><strong>{{ bid.agency.displayName|default(bid.agency.name) }}</strong></p>
                        <br>
                        {% if bid.agency.phone %}
                            <p>Téléphone:</p> <p><a href="tel:{{ bid.agency.phone }}">{{ bid.agency.phone }}</a></p>
                            <br>
                        {% endif %}
                        {% if bid.agency.email %}
                            <p>Email:</p> <p><a href="mailto:{{ bid.agency.email }}">{{ bid.agency.email }}</a></p>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="agency">
                <img src="{{ bid.agency.uri|imagine_filter('auction_agency_logo') }}" alt="{{ bid.agency.displayName|default(bid.agency.name) }}"/>
                {{ bid.agency.displayName|default(bid.agency.name) }}
            </div>
            <div>
                {{ 'now'|date('Y') }} © {{ "Oxioneo - Tous droits réservés."|trans }}<br/>
                <a href="{{ path('eenov_default_default_imprint') }}" title="{{ "Mentions légales"|trans }}">{{ "Mentions légales"|trans }}</a> - <a href="{{ path('eenov_default_default_cgu') }}" title="{{ "CGU"|trans }}">{{ "CGU"|trans }}</a>
            </div>
            <div class="social-networks">
                <a class="facebook" href="{{ facebook_uri }}" title="{{ "Nous suivre sur Facebook"|trans }}" target="_blank">{{ "Facebook"|trans }}</a>
                <a class="google" href="{{ google_uri }}" title="{{ "Nous suivre sur Google+"|trans }}" target="_blank">{{ "Google+"|trans }}</a>
                <a class="twitter" href="{{ twitter_uri }}" title="{{ "Nous suivre sur Twitter"|trans }}" target="_blank">{{ "Twitter"|trans }}</a>
                <a class="pinterest" href="{{ pinterest_uri }}" title="{{ "Nous suivre sur Pinterest"|trans }}" target="_blank">{{ "Pinterest"|trans }}</a>
            </div>
        </div>
        <br class="clear"/>
        <a id="prevslide" class="load-item"></a>
        <a id="nextslide" class="load-item"></a>
    </div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var supersizedImages = [
            {% for image in advert.images %}
            {{ {image:(image.uri|imagine_filter('auction_slide')),title:image.type.name}|json_encode|raw }}{{ loop.last ? '' : ',' }}
            {% endfor %}
        ];
        var bidEnded = new Date(1000 * {{ bid.sellRealEnded.timestamp|raw }});
    </script>
    {% javascripts
    'bundles/eenovdefault/lib/supersized/jquery.easing.min.js'
    'bundles/eenovdefault/lib/supersized/supersized.3.2.7.min.js'
    'bundles/eenovdefault/lib/supersized/supersized.shutter.js'
    'bundles/eenovdefault/lib/countdownjs-2.5.2/countdown.min.js'
    'bundles/eenovdefault/js/auction.js'
    output='bundles/auction.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}