{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    <br>
    <br>
    <br>
    <p>
        Vous avez été autorisé à accéder à cette vente.
        Elle démarrera le {{ bid.sellStarted ? bid.sellStarted.format('d/m/Y H:i') : '?' }}.
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}