{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    <div class="sales">
        {% for auction in auctions %}
            <p{{ loop.first ? ' class="last"' }}>
                <span class="name">{{ auction.user|user_anonymize }}</span>
                <span class="price">{{ auction.amount|price }}</span>
                <br/>
                <span class="date">Le {{ auction.created.format('d/m/Y H:i') }}</span>
            </p>
        {% else %}
            <p>Aucune offre pour l'instant</p>
        {% endfor %}
    </div>
    <h2>{{ "Fin des offres"|trans }} <em>({{ "Paliers"|trans }}: {{ bid.stepPrice|price }})</em></h2>
    <p>
        <strong id="bid-ended-timespan">{{ bid.sellRealEnded ? bid.sellRealEnded.format('d/m/Y H:i:s') : '?' }}</strong>
    </p>
    <p class="alert alert-warning">Cette enchère vous est accessible en lecture seule.</p>
{% endblock %}
