{% extends 'EenovUserBundle:UserAuction:layout.html.twig' %}

{% block subcontent %}
    <br>
    <br>
    <br>
    <p>
        Vous avez demandé l'accès à cette vente le {{ access.created.format('d/m/Y H:i') }}.
    </p>
    <br>
    <br>
    <p>
        Votre demande a été communiquée à l'agence {{ bid.agency.displayName|default(bid.agency.name) }} qui doit la revoir et la valider.
    </p>
    <br>
    <br>
    <br>
    <br>
{% endblock %}