{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminmandate_index',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminmandate_create',{bid:bid.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Acheteur</th>
                <th>Email de l'acheteur</th>
                <th>Date</th>
                <th>Date de visite</th>
                <th>Document de participation</th>
                <th>Accès</th>
                <th class="sm"></th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for mandate in paginator %}
                <tr>
                    <td>{{ mandate.id }}</td>
                    <td>{{ mandate.buyer }}</td>
                    <td>{{ mandate.buyerEmail|default('-') }}</td>
                    <td>{{ mandate.created|timeago }}</td>
                    <td>{{ mandate.visited|dateago }}</td>
                    <td>
                        {% if mandate.path %}
                            <a href="{{ path('eenov_admin_adminmandate_file',{bid:bid.id,mandate:mandate.id,_format:mandate.extension}) }}"><span class="fa fa-file-pdf-o"></span> Document de participation</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ mandate.access|default('-') }}</td>
                    <td>{{ link('eenov_admin_adminmandate_update',{bid:bid.id,mandate:mandate.id},{class:'btn btn-default btn-xs yellow-stripe'}) }}</td>
                    <td>{{ link('eenov_admin_adminmandate_delete',{bid:bid.id,mandate:mandate.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucun accès trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}