{% extends 'EenovAdminBundle::_bill.pdf.twig' %}

{% block content %}
    <div id="footer">
        <p class="text-center">
            Contact : Tel: 0 800 407 871 - Mail: comptabilité@oxioneo.com
        </p>
        <p class="text-center">-</p>
        <p class="text-center">
            OXIONEO-IMMO SARL au capital de 1000€ - Immatriculée au RCS de Bordeaux sous le numéro 804 954 295 et dont le siège social se situe
            61 Route Jean Briaud - Immeuble Diamant1 - CS 70010 - 33693 Mérignac CEDEX.
        </p>
        <p class="text-center">-</p>
        <p class="text-center">
            OXIONEO-IMMO est une marque déposée de la société WILL SAS au capital de 30000€ - Immatriculée au RCS de Bordeaux sous le
            numéro 804 554 665 et dont le siège social se situe 61 Route Jean Briaud - Immeuble Diamant1 - CS 70010 - 33693 Mérignac CEDEX.
        </p>
    </div>
{% endblock %}
