{% extends 'EenovAdminBundle::_bill.pdf.twig' %}

{% block content %}
    {# @var price int #}
    {# @var tva int #}
    {# @var agency \Eenov\DefaultBundle\Entity\Agency #}
    {# @var billNumber \Eenov\DefaultBundle\Entity\Agency #}
    {# @var billStarted \DateTime #}
    {# @var billEnded \DateTime #}
    {# @var billCreated \DateTime #}
    {# @var billLimited \DateTime #}
    {# @var billCondition string #}
    <div id="header" class="row">
        <div class="col-xs-4">
            <img src="data:image/png;base64,{{ logo }}" height="120" width="120"/>
            <address class="oxioneo-address">
                Oxioneo-immo<br>
                61 rue Jean Briaud<br>
                33700 Mérignac<br>
                France<br>
                Numéro de TVA : FR76804954295
            </address>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <h1>Facture</h1>
                </div>
                <div class="col-xs-6">
                    <br>
                    <h2>Facturé à</h2>
                    <address>
                        <strong>{{ agency.name }}</strong><br>
                        {{ agency.address|nl2br }}<br>
                        {{ agency.zip }} {{ agency.city }}<br>
                        {{ agency.country }}<br>
                        {% if agency.siret %}
                            SIRET : {{ agency.siret }}
                        {% endif %}
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    <h2>Détails</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">Numéro de la facture :</div>
                <div class="col-xs-6">{{ billNumber }}</div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">Date d'échéance :</div>
                <div class="col-xs-6">{{ billLimited.format('d/m/Y') }}</div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">Date d'émission :</div>
                <div class="col-xs-6">{{ billCreated.format('d/m/Y') }}</div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">Conditions de paiement :</div>
                <div class="col-xs-6">{{ billCondition }}</div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    <h2>{{ billStarted.format('d/m/Y') }} - {{ billEnded.format('d/m/Y') }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Période</th>
                        <th>Abonnement</th>
                        <th>Quantité</th>
                        <th>Montant HT ({{ unity_money }})</th>
                    </tr>
                </thead>
                <tbody>
                    {% set sum_price = 0 %}
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.started.format('d/m/Y') }} - {{ price.ended.format('d/m/Y') }}</td>
                            <td>{{ price.subscription }}</td>
                            <td>{{ price.number }}</td>
                            <td class="text-right">{{ price.price|price('',2) }}</td>
                        </tr>
                        {% set sum_price = price.price + sum_price %}
                    {% else %}
                        <tr>
                            <td colspan="100%"><p class="text-center">Aucune charge.</p></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="subtotal">
                        <td colspan="2"></td>
                        <td>Sous-total :</td>
                        <td class="text-right">{{ sum_price|price('',2) }}</td>
                    </tr>
                    <tr class="tva">
                        <td colspan="2"></td>
                        <td>* TVA (20%) :</td>
                        <td class="text-right">{{ (sum_price * tva / 100)|price('',2) }}</td>
                    </tr>
                    <tr class="sum">
                        <td colspan="2"></td>
                        <td class="bordered">Montant TTC dû en {{ unity_money }} :</td>
                        <td class="bordered text-right">{{ (sum_price + (sum_price * tva / 100))|price('',2) }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}