{% extends 'EenovAdminBundle::_bill.pdf.twig' %}

{% block content %}
    {# @var logo string #}
    {# @var bill \Eenov\DefaultBundle\Entity\Bill #}
    {# @var agency \Eenov\DefaultBundle\Entity\Agency #}
    {# @var moneyIn \Eenov\DefaultBundle\Entity\MoneyIn #}
    {# @var billNumber int #}
    {# @var pack array #}
    {# @var price1 float #}
    {# @var price2 float #}
    {# @var price3 float #}
    {# @var price4 float #}
    {# @var price5 float #}
    <div id="header" class="row">
        <div class="col-xs-4">
            <img src="data:image/png;base64,{{ logo }}" height="120" width="120"/>
            <address class="oxioneo-address">
                Oxioneo-immo
                <br>
                61 rue Jean Briaud
                <br>
                Immeuble Diamant 1
                <br>
                CS 70010
                <br>
                33693 Mérignac Cedex
                <br>
                France
                <br>
                Numéro de TVA : FR76804954295
            </address>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <h1>Facture</h1>
                </div>
                <div class="col-xs-6">
                    <br>
                    <h2>Facturé à</h2>
                    <address>
                        {{ agency.name }}
                        <br>
                        {{ agency.address|nl2br }}
                        <br>
                        {{ agency.zip }} {{ agency.city }}
                        <br>
                        {{ agency.country }}
                        <br>
                        {% if agency.siret %}
                            SIRET : {{ agency.siret }}
                        {% endif %}
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    <h2>Détails</h2>
                </div>
                <div class="col-xs-11 col-xs-offset-1">Numéro de la facture : {{ billNumber }}</div>
                <div class="col-xs-11 col-xs-offset-1">Conditions de paiement : CB</div>
                <div class="col-xs-11 col-xs-offset-1 date"><strong>{{ bill.created.format('d/m/Y') }}</strong></div>
            </div>
        </div>
    </div>
    <div id="content" class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="50%">Désignation</th>
                        <th width="25%">Quantité</th>
                        <th width="25%" class="text-right">Montant HT ({{ unity_money }})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Offre {{ moneyIn.pack|upper }} Annonce x {{ moneyIn.slotCount }}</td>
                        <td>1</td>
                        <td class="text-right">{{ price1|price('',2) }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    {% if price2 %}
                        <tr class="subtotal">
                            <td></td>
                            <td>Remise :</td>
                            <td class="text-right">{{ price2|price('',2) }}</td>
                        </tr>
                    {% endif %}
                    <tr class="subtotal">
                        <td></td>
                        <td>Sous-total :</td>
                        <td class="text-right">{{ price3|price('',2) }}</td>
                    </tr>
                    <tr class="tva">
                        <td></td>
                        <td>TVA ({{ pack.vat }}%) :</td>
                        <td class="text-right">{{ price4|price('',2) }}</td>
                    </tr>
                    <tr class="sum">
                        <td></td>
                        <td class="bordered">Règlement reçu :</td>
                        <td class="bordered text-right">{{ price5|price('',2) }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
