<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>OXIONEO</title>
        <meta charset="utf-8"/>
        <style type="text/css">
            {{ css }}
            body { font-size: 11px; }
            h1 { font-size: 28px; margin: 0; line-height: 50px; }
            h2 { font-size: 12px; font-weight: 700; line-height: 12px; }
            .row { overflow: hidden; }
            address.oxioneo-address { font-size: 10px; margin: 0 5px; line-height: 11px; }
            #header { padding: 25px 0; }
            #content thead { border-top: 1px solid #000; border-bottom: 1px solid #000; }
            #content thead tr th { padding-top: 20px; }
            #content tfoot { border-top: 1px solid #000; }
            #content tfoot tr.sum td.bordered { border-top: 1px solid #000; border-bottom: 1px solid #000; }
            th, td { padding: 5px; }
            #footer { font-size: 10px; line-height: 10px; padding-bottom: 25px; }
            #footer p { margin: 0; }
            .date { margin-top: 20px; }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            {{ block('content') }}
        </div>
    </body>
</html>
