<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{{ title() }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"/>
        {% stylesheets
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/simple-line-icons/simple-line-icons.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/uniform/css/uniform.default.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/select2/select2.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-datepicker/css/datepicker.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/css/jquery.fileupload.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/css/components.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/css/plugins.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/css/layout.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/css/themes/default.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-summernote/summernote.css'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-toastr/toastr.min.css'
        'bundles/eenovdefault/lib/sweetalert-master/lib/sweet-alert.css'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/fullcalendar.min.css'
        'bundles/eenovdefault/css/admin.css'
        filter='cssrewrite'
        output='bundles/tmp.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% include 'EenovDefaultBundle:Front:_favicon.html.twig' %}
    </head>
    <body class="page-header-fixed page-quick-sidebar-over-content">
        {% block body %}
            <div class="page-header navbar navbar-fixed-top">
                <div class="page-header-inner">
                    <div class="page-logo">
                        <a href="{{ path('eenov_admin_admin_index') }}">
                            <img src="{{ asset('bundles/eenovdefault/img/logo-130.png') }}" alt="Oxioneo, l'enchère immobilière" class="logo-default"/>
                        </a>
                        <div class="menu-toggler sidebar-toggler"></div>
                    </div>
                    <a href="#" class="menu-toggler responsive-toggler collapsed" data-toggle="collapse" data-target=".navbar-collapse"></a>
                    <div class="top-menu">
                        {% include 'EenovAdminBundle:Admin:_nav.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="page-container">
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">
                        {% include 'EenovAdminBundle:Admin:_sidebar.html.twig' %}
                    </div>
                </div>
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <h3 class="page-title">
                            {{ block('title') }}
                        </h3>
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="{{ path('eenov_admin_admin_index') }}">Accueil</a>
                                </li>
                                {{ block('breadcrumb') }}
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ block('content') }}
                                {% include 'EBDoctrineBundle::_paginator.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'EenovAdminBundle:Admin:_footer.html.twig' %}
        {% endblock %}
        <script type="text/javascript">
            var oxioneo = {{ oxioneo|json_encode|raw }};
            var flashes = {error:[],warning:[],success:[]};
{% for label,flashes in app.session.flashbag.all %}
{% for flash in flashes %}
            flashes.{{ label }}.push('{{ flash }}');
{% endfor %}
{% endfor %}
        </script>
        <!--[if lt IE 9]-->
        {% javascripts
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/respond.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/excanvas.min.js'
        output='bundles/admin_ie9.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[endif]-->
        {% javascripts
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-1.11.0.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-migrate-1.2.1.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap/js/bootstrap.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery.blockui.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery.cokie.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/uniform/jquery.uniform.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/datatables/media/js/jquery.dataTables.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/js/jquery.iframe-transport.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/jquery-file-upload/js/jquery.fileupload.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/select2/select2.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/select2/select2_locale_fr.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/datatables/media/js/jquery.dataTables.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/scripts/metronic.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/scripts/datatable.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/admin/layout/scripts/layout.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/moment.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-summernote/summernote.min.js'
        'bundles/eenovdefault/lib/metronic_v3.2.0/global/plugins/bootstrap-toastr/toastr.min.js'
        'bundles/eenovdefault/lib/sweetalert-master/lib/sweet-alert.min.js'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/fullcalendar.min.js'
        'bundles/eenovdefault/lib/fullcalendar-2.1.1/lang/fr.js'
        'bundles/eenovdefault/js/admin.js'
        'bundles/eenovdefault/js/google.js'
        output='bundles/tmp.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block scripts %}{% endblock %}
    </body>
</html>