{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block _eenov_agency_access_user_widget -%}
    <div class="input-group has-warning has-feedback text-center">
        <span class="fa fa-warning form-control-feedback" aria-hidden="true" style="top:10px;z-index:4;right:80px;"></span>
        {{ block('integer_widget') }}
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Ajouter</button>
        </span>
    </div>
{%- endblock %}

{% block tabcontent %}
    <div class="tab-content">
        <div class="tab-pane active">
            {{ block('content') }}
        </div>
    </div>
    <div class="tab-content margin-top-20">
        <div class="tab-pane active">
            <p class="alert alert-warning text-justify">
                Vous pouvez être amené à donner l'accès à votre
                salle de vente à des utilisateurs <strong>en tant que spectateur</strong>. Dans ce cas, il
                vous suffit de créer cet accès en précisant l'identifiant unique de l'utilisateur. Il pourra
                trouver cet identifiant sur sa page "Tableau de bord" à l'adresse suivante
                <a href="{{ path('eenov_user_user_index') }}">{{ url('eenov_user_user_index') }}</a>
                (entre les deux étoiles).
            </p>
            {% form_theme form _self %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_errors(form.user) }}
            {{ form_widget(form.user) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Accès validé ?</th>
                <th>ID internaute</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Accès</th>
                <th>Document de participation</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for access in paginator %}
                <tr>
                    <td>
                        {% if access.readonly %}
                            {{ true|yes_no_icon }}
                        {% else %}
                            {{ access.hasBeenValidated() ? access.isValid()|yes_no_icon :(false|yes_no_icon) }}
                        {% endif %}
                    </td>
                    <td>{{ access.user|user_anonymize }}</td>
                    <td>{{ access.user }}</td>
                    <td>{{ access.created|timeago }}</td>
                    <td>{{ access.readonly ? 'Spectateur' : 'Enchérisseur' }}</td>
                    <td>
                        {% if access.mandate %}
                            <a href="{{ path('eenov_agency_agencymandate_file',{agency:agency.id,bid:bid.id,mandate:access.mandate.id,_format:access.mandate.extension}) }}"><span class="fa fa-file-pdf-o"></span> Document de participation</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if access.readonly %}
                            {{ link('eenov_agency_agencyaccess_delete',{agency:agency.id,bid:bid.id,access:access.id},{class:'btn btn-xs btn-default btn-block red-stripe'}) }}
                        {% else %}
                            {{ link('eenov_agency_agencyaccess_update',{agency:agency.id,bid:bid.id,access:access.id},{class:'btn btn-xs btn-default btn-block yellow-stripe'}) }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucune autorisation d'accès enregistrée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}