{% extends 'EenovAgencyBundle:AgencyBid:update.html.twig' %}

{% block title %}{{ title() }}{% endblock %}

{% block content %}
    <h2>Utilisateur : <strong>{{ access.user }}</strong></h2>
    <p>Voici les informations concernant {{ access.user }}.</p>
    {% if access.hasBeenValidated() %}
        {% if access.isValid() %}
            <p class="alert alert-success">Cet accès a déjà été accepté.</p>
        {% else %}
            <p class="alert alert-danger">Cet accès a déjà été refusé.</p>
        {% endif %}
    {% endif %}
    {% include 'EenovAgencyBundle::_profile.html.twig' with {user:access.user} only %}
    {% form_theme form 'form_div_layout.html.twig' %}
    {{ form_start(form) }}
    {% if form.mandate is defined %}
        {{ form_row(form.mandate) }}
    {% endif %}
    <br>
    {% if form.accept is defined %}
        {{ form_widget(form.accept,{attr:{class:'btn btn-default green-stripe'}}) }}
    {% endif %}
    {{ form_widget(form.refuse,{attr:{class:'btn btn-default red-stripe'}}) }}
    {{ form_end(form) }}
{% endblock %}
