{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = "about-us" %}

{% block title %}Qui sommes nous - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <h1 class="text-center">Qui sommes nous ?</h1>
                    <br>
                    <div class="col-md-6 text-justify">
                        <p>
                            OXIONEO est né dans l'esprit du binôme que
                            forment Laure Henriot et Julien Gautier, agents
                            immobiliers depuis plusieurs années à
                            Bordeaux (33), au vu des résultats obtenus par <span class="highlight">la
                            salle des ventes virtuelles</span> conçues par le Conseil
                            Supérieur du Notariat. Ce concept nous a donné
                            matière à réfléchir sur une application
                            particulièrement <span class="highlight">destinée aux professionnels de
                            l'immobilier</span>. Le site est réalisé par Alexandre
                            Bennat, dirigeant fondateur de la Société web
                            EENOV (Développement et Infogérance), à
                            Mérignac(33) et également le troisième co-
                            fondateur de la société OXIONEO.
                        </p>
                        <p>
                            Le principe est simple, la plateforme OXIONEO
                            met à votre disposition un outil permettant
                            d'obtenir rapidement <span class="highlight">le bon prix du marché</span> pour
                            la vente ou l'achat de votre bien immobilier.
                        </p>
                        <p>
                            Avec OXIONEO c'est <span class="highlight">l'offre et la demande
                            qui se rencontrent en temps réel</span>, sur un
                            espace transparent et sécurisé.
                        </p>
                        <p>
                            <strong class="text-uppercase">Découvrez dès maintenant les biens mis en ligne,
                            saisissez les opportunités sur OXIONEO.</strong>
                        </p>
                    </div>
                    <div class="col-md-6 users">
                        <div class="row user">
                            <div class="col-xs-3"><img src="{{ asset('bundles/eenovdefault/img/who/laure-mini.jpg') }}"></div>
                            <div class="col-xs-9">
                                <p>
                                    <strong class="text-uppercase">Laure Henriot</strong><br>
                                    Co-fondatrice<br>
                                    Responsable commerciale<br>
                                    <br>
                                    <a href="mailto:laurehenriot@oxioneo.com">laurehenriot@oxioneo.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="row user">
                            <div class="col-xs-3"><img src="{{ asset('bundles/eenovdefault/img/who/julien-mini.jpg') }}"></div>
                            <div class="col-xs-9">
                                <p>
                                    <strong class="text-uppercase">Julien Gautier</strong><br>
                                    Co-fondateur<br>
                                    Responsable développement<br>
                                    <br>
                                    <a href="mailto:juliengautier@oxioneo.com">juliengautier@oxioneo.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="row user">
                            <div class="col-xs-3"><img src="{{ asset('bundles/eenovdefault/img/who/alexandre-mini.jpg') }}"></div>
                            <div class="col-xs-9">
                                <p>
                                    <strong class="text-uppercase">Alexandre Bennat</strong><br>
                                    Co-fondateur<br>
                                    Responsable technique<br>
                                    <br>
                                    <a href="mailto:alexandrebennat@oxioneo.com">alexandrebennat@oxioneo.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock %}