{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'contact-us bg-white' %}

{% block title %}Notre offre agence{% endblock %}

{% import 'EenovDefaultBundle::_pack.html.twig' as subscriptionPack %}

{% block content %}
    {#<div id="container-fluid">
        <div id="slide_offre_agence">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-lg-offset-3">
                    <div id="hashtag_slide">
                        <p><span>#</span>enchères</p>
                        <p><span>#</span>immobilier</p>
                    </div>
                    <div id="slogan_slide">
                        {{ 'gagner en performance !'|trans }}
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 hidden-xs">
                    <div id="bloc_prix_slide">
                        <div class="a_partir">{{ 'à partir de'|trans }}</div>
                        <div class="prix_slide">99<span class="sup">€</span><span class="ht">HT</span></div>
                        <div class="nota_prix_slide">sans engagement</div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
    {#<div class="container">
        {% for id,pack in packs %}
            {{ subscriptionPack.pack(id,pack) }}
            <hr>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <h2><span>nos services,</span> inclus</h2>
            </div>
        </div>
        <div id="bloc_services">
            <div id="mandat">
                <img src="{{ asset('bundles/eenovdefault/img/picto_mandat_nb.png') }}" class="img-responsive" alt="picto mandat nb"/>
                <p>{{ 'mandat exclusif'|trans }}<span>{{ 'oxioneo'|trans }}</span></p>
            </div>
            <div id="support">
                <img src="{{ asset('bundles/eenovdefault/img/picto_supports_nb.png') }}" class="img-responsive" alt="picto supports nb"/>
                <p>{{ 'support commerciaux'|trans }}</p>
            </div>
            <div id="hotline">
                <img src="{{ asset('bundles/eenovdefault/img/picto_hotline_nb.png') }}" class="img-responsive" alt="picto hotline nb"/>
                <p>{{ 'hotline'|trans }}</p>
            </div>
            <div id="acces">
                <img src="{{ asset('bundles/eenovdefault/img/picto_acces_nb.png') }}" class="img-responsive" alt="picto acces nb"/>
                <p>{{ 'accès sécurisé'|trans }}</p>
            </div>
            <div id="formation">
                <img src="{{ asset('bundles/eenovdefault/img/picto_formation_nb.png') }}" class="img-responsive" alt="picto formation nb"/>
                <p>{{ 'formation commerciale'|trans }}</p>
            </div>
        </div>
        <div id="form_bas_page" class="col-md-8 col-md-offset-2 white">
            {{ form_start(form,{action:'#form-contact',attr:{id:'form-contact' }}) }}
            <span class="triangle"> </span>
            {{ form_row(form.name) }}
            {{ form_row(form.chief) }}
            {{ form_row(form.id) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.phone) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.subject) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.message) }}
                </div>
                <button type="submit" class="btn btn-primary pull-right">{{ 'Envoyer le message'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>#}
    <div class="container">
        <div class="row">
            <div class="col-md-12 bg-danger" style="margin-top: 10%; margin-bottom: 10%; padding: 5%;">

                Créée en septembre 2014 la plateforme d’enchères en ligne Oxioneo arrête sont activité en décembre 2018.
                <br><br>
                Nous avons choisi de mettre à disposition des professionnels de l’immobilier, (agences, franchisés, indépendants, mandataires, etc..) un outil performant d’enchères pour la commercialisation de tous types de biens, maisons, appartements, terrains, locaux commerciaux…
                <br><br>
                Après avoir franchi le cap des 1000 enchères avec un taux de réussite de 67% nous décidons de cesser notre activité en BtoB.
                <br><br>
                Notre modèle ne semble pas convaincre les professionnels ou alors trop lentement malheureusement, à l’inverse d’autres pays où l’enchère connait un engouement important. Nous avions pour exemple la réussite des Notaires avec les plateformes 36h Immo et Immo Interactif et souhaitions apporter aux agences un service similaire.
                <br><br>
                Pour les agences qui souhaitent continuer à proposer l’enchère immobilière, vous pouvez vous adresser à d’autres site proposant ce service.
                <br><br>
                Nous remercions toutes les personnes qui nous ont accompagnés dans cette aventure.
                <br><br><br>
                <b>L’équipe OXIONEO</b>

            </div>
        </div>
    </div>
{% endblock %}

