{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'contact-us bg-white' %}

{% block title %}Notre offre acquéreur{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 bg-white">
                <h1 class="main-title">
                    <img class="hidden-xs" src="{{ asset('bundles/eenovdefault/img/home-picto-oxioneo.png') }}" alt="{{ 'Un nouveau concept : l\'enchère immobilière'|trans }}"/>
                    {{ block('title') }}
                </h1>
                <p>
                    OXIONEO vous propose d'<span class="highlight">acquérir le bien de vos rêves</span> en toute sérénité, et toute transparence.
                    Grâce à un nouveau type d'annonces immobilières, nous vous donnons la possibilité de faire vos offres d'achat
                    <span class="highlight">directement en ligne</span> sur le site
                    <a href="{{ path('eenov_default_default_index') }}">oxioneo-immo.com</a>.
                </p>
                <p>
                    Les biens proposés par les agences affichent un "Prix de départ" en dessous du "Prix Idéal Vendeur", vous
                    permettant de <span class="highlight">fixer librement votre prix selon votre budget</span>.
                </p>
                <p>
                    Vous devez visiter le bien avec une agence, qui vous donne l'accès à l'enchère sur le site oxioneo-immo.com. Vous êtes
                    alors confronté aux autres acquéreurs, et vous êtes seul à décider <span class="highlight">quel prix proposer</span>.
                </p>
                <p>
                    Encadré par une agence, le système OXIONEO vous permet de faire une acquisition <span class="highlight">au prix du marché</span>, de chez
                    vous, sans aucune pression, depuis votre ordinateur, tablette ou smartphone.
                </p>
                <div class="row avantages acquereur">
                    <div class="col-md-12">
                        <h2>Les avantages</h2>
                    </div>
                </div>
                <div class="row avantages acquereur">
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/acquereur-prix-marche.png') }}" alt="Prix du marché"/>
                            <h3>Prix du marché</h3>
                            <p>(Oxioneo est une place de marché interactive, c'est l'offre et la demande qui se rencontrent en temps réel.)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/acquereur-pas-pression.png') }}" alt="Pas de pression"/>
                            <h3>Pas de pression</h3>
                            <p>(J'ai eu le temps de consulter ma banque, je peux donc "cliquer" tranquillement depuis mon ordinateur en toute connaissance de cause.)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/acquereur-interactif.png') }}" alt="Interactif"/>
                            <h3>Interactif</h3>
                            <p>(À la manière d'une enchère, je vois et je suis alerté en temps réel des offres postées.)</p>
                        </div>
                    </div>
                </div>
                <div class="row avantages acquereur">
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/acquereur-24h.png') }}" alt="Enchères en 24h"/>
                            <h3>Enchères en 24h</h3>
                            <p>(Je sais rapidement si mon offre est acceptée.)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/acquereur-innovant.png') }}" alt="Innovant et simple d'utilisation"/>
                            <h3>Innovant et simple d'utilisation</h3>
                            <p>(Je suis libre de faire l'offre de mon choix en ligne.)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/acquereur-transparence.png') }}" alt="Transparence"/>
                            <h3>Transparence</h3>
                            <p>(Les documents relatifs au bien que j'ai visité sont accessibles directement en ligne.)</p>
                        </div>
                    </div>
                </div>
                <h2>Pour plus d'informations, contactez l'agence la plus proche de chez vous et dites OXIONEO.</h2>
            </div>
            <div class="col-md-8 col-md-offset-2 white">
                {{ form_start(form,{action:'#form-contact',attr:{id:'form-contact' }}) }}
                <span class="triangle"> </span>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.subject) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.message) }}
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ 'Envoyer le message'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}