{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = "cgu" %}

{% block title %}{{ "Conditions d'utilisation et confidentialité"|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Conditions Générales d'Utilisation du site Oxioneo.com</h1>
                <p>Avant de procéder au dépôt d'une offre de vente ou d'achat sur le site, le Client ou l'Utilisateur doit, en premier lieu, accepter les présentes conditions d'utilisation.</p>
                <p>Cette acceptation se fera par un « clic » par lequel le Client ou l'Utilisateur procédera à la création d'un compte pour participer à une vente sur le site OXIONEO.COM.</p>
                <p>Ce « clic » signifie pour le Client ou l'Utilisateur son acceptation des conditions d'utilisation du site OXIONEO.COM.</p>
                <p>L'éditeur se réserve la possibilité de modifier à tout moment en tout ou partie ces conditions d'utilisation, le Client ou l'Utilisateur étant réputé accepter la dernière version qui lui est communiquée à chaque nouvelle connexion au service.</p>
                <h2><span class="highlight">Définitions :</span></h2>
                <p>Les termes commençant par une majuscule ont la signification indiquée ci-dessous qu'ils soient au singulier ou au pluriel.</p>
                <p>Les termes Client ou Utilisateur désignent toute personne physique ou morale disposant d'une autorisation pour déposer une offre de vente ou d'achat d'un immeuble sur le site OXIONEO.COM.</p>
                <p>Les termes Client ou Utilisateur désignent toute personne physique ou morale disposant d'une autorisation pour déposer une offre de vente ou d'achat d'un immeuble sur le site OXIONEO.COM.</p>
                <p>Site : désigne le site OXIONEO.COM</p>
                <p>Service : désigne la prestation consistant à : pour l'agence immobilière, déposer des annonces qui seront mises en ligne sur le site OXIONEO.COM ; pour les Clients et Utilisateurs du Site, la possibilité d'avoir accès à ce service.</p>
                <p>Prix de départ des offres (prix auquel vous communiquez sur les portails d’annonces) : Prix auquel les offres peuvent démarrer. Une fois l'enchère terminée, les offres sont soumises par l'agence à acceptation du/des vendeur(s).</p>
		<p>Prix idéal vendeur : Correspond au prix de vente idéal souhaité par le(s) vendeur(s).</p>
				<h2><span class="highlight">Objet :</span></h2>
                <p>Le site a pour objet de permettre au vendeur de mettre un bien en vente sur le Site, afin de permettre aux utilisateurs de procéder à des offres d'achat sur ce bien, directement en ligne.</p>
                <p>En aucun cas, l'Editeur du site ne peut être qualifié d'intermédiaire et sa responsabilité ne peut être engagée qu'il y ait eu ou non transaction sur l'immeuble.</p>
                <p>L'Editeur du site n'est jamais partie à l'accord qui peut être conclu entre vendeur et acheteur après utilisation du service.</p>
                <p>Cette clause s'applique même dans le cas où l'utilisateur aurait créé une alerte quelconque auprès du site OXIONEO.COM pour l'informer que le produit qu'il recherche est disponible sur le site.</p>
                <h2><span class="highlight">Obligations </span><span class="highlight">du </span><span class="highlight">client </span><span class="highlight">ou </span><span class="highlight">utilisateur :</span></h2>
                <p>Le Vendeur s'engage à ne pas procéder à des offres fictives dans le but d'augmenter artificiellement le prix du bien ou son attrait apparent, sous peine de se voir interdire l'accès à d'autres ventes par l'Editeur ou l'Agence immobilière. En outre, après son enregistrement, une offre ne peut être modifiée, sauf après qu'une autre offre d'un autre utilisateur ait été déposée sur le Site.</p>
                <p>D'autre part, le Client et l'Utilisateur s'engagent à ne tenter aucune action qui pourrait menacer l'intégrité du Site et le bon déroulement des mises en vente.</p>
                <p>Chaque intervenant sur le site, Client ou Utilisateur, doit être totalement indépendant l'un de l'autre et n'est pas admis à porter des offres sur un bien qui leur appartient. En outre, tout intervenant peut agir pour son compte personnel ou celui d'une personne morale qu'il représente.</p>
                <h2><span class="highlight">Mandat </span><span class="highlight">de </span><span class="highlight">recherche :</span></h2>
                <p>Le Vendeur aura signé avec une agence immobilière un mandat de recherche qui lui ouvre l'accès à la possibilité d'utiliser le site. Ledit mandat devra être enregistré avec son numéro correspondant dans l'espace utilisateur de l'Agence immobilière sur le site oxioneo-immo.com.</p>
                <h2><span class="highlight">Sécurité </span><span class="highlight">du </span><span class="highlight">compte </span><span class="highlight">du </span><span class="highlight">client :</span></h2>
                <p>Le Vendeur ou l'Acquéreur acceptent et reconnaissent qu'ils sont responsables du caractère confidentiel de l'autorisation d'utilisation délivrée par l'Editeur du site. En conséquence, ils reconnaissent être les seuls et uniques responsables à l'égard de l'Editeur de tous actes effectués à partir de leur compte.</p>
                <p>Si le Vendeur ou l'Acquéreur ont connaissance d'une utilisation non autorisée de leur compte, ils doivent en informer immédiatement l'Agence immobilière.</p>
                <h2><span class="highlight">Fonctionnement </span><span class="highlight">du </span><span class="highlight">site :</span></h2>
                <p>Le site OXIONEO.COM fonctionne selon le schéma figurant en annexe et que l'utilisateur déclare avoir consulté et accepté. Les étapes sont rappelées ci-après :</p>
                <p>1) LE PRIX : l'agence estime le bien, et détermine avec le vendeur un prix idéal vendeur. Il convient ensuite de déterminer le prix de départ des offres. Nous préconisons que le prix de départ des offres soit au moins de 20% à 30% en dessous du prix idéal vendeur.</p>
                <p>2) LE MANDAT DE RECHERCHE EXCLUSIF D'ACQUEREURS : Il doit être présenté au Vendeur et lu dans son intégralité. Il doit y figurer les honoraires d'agence, le prix idéal vendeur et le prix de départ des offres. La mise en place des horaires et jours de visites doivent apparaître dans le mandat. Les conditions générales et le mandat doivent être paraphés et signés par le Vendeur et l'Agence.</p>
                <p>3) L'ANNONCE : La diffusion de l'annonce doit se faire au minimum pendant 20 jours avant le début des visites, sur tous supports de communication jugés utiles par l'Agence immobilière. L'annonce, doit mentionner : le prix idéal vendeur et le prix de départ des offres, le montant des paliers d'offres, les horaires et jours de visites, l'adresse du bien en accord avec le propriétaire, des informations précises permettant aux acquéreurs de se positionner en connaissance de cause.</p>
                <p>4) LES VISITES : Pendant les visites, l'Agence devra informer les acquéreurs des modalités d'utilisations du Site oxioneo-immo.com ; remplir une fiche de renseignement et faire signer une demande de participation à l'enchère interactive.</p>
                <p>5) LES OFFRES : Au terme des visites, les acquéreurs intéressés devront créer leurs profils sur oxioneo-immo.com, ils seront avertis de la date et heure du début des offres. L'accès à la salle des offres est sécurisé, l'Agence immobilière et le Vendeur peuvent assister aux offres sans y participer.</p>
                <p>6) LE RESULTAT : Au terme du délai imparti, l'agence reçoit les meilleures offres, qu'elle présente au propriétaire, qui sélectionne librement celle qui répond le mieux à ses attentes. La signature du compromis et la conclusion de la vente suivent enfin, procédure traditionnelle, en Agence ou chez un Notaire.</p>
                <h2><span class="highlight">Enchère <span class="highlight">intéractive</span></h2>
                <p>Il s'agit de permettre aux Acquéreurs/Utilisateurs, de faire des offres d'achat pour des biens mis en vente par des Agences immobilières, et présentés sur le site oxioneo-immo.com.</p>
                <p>L'enchère se déroule sur une durée déterminée par l'Agence immobilière. Seuls les Acquéreurs/Utilisateurs ayant préalablement visité le bien, et signé une demande de participation à l'enchère avec l'Agence pourront déposer des offres d'achat sur le Site.</p>
                <p>Les offres émises sur le Site oxioneo-immo.com, à destination de l'agence et du vendeur, sont considérées comme fermes et définitives et sont entendues honoraires d'Agence inclus; une « Offre Unique » peut également être envoyée à tout moment. Une fois celle-ci transmise, la participation à l'enchère est terminée pour l'Utilisateur qui aura choisi cette option. « L'Offre Unique » ne peut en aucun cas être considérée autrement que comme une offre d'achat telle que décrite dans les présentes. l'Acquéreur/Utilisateur ayant envoyé une offre s'engage, vis à vis de l'agence et du vendeur si son offre est acceptée, à l'honorer et à se présenter dans les 15 jours ouvrés (du lundi ou vendredi) suivant la clôture de l'enchère pour la signature d'un avant contrat ou compromis de vente avec l'Agence ou le Notaire représentant du Vendeur.</p>
                <h2><span class="highlight">Date </span><span class="highlight">limite </span><span class="highlight">de </span><span class="highlight">validité </span><span class="highlight">des </span><span class="highlight">offres :</span><span class="highlight">d'</span><span class="highlight">achat </span><span class="highlight">et </span><span class="highlight">des </span><span class="highlight">annonces :</span></h2>
                <p>Les offres d'achat et les annonces proposées sur le site ont toutes une date limite de validité, qu'il appartient aux vendeurs et aux acquéreurs/utilisateurs de vérifier.</p>
                <p>Les offres d'achat envoyées par les Acquéreurs/Utilisateurs sur le site oxioneo-immo.com ont une durée de validité de 10 jours ouvrés (du lundi ou vendredi), vis-à-vis de l'Agence immobilière et du Vendeur.</p>
                <p>A la fin de la période de réception des offres, l'Editeur ou l'Agent immobilier se réserve la possibilité d'interdire aux Clients et Utilisateurs l'accès à la possibilité de nouvelles offres.</p>
                <p>A la fin de la période de réception des offres, celles-ci seront soumises par l'Agence immobilière au vendeur, qui pourra retenir l'offre de son choix, compte tenu du prix, des garanties et des moyens de paiement ou d'autres éléments déterminants pour lui. Le vendeur s'engage à accepter une offre si le prix proposé atteint le prix idéal vendeur ou le dépasse.</p>
                <p>Les Acquéreurs/Utilisateurs doivent tenir compte de la performance de leur matériel informatique ou de la ligne téléphonique par laquelle ils passent pour émettre leur offre. Cependant toute offre transmise dans les 4 minutes précédant la clôture des offres, repoussera d'autant cette date et/ou heure de clôture.</p>
                <p>Une fois l'annonce expirée, la mise en vente reste visible par tout utilisateur dans l'historique et les résultats des dernières vente à travers le site oxioneo-immo.com.</p>
                <h2><span class="highlight">Responsabilité </span><span class="highlight">de </span><span class="highlight">l'éditeur :</span></h2>
                <p>L'Editeur exclut toute responsabilité pour n'importe quel préjudice causé directement ou indirectement de quelque façon que ce soit, du fait de l'utilisation du Site. Son engagement porte uniquement sur la fourniture du Service, conformément aux présentes conditions et il n'est tenu qu'à une obligation de moyens.</p>
                <p>Notamment, l'Editeur ne sera en aucun cas responsable d'un quelconque préjudice causé par l'impossibilité d'utiliser le Site ; le fait qu'un produit proposé par le site ne corresponde pas aux caractéristiques mentionnées sur le Site ; le fait que les informations figurant sur le site soient inexactes, incomplètes ou obsolètes.</p>
                <p>Notamment de même, l'Editeur exclut toute responsabilité pour l'utilisation, frauduleuse ou non, qui peut être faite de tout document mis en ligne sur le site, quelque soit la personne à laquelle appartiennent ces documents.</p>
                <p>L'accès et le fonctionnement partiel ou total du site pourront être suspendus pour des raisons de maintenance techniques (actualisation des informations publiées) ou du fait de tiers, sans que cette interruption puisse engager la responsabilité de l'Editeur ou de l'Agent immobilier, tant au bénéfice du Vendeur qu'à celui de l'Acquéreur.</p>
                <p>Le Vendeur et l'Acquéreur/Utilisateur ne peuvent se prévaloir d'aucune garantie de rétablissement de connexion au Site.</p>
                <p>Les annonces et offres sont diffusées et mises en ligne sous la seule responsabilité de leur auteur respectif c'est-à-dire Vendeur ou Agence.</p>
                <p>Et l'Editeur décline toute responsabilité quant à l'exactitude et au contenu des annonces mises en ligne, sachant qu'en aucun cas l'Editeur du site, ne peut être tenu à des dommages et intérêts du fait des conséquences, d'erreurs ou d'omissions dans la composition des annonces, dont les éléments sont transmis par les vendeurs.</p>
                <p>En contrepartie, l'Editeur s'engage à faire ses meilleurs efforts pour rendre et maintenir accessible le Service disponible sur son Site, au titre d'une obligation de moyen. A ce titre, sa responsabilité ne saurait être recherchée dans les cas suivants :</p>
                <p>Interruption momentanée pour la mise à jour de certains fichiers ; difficulté de fonctionnement et interruption momentanée des services indépendamment de la volonté de l'Editeur, notamment en cas d'interruption des services d'électricité ou de télécommunications ; interruption momentanée des services nécessaires à l'évolution ou maintenance du Site ; défaillance ou dysfonctionnement du réseau Internet dans la transmission des messages et documents ; mauvaise utilisation du réseau Internet ou perte de données ou encore contamination par virus ou toutes attaques informatiques.</p>
                <h2><span class="highlight">Droit </span><span class="highlight">de </span><span class="highlight">propriété </span><span class="highlight">intellectuelle :</span></h2>
                <p>Les droits de propriété intellectuelle concernant le site, les différents droits sur les textes, les images, la mise en forme, les bases de données, photos, sont, ainsi que les logiciels, bases de données, marques (y compris les noms de domaine) et autres éléments couverts par les droits de propriétés intellectuelles, appartiennent à l'Editeur et relèvent de la législation française et internationale sur les droits d'auteurs et plus généralement la propriété intellectuelle.</p>
                <p>.En conséquence, le Vendeur et l'Acquéreur/Utilisateur s'engagent à ne pas : reproduire en nombre, à des fins commerciales ou non, des informations et annonces représentées sur le Site, intégrer tout ou partie du Site dans un site tiers à des fins commerciales ou non ; copier toutes les informations sur des supports de toutes nature, permettant de reconstituer en tout ou partie les fichiers d'origine.</p>
                <p>Toute utilisation non expressément autorisée d'éléments du site, entraîne une violation des droits d'auteur et constitue une contrefaçon et d'une façon plus générale porte atteinte aux droits de propriété intellectuelle.</p>
                <p>Elle peut aussi entraîner une violation des droits à l'image, droit des personnes ou de touts autres droits et réglementation en vigueur.</p>
                <p>Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.</p>
                <p>L'éditeur se réserve la possibilité de saisir toutes voies de droit à l'encontre des personnes qui n'auraient pas respecté cette interdiction.</p>
                <h2><span class="highlight">Force </span><span class="highlight">majeure :</span></h2>
                <p>En dehors de ceux qui sont habituellement reconnus par la jurisprudence, seront considérés comme cas de force majeure : les actes ou omissions du gouvernement, d'autorités supérieures compétentes, les intempéries exceptionnelles, catastrophes naturelles, inondations, incendies et feux divers, foudre, grèves, les guerres ou opérations militaires, émeutes ou insurrections, état d'urgence nationale ou locale, le fait d'un tiers, d'un client ou des éditeurs de programmes et leurs ayant-droits, également le blocage des réseaux de télécommunications.</p>
                <h2><span class="highlight">Annulation </span><span class="highlight">d'une </span><span class="highlight">clause :</span></h2>
                <p>Toute annulation partielle ou totale d'une des clauses des présentes conditions générales n'emportera pas l'annulation complète des présentes conditions générales.</p>
                <h2><span class="highlight">Litiges :</span></h2>
                <p>Les présentes conditions générales sont soumises au droit français avec compétence exclusive au Tribunaux de BORDEAUX, même en cas de pluralité de défendeurs, d'appel en garantie et ce même pour les procédures d'urgence ou conservatoire, notamment par voie de référé ou de requête et sous réserves des dispositions d'ordre public.</p>
                <h2><span class="highlight">Droit </span><span class="highlight">d'accès </span><span class="highlight">aux </span><span class="highlight">fichiers </span><span class="highlight">informatisés :</span></h2>
                <p>Les informations qui sont demandées (nom, prénoms, adresse, email,…..) sont indispensables pour le traitement de la demande d'autorisation d'utiliser le Site. Ces informations nominatives relatives aux Vendeurs et aux Acquéreurs/Utilisateurs font l'objet d'un traitement automatisé, dont l'ensemble des formalités légales ont été réalisées auprès de la CNIL.</p>
                <p>L'éditeur déclare que les données à caractère personnel des clients ou utilisateurs sont traitées conformément aux dispositions de la loi n°78-77 du 6 janvier 1978, et notamment que les données à caractère personnel ne sont recueillies que dans la mesure où cela est nécessaire à la fourniture et à la gestion du Service ; les données à caractère personnel ne peuvent être recueillies ou traitées à d'autres fins que la fourniture et la gestion du service, sauf consentement explicites du Vendeur ou de l'Acquéreur/Utilisateur ; l'éditeur a procédé aux formalités qui lui incombent auprès de la CNIL.</p>
                <p>L'utilisateur est informé que ses données pourront être communiquées à des tiers pour le seul besoin de fournitures et de gestion du Service.</p>
                <p>L'utilisateur dispose d'un droit d'accès de rectification ou d'opposition sur les données le concernant, dans les conditions prévues par la loi et la réglementation en vigueur auprès de l'Editeur n°61 rue Jean BRIAUD, Immeuble Le DIAMANTS n°1, 33700 MERIGNAC ou à l'adresse mail suivante : contact@oxioneo.com.</p>
            </div>
        </div>
    </div>
{% endblock %}
