{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'contact-us' %}

{% block title %}{{ 'Contactez-nous'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 white">
                <h1 class="main-title text-center">
                    <img class="hidden-xs" src="{{ asset('bundles/eenovdefault/img/home-picto-oxioneo.png') }}" alt="{{ 'Un nouveau concept : l\'enchère immobilière'|trans }}"/>
                    Nous contacter
                </h1>
                <p>Une question ? Besoin d'un renseignement ? Ou simplement une remarque ? Vous pouvez nous contacter via le formulaire ci-dessous.</p>
                {{ form_start(form,{action:'#form-contact',attr:{id:'form-contact'}}) }}
                <span class="triangle"> </span>
                {{ form_row(form.type) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.subject) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.message) }}
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ 'Envoyer le message'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}