{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}{{ 'FAQ'|trans }}{% endblock %}

{% block content %}
    <div id="faq" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Pourquoi utiliser Oxioneo ?</h2>
                <p>
                    Pour vendre mon bien immobilier différemment, en créant l'événement avec
                    l'enchère immobilière, je choisi une alternative crédible à la vente
                    traditionnelle.
                </p>
                <p>
                    Le nouveau site oxioneo-immo.com permet la confrontation de l'offre et de la
                    demande en temps réel. En utilisant cette plateforme, je gagne ainsi du temps et
                    je suis sûr de vendre ou d'acheter au bon prix du marché.
                </p>
                <h2>Comment cela fonctionne-t-il ?</h2>
                <p>
                    Vous êtes vendeur d'un bien immobilier, Oxioneo vous propose de créer votre
                    propre événement autour de cette vente avec une agence immobilière. En
                    créant une enchère vous êtes certain d'obtenir le bon prix du marché.
                </p>
                <p>
                    Vous fixez avec l'agence le prix auquel le bien sera présenté aux futurs
                    acquéreurs et le prix à partir duquel les offres pourront démarrer. L'agence
                    diffuse ensuite une annonce sur les supports de communication en précisant les
                    conditions de l'enchère et la date à laquelle aura lieu l'enchère.
                    L'agence organise les visites, les acquéreurs intéressés sont invités à s'inscrire
                    et à se connecter le jour de l'enchère pour y participer.
                </p>
                <p>
                    Le jour « J » les offres se font sur le site sur une période de 24 heures, une fois
                    l'enchère terminée l'agence vous soumet les dernières offres, vous pouvez
                    alors choisir avec l'aide de l'agence et selon vos critères, l'offre qui présente les
                    meilleures conditions. Il ne reste plus alors qu'à fixer avec l'heureux acquéreur
                    une date de signature du compromis de vente.
                </p>
                <h2>Qu'est ce qu'une enchère immobilière ?</h2>
                <p>
                    Une enchère immobilière permet de recevoir des offres d'achat directement
                    sur internet pour un bien à la vente.
                </p>
                <p>
                    Pendant 24h, les acquéreurs intéressés ayant visité pourront faire leurs offres à
                    partir du « Prix de départ des offres »(1)(2) en tenant compte du « Prix idéal vendeur »(1)(3).
                </p>
                <p>
                    <small>(1) Déterminés par le vendeur et l'agence</small><br/>
					<small>(2) Mention "prix de première offre" : Prix auquel les offres peuvent démarrer. Une fois l'enchère terminée, les offres sont soumises par l'agence à acceptation du/des vendeur(s).</small><br/>
					<small>(3) Mention "prix de présentation" : Correspond au prix de vente idéal souhaité par le(s) vendeur(s).</small>
                </p>
                <p>
                    Vendeurs et acquéreurs potentiels assistent en direct à l'émission des offres
                    successives qui apparaissent en temps réel. L'utilisation de ce système permet
                    aux acquéreurs potentiels de se positionner librement sur le prix et pour les
                    vendeurs d'obtenir un prix de marché issu de la confrontation directe de l'offre
                    et de la demande en temps réel.
                </p>
                <p>
                    Le vendeur garde la possibilité d'accepter ou de refuser les offres reçues au
                    dessous du prix de présentation.
                </p>
                <h2>Qu'est ce que l'offre unique ?</h2>
                <p>
                    Lors d'un l'enchère, vous avez la possibilité de faire des offres selon les
                    montants proposés, le seul plafond étant la limite de temps imparti soit 24h.
                </p>
                <p>
                    Vous pouvez faire une offre unique dans le cas où les montants proposés par les autres
                    participants dépassent votre budget ou qu'aucune offre n'est faite et que vous souhaitez
                    proposer votre prix définitif au vendeur.
                </p>
                <h2>Suis-je obligé de vendre si le prix que je souhaite n'est pas atteint ?</h2>
                <p>
                    Non, vous avez le choix d'accepter les offres que l'agence vous propose via le
                    site. Selon vos critères (conditions d'achat, financement…) vous pouvez choisir
                    l'offre et pas forcement celle du plus offrant. Parmi toutes les offres reçues, vous
                    vous engagez seulement à accepter une offre si le prix de présentation est
                    atteint ou dépassé.
                </p>
                <h2>En quoi ce concept est innovant ?</h2>
                <p>
                    Le système Oxioneo est inédit et fonctionne sur le principe d'une « enchère »
                    pour déterminer le prix du marché le plus juste, d'un bien immobilier.
                    Cet outil mis à la disposition des agences immobilières permet de créer de vraies
                    opportunités pour les clients vendeurs comme pour les clients acquéreurs.
                    Dans un délai assez court de « 45 jours » je vais pouvoir interroger le marché en
                    temps réel, recueillir des offres d'achat pour mon bien et choisir l'offre de mon
                    choix.
                </p>
                <h2>Tout le monde peut-il faire des offres en ligne ?</h2>
                <p>
                    Oui, il suffit d'avoir visité le bien avec l'agence en charge de la vente, de signer
                    une demande de participation et de créer son profil sur oxioneo-immo.com.
                    C'est l'agence qui valide ensuite l'accès à l'enchère.
                </p>
                <h2>Combien cela coûte-t-il ?</h2>
                <p>
                    C'est l'agence immobilière qui organise l'enchère qui prend en charge le
                    coût de l'événement. Cela n'engendre aucun coût supplémentaire pour les
                    vendeurs comme pour les acquéreurs.
                </p>
                <h2>Puis-je mettre mon bien à la vente tout seul sur Oxioneo ?</h2>
                <p>
                    Non, vous devez faire appel à l'agence immobilière la plus proche de chez vous
                    qui utilise Oxioneo, c'est elle qui prendra en charge l'organisation de l'enchère dans les meilleures conditions. Elle vous accompagne tout au long de
                    l'événement et vous aide à choisir l'offre la plus intéressante.
                </p>
                <h2>Quelles agences utilisent Oxioneo ?</h2>
                <p>
                    Bientôt toutes les agences immobilières en France ! ... en attendant vous pouvez
                    nous contacter via le formulaire <a href="{{ path('eenov_default_default_contactus') }}">de contact</a> ou au 0800 407 871, nous vous
                    indiquerons l'agence la plus proche de chez vous qui utilise Oxioneo !
                </p>
                <h2>Dans quel délai puis-je espérer un résultat?</h2>
                <p>
                    L'enchère Oxioneo peut être mis en place sous 45 jours*. Ce délai va
                    permettre à l'agence de mettre la publicité en ligne, faire les visites, et enfin aux
                    acquéreurs de pouvoir faire leurs offres en ligne pendant 24 heures.
                </p>
                <p>
                    <small>* Délai minimum conseillé</small>
                </p>
                <h2>Comment puis-je être sûr du sérieux des acquéreurs qui font des offres ?</h2>
                <p>
                    Comme dans le cas d'une vente classique, l'agence immobilière est en charge
                    des acquéreurs. Elle va donc pouvoir mettre en place une découverte
                    approfondie des besoins du client et de son financement. La règle est que
                    chaque acquéreur doit avoir visité avant de faire une offre en ligne et c'est
                    ensuite l'agence qui valide son accès sur Oxioneo. On évite ainsi les curieux et les
                    offres farfelues.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

