{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mentions légales</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h2><span class="highlight">Réalisation</span></h2>
                        <p>Directeur de publication : OXIONEO</p>
                        <p>
                            Réalisation : EENOV<br/>
                            SARL au capital de 50000 €<br/>
                            25, rue Marcel Issartier<br/>
                            33 700 MERIGNAC<br/>
                            FRANCE
                        </p>
                        <p>
                            Tél : 05.57.53.02.31<br/>
                            Email : contact@eenov.com<br/>
                            RCS Bordeaux B 479 022 386<br/>
                            Code NAF 6201Z<br/>
                            SIRET 47 902 238 600 029
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h2><span class="highlight">Hébergement</span></h2>
                        <p>
                            OVH<br/>
                            SAS au capital de 500 000 €<br/>
                            2 rue Kellermann<br/>
                            59100 Roubaix<br/>
                            FRANCE
                        </p>
                        <p>
                            RCS Roubaix – Tourcoing 424 761 419<br/>
                            Code APE 6202A<br/>
                            N° TVA FR 22 424 761 419
                        </p>
                    </div>
                </div>
                <h2><span class="highlight">Marque </span><span class="highlight">et </span><span class="highlight">propriété </span><span class="highlight">intellectuelle</span></h2>
                <p>Ce site web et son contenu intégral sont l'appartenance de la société WILL SAS au capital de 30000€ - Immatriculée au RCS de Bordeaux sous le numéro 804 554 665 et dont le siège social se situe 61 Route Jean Briaud - Immeuble Diamant1 - CS 70010 - 33693 Mérignac CEDEX.</p>
                <p>OXIONEO-IMMO est une marque déposée de la société WILL SAS au capital de 30000€ - Immatriculée au RCS de Bordeaux sous le numéro 804 554 665 et dont le siège social se situe 61 Route Jean Briaud - Immeuble Diamant1 - CS 70010 - 33693 Mérignac CEDEX.</p>
                <p>L'exploitation de la marque et du site oxioneo-immo.com est régie par un contrat de licence exclusif octroyé à la société OXIONEO-IMMO SARL au capital de 1000€ - Immatriculée au RCS de Bordeaux sous le numéro 804 954 295 et dont le siège social se situe 61 Route Jean Briaud - Immeuble Diamant1 - CS 70010 - 33693 Mérignac CEDEX.</p>
                <p>Toute reproduction partielle ou totale de ce site, seule ou intégrée à d'autres éléments, sans l'autorisation expresse et préalable de la société OXIONEO-IMMO est interdite, et engagerait la responsabilité de l'utilisateur au sens des articles L 713-2 et L 713-3 du Code de la Propriété Intellectuelle.</p>
                <p>La structure générale, les textes, photos, icônes, images et tous les éléments composant le site web de la société OXIONEO-IMMO, sont protégés et relèvent de la législation française sur les droits d'auteur et la propriété intellectuelle.</p>
                <h2><span class="highlight">Notre </span><span class="highlight">politique </span><span class="highlight">de </span><span class="highlight">confidentialité </span><span class="highlight">quant </span><span class="highlight">à </span><span class="highlight">vos </span><span class="highlight">données </span><span class="highlight">personnelles </span><span class="highlight">saisies</span></h2>
                <p>Conformément à la loi n° 78-17 du 6 janvier 1978, relative à l'informatique, aux fichiers et aux libertés (dite "Informatique et Libertés"), ce site a fait l'objet d'une déclaration à la CNIL sous le numéro 1815184 v 0.</p>
                <p>Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C'est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</p>
                <p>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et notre site web. En l'application de la loi Informatique et libertés du 6 janvier 1978, nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos renseignements personnels. Le droit d'opposition s'entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte. Le droit de retrait s'entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion. Nous nous engageons à reconnaître un droit d'accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.</p>
                <p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations. Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d'assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n'offre une sécurité maximale, une part de risque est toujours présente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</p>
            </div>
        </div>
    </div>
{% endblock %}
