{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'home' %}

{% block title %}
    {{ 'Accueil'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
	{#<div class="tv hidden-xs hidden-sm">
		  <div class="screen mute" id="tv"></div>
	</div>

    <div class="tv_static visible-xs visible-sm">
      <div class="screen mute" id="tv"></div>
	</div>#}
    
    <div id="bloc_video">
        <div class="container">
            <h3>
                {{ "l\'enchère immobilière OXIONEO,"|trans }}<br/>{{ "vendre, acheter au meilleur prix, le vôtre !"|trans }}
            </h3>
            {{ render(controller('EenovDefaultBundle:Bid:_searchSmall',{_format:'html'},app.request.query.all())) }}
        </div>
    </div>
    <section id="bids" class="home-mini-slider">
{#        <div class="container">
            <h3>{{ "l\'enchère immobilière OXIONEO,"|trans }}<br/>{{ "vendre, acheter au bon prix du marché"|trans }}</h3>
            {{ render(controller('EenovDefaultBundle:Bid:_searchSmall',{_format:'html'},app.request.query.all())) }}
        </div>#}
        {#<div id="photos" class="hidden-xs hidden-sm">
            <div class="">
                <div class="row">
                    <div class="slider-for col-sm-12">
                        <div>
                            <div class="boutons_slide">
                                <a href="{{ path('eenov_default_default_seller') }}" class="btn btn-primary bt_vendre" title="vendre">
                                    {{ "Vendre"|trans }}
                                </a>
                                <a href="{{ path('eenov_default_bid_index') }}" class="btn btn-primary bt_acheter" title="acheter">
                                    {{ "Acheter"|trans }}
                                </a>
                            </div>
                            <img class="img-responsive" src="{{ asset('bundles/eenovdefault/img/slide_1.png') }}" alt="{{ 'Voir la vidéo de présentation'|trans }}"/>
                        </div>
                        <div>
                            <div class="boutons_slide">
                                <a href="{{ path('eenov_default_default_seller') }}" class="btn btn-primary bt_vendre" title="vendre">
                                    {{ "Vendre"|trans }}
                                </a>
                                <a href="{{ path('eenov_default_bid_index') }}" class="btn btn-primary bt_acheter" title="acheter">
                                    {{ "Acheter"|trans }}
                                </a>
                            </div>
                            <img class="img-responsive" src="{{ asset('bundles/eenovdefault/img/slide_2.png') }}" alt="{{ 'Voir la vidéo de présentation'|trans }}"/>
                        </div>
                        <div>
                            <div class="boutons_slide">
                                <a href="{{ path('eenov_default_default_seller') }}" class="btn btn-primary bt_vendre" title="vendre">
                                    {{ "Vendre"|trans }}
                                </a>
                                <a href="{{ path('eenov_default_bid_index') }}" class="btn btn-primary bt_acheter" title="acheter">
                                    {{ "Acheter"|trans }}
                                </a>
                            </div>
                            <img class="img-responsive" src="{{ asset('bundles/eenovdefault/img/slide_3.png') }}" alt="{{ 'Voir la vidéo de présentation'|trans }}"/>
                        </div>
                        <div>
                            <div class="boutons_slide">
                                <a href="{{ path('eenov_default_default_seller') }}" class="btn btn-primary bt_vendre" title="vendre">
                                    {{ "Vendre"|trans }}
                                </a>
                                <a href="{{ path('eenov_default_bid_index') }}" class="btn btn-primary bt_acheter" title="acheter">
                                    {{ "Acheter"|trans }}
                                </a>
                            </div>
                            <img class="img-responsive" src="{{ asset('bundles/eenovdefault/img/slide_4.png') }}" alt="{{ 'Voir la vidéo de présentation'|trans }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <h3>{{ "enchères à venir"|trans }}</h3>
        <div class="slider mini_annonces">
            {% for bid in bids %}
                <div>
                    <div class="slide bid">
                        {#{{ wishlit_button(bid) }}#}
                        <a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" title="{{ bid.title }}">
                            {#<img class="inactive" src="{{ asset('bundles/eenovdefault/img/bid-inactive.png') }}" alt="{{ bid.title }}"/>#}
                            <img class="visuel" src="{{ bid.publish.uri|imagine_filter('bid_home') }}" alt="{{ bid.title }}"/>
                            <div class="caption">
                                <p class="place">{{ bid.publish.city }} ({{ bid.publish.zip|slice(0,2) }})</p>
                                <h4>{{ bid.title }}</h4>
                            </div>
                        </a>
                    </div>
                    <div class="date_debut_offre">
                        <p>{{ "Départ des offres"|trans }}</p>
                        <p><strong>{{ bid.firstPrice|price }}</strong></p>
                        {% if not bid.isEnded() %}
                            <p>{{ "Début des enchères"|trans }}</p>
                            <p><strong>{{ bid.sellStarted ? bid.sellStarted.format('d/m/Y H:i') : '?' }}</strong></p>
                        {% endif %}
                        {% if bid.isEnded() %}
                            <p class="end">Enchère terminée</p>
                        {% endif %}
                    </div>
                    <div class="bt_visiter">
                        <a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" title="{{ bid.title }}" class="btn btn-primary">
                            {{ 'Visiter'|trans }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div id="bt_offres" class="row">
                <div class="col-md-12">
                    <a href="{{ path('eenov_default_bid_index') }}" title="" class="btn btn-primary-yellow">
                        {{ 'Voir toutes les enchères'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="home-slider">
        <div class="content">
            <div id="intro">
                <h3>{{ "Comprendre Oxioneo en moins de 3 minutes"|trans|raw }}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 image_video">
                            <a href="{{ path('eenov_default_default_motion') }}" data-popup="{{ path('eenov_default_default_motion') }}" title="{{ 'Voir la vidéo de présentation'|trans }}">
                                <img class="img-responsive" src="{{ asset('bundles/eenovdefault/img/ordi_home.png') }}" alt="{{ 'Voir la vidéo de présentation'|trans }}"/>
                            </a>
                        </div>
                        <div class="col-md-6 container_question_bleue">
                            <div class="question_bleue">
                                <p>Vous avez un projet immobilier ?</p>
                                <p>Découvrez <strong>OXIONEO<sup>®</sup></strong> l'application <strong>d'enchères immobilières.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div id="home-search">
                    <div>
                        <form action="{{ path('eenov_default_bid_index') }}" method="get">
                            <input type="text" name="where" class="form-control search-input" placeholder="{{ 'Où souhaitez-vous acheter ?'|trans }}"/>
                            <input class="btn btn-primary search-submit" type="submit" value="{{ 'Rechercher'|trans }}">
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
    {% if partners|length > 0 %}
        <section id="partners" class="home-mini-slider-partner">
            <h3>Les agences qualifiées<sup>(1)</sup> OXIONEO<sup>®</sup></h3>
            <div class="slider">
                {% for partner in partners %}
                    <div>
                        <div class="slide partner text-center">
                            <img src="{{ partner.uri }}" alt="{{ partner.name }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="nb text-right">(1) Agences partenaires OXIONEO<sup>®</sup></div>
        </section>
    {% endif %}
    <section id="home-plus">
        <div class="container">
            <h3>{{ "N\'attendez plus des mois pour vendre"|trans }}</h3>
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{ asset('bundles/eenovdefault/img/home-new-avantage1.png') }}" alt="{{ "Un nouveau concept : l\'enchère immobilière"|trans }}"/>
                    <div class="bt_border" title="{{ 'Obtenez le bon prix'|trans }}">{{ 'Obtenez le bon prix'|trans }}</div>
                    <p>{{ "Avec l\'enchère vous créez votre propre place de marché. Pour confronter l\'offre à la demande en temps réel, et obtenir le meilleur prix."|trans|raw }}</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ asset('bundles/eenovdefault/img/home-new-avantage2.png') }}" alt="{{ 'Une façon simple et rapide pour acquérir votre bien'|trans }}"/>
                    <div class="bt_border" title="{{ 'Maîtrisez les délais'|trans }}">{{ 'Maîtrisez les délais'|trans }}</div>
                    <p>{{ "C\'est un professionnel qui organise tout, vous suivez pas à pas les étapes (annonces, visites, offres en ligne...) L\'enchère se tient sur 24h."|trans|raw }}</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ asset('bundles/eenovdefault/img/home-new-avantage3.png') }}" alt="{{ "N'attendez plus des mois pour vendre votre bien !"|trans }}"/>
                    <div class="bt_border" title="{{ 'Réussissez votre projet'|trans }}">{{ 'Réussissez votre projet'|trans }}</div>
                    <p>{{ 'Transparence, une fois l\'enchère terminée, l\'agence vous soumet les offres. Selon les conditions (financement, délais...), à vous de selectionner la meilleure.'|trans|raw }}</p>
                </div>
            </div>
            <a class="btn btn-primary" href="{{ path('eenov_default_default_seller') }}" title="{{ 'Notre offre vendeur'|trans }}">{{ 'Commencez ici !'|trans }}</a>
        </div>
    </section>
    <section id="how-it-works">
        <div class="container">
            <h3>{{ 'Créez votre enchère en 5 étapes'|trans }}</h3>
            <p>{{ 'Vendez autrement, prenez les commandes. Gagnez du temps et de l\'argent en interrogeant directement le marché. Au terme des 24h, c\'est vous qui sélectionnez l\'offre de votre choix selon vos critères. OXIONEO<sup>®</sup> ça marche pour n\'importe quel bien immobilier, de la simple place de parking à la villa d\'architecte.'|trans|raw }}</p>
            <br class="clear"/>
            <div class="row">
                <div class="col-md-3 etape1">
                    <div class="etape_desc">
                        <p>{{ 'Détermination du prix avec l\'agence'|trans }}</p>
                    </div>
                    <div class="container_arrow hidden-xs hidden-sm">
                        <div class="arrow-bottom"></div>
                    </div>
                </div>
                <div class="col-md-5 etape2">
                    <div class="etape_desc">
                        <p>{{ 'Seuls les acquéreurs ayant visité peuvent s\'inscrire pour participer à l\'enchère.'|trans }}</p>
                    </div>
                    <div class="container_arrow hidden-xs hidden-sm">
                        <div class="arrow-bottom"></div>
                    </div>
                </div>
                <div class="col-md-4 etape3">
                    <div class="etape_desc">
                        <p>{{ 'l\'enchère est terminée, à vous de sélectionner une offre et signer un compromis de vente.'|trans }}</p>
                    </div>
                    <div class="container_arrow hidden-xs hidden-sm">
                        <div class="arrow-bottom"></div>
                    </div>
                </div>
            </div>
            <div id="echelle" class=" hidden-xs hidden-sm">
                <div class="point">1</div>
                <div class="point">2</div>
                <div class="point">3</div>
                <div class="point">4</div>
                <div class="point">5</div>
                <div id="bg_echelle"></div>
            </div>
            <div class="row">
                <div class="col-md-5 etape4">
                    <div class="container_arrow  hidden-xs hidden-sm">
                        <div class="arrow-up"></div>
                    </div>
                    <div class="etape_desc">
                        <p>{{ 'diffusion de l\'annonce et des informations utiles sur les sites d\'annonces immobilières.'|trans }}</p>
                    </div>
                </div>
                <div class="col-md-7 etape5">
                    <div class="container_arrow hidden-xs hidden-sm">
                        <div class="arrow-up"></div>
                    </div>
                    <div class="etape_desc">
                        <p>{{ 'l\'enchère commence, les acquéreurs peuvent faire leurs offres à la manière d\'une enchère pendant 24h.'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="logos_before_footer">
        {#        <div class="container">
                    <h3>{{ 'Notre actualité'|trans }}</h3>
                    <p>{{ 'Depuis 1 an OXIONEO propose une nouvelle approche de la transaction immobilière. Suivez-nous !'|trans }}</p>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <a href="http://www.oxioneo-immo.com/blog/5-des-start-up-misent-sur-l-essor-des-ventes-aux-encheres-immobilieres-en-ligne" title="{{ 'Journal Le Monde'|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/lemonde.jpg') }}" alt="{{ 'Journal L\'Agence'|trans }}"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="http://www.oxioneo-immo.com/blog/5-des-start-up-misent-sur-l-essor-des-ventes-aux-encheres-immobilieres-en-ligne" title="{{ 'Journal Le Monde'|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/lemonde.jpg') }}" alt="{{ 'Journal L\'Agence'|trans }}"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="http://www.oxioneo-immo.com/blog/4-le-journal-de-l-agence-parle-des-encheres-sur-internet-avec-oxioneo" title="{{ 'Journal L\'Agence'|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/logo_journal_agence.jpg') }}" alt="{{ 'Journal L\'Agence'|trans }}"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="http://www.oxioneo-immo.com/blog/3-les-agences-immobilieres-vendent-leurs-biens-en-24h-sur-oxioneo-immo-com" title="{{ 'Immomatin'|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/logo_immomatin.jpg') }}" alt="{{ 'Immomatin'|trans }}"/>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="http://www.oxioneo-immo.com/blog/2-laureats-reseau-entreprendre-2014" title="{{ 'Réseau Entreprendre'|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/logo_reseau.jpg') }}" alt="{{ 'Réseau Entreprendre'|trans }}"/>
                            </a>
                        </div>
                    </div>
                </div>#}
        <div>
            <h3>{{ 'Notre actualité'|trans }}</h3>
            <p>{{ 'OXIONEO dépoussière le monde l’immobilier, nous proposons une alternative crédible à la transaction immobilière traditionnelle. Plus rapide, plus transparent, suivez nous !'|trans }}</p>
            <ul id="logos_actu">
                <li>
                    <a href="http://www.oxioneo-immo.com/blog/6-l-enchere-immobiliere-en-ligne-a-le-vent-en-poupe" title="{{ 'Immobilier 2.0'|trans }}">
                        <img src="{{ asset('bundles/eenovdefault/img/immo_2.jpg') }}" alt="{{ 'Immobiler 2.0'|trans }}"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.oxioneo-immo.com/blog/5-des-start-up-misent-sur-l-essor-des-ventes-aux-encheres-immobilieres-en-ligne" title="{{ 'Journal Le Monde'|trans }}">
                        <img src="{{ asset('bundles/eenovdefault/img/lemonde.jpg') }}" alt="{{ 'Journal Le Monde'|trans }}"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.oxioneo-immo.com/blog/4-le-journal-de-l-agence-parle-des-encheres-sur-internet-avec-oxioneo" title="{{ 'Journal L\'Agence'|trans }}">
                        <img src="{{ asset('bundles/eenovdefault/img/logo_journal_agence.jpg') }}" alt="{{ 'Journal L\'Agence'|trans }}"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.oxioneo-immo.com/blog/3-les-agences-immobilieres-vendent-leurs-biens-en-24h-sur-oxioneo-immo-com" title="{{ 'Immomatin'|trans }}">
                        <img src="{{ asset('bundles/eenovdefault/img/logo_immomatin.jpg') }}" alt="{{ 'Immomatin'|trans }}"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.oxioneo-immo.com/blog/2-laureats-reseau-entreprendre-2014" title="{{ 'Réseau Entreprendre'|trans }}">
                        <img src="{{ asset('bundles/eenovdefault/img/logo_reseau.jpg') }}" alt="{{ 'Réseau Entreprendre'|trans }}"/>
                    </a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/eenovdefault/js/front/pages/index.js') }}"></script>
{% endblock %}
