{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="register" class="col-md-8 col-md-offset-2 white">
                <h1>{{ block('title') }}</h1>
                <form role="form" action="{{ path('login_check') }}" method="POST">
                    <div class="center">
                        <input type="hidden" id="target_path" name="_target_path" value="{{ path('eenov_user_user_index') }}">
                        <input type="text" id="username" name="_username" required="required" class="form-control input" placeholder="Adresse e-mail"><br>
                        <input type="password" id="password" name="_password" required="required" class="form-control input" placeholder="Mot de passe"><br>
                        <input type="submit" id="_submit" class="btn btn-primary submit sf-button" name="_submit" value="Connexion">
                    </div>
                </form>
                <br>
                <br>
                <p class="text-center">
                    <span class="glyphicon glyphicon-user"></span> Vous n'avez pas de compte ?
                    <a href="{{ path('eenov_default_default_register') }}" data-popup="{{ path('eenov_default_default_register') }}" data-dismiss="modal" title="Inscrivez-vous !">Inscrivez-vous !</a>
                </p>
                <p class="text-center">
                    <span class="glyphicon glyphicon-user"></span> Mot de passe oublié ?
                    <a href="{{ path('eenov_default_default_password') }}" data-popup="{{ path('eenov_default_default_password') }}" data-dismiss="modal" title="Récupérer mon mot de passe">Récupérer mon mot de passe</a>
                </p>
                <br>
            </div>
        </div>
    </div>
{% endblock %}
