<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title">Connectez-vous</h4>
            </div>
            <div class="content">
                <form role="form" action="{{ path('login_check') }}" method="POST">
                    <div id="login" class="modal-body">
                        <input type="hidden" name="_target_path" value="{{ path('eenov_user_user_index') }}">
                        <div class="form-group">
                            <input type="text" name="_username" required="required" class="form-control" placeholder="Adresse e-mail">
                        </div>
                        <div class="form-group">
                            <input type="password" name="_password" required="required" class="form-control" placeholder="Mot de passe">
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary submit sf-button" value="Connexion">
                        </div>
                    </div>
                </form>
                <div class="modal-footer text-center">
                    <p>
                        <span class="glyphicon glyphicon-user"></span> Vous n'avez pas de compte ?
                        <a href="{{ path('eenov_default_default_register') }}" data-popup="{{ path('eenov_default_default_register') }}" data-dismiss="modal" title="Inscrivez-vous !">Inscrivez-vous !</a>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-user"></span> Mot de passe oublié ?
                        <a href="{{ path('eenov_default_default_password') }}" data-popup="{{ path('eenov_default_default_password') }}" data-dismiss="modal" title="Récupérer mon mot de passe">Récupérer mon mot de passe</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>