{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Motion design{% endblock %}

{% block content %}
    <div class="container">
        <div class="youtube_vid">
            <div class="embed-container">
                <iframe src="{{ youtube_player_uri }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}