<div class="modal fade">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title">Oxioneo</h4>
            </div>
            <div class="content">
                <div class="youtube_vid_lg">
                    <div class="embed-container">
                        <iframe src="{{ youtube_player_uri }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>