<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title">Récupérer mon mot de passe</h4>
            </div>
            <div class="content">
                {{ form_start(form,{action:path('eenov_default_default_password')}) }}
                <div class="modal-body">
                    {{ form_row(form.username) }}
                    <div class="text-center">
                        <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Récupérer mon mot de passe</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>