{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{#{% block _eenov_default_user_cgu_row %}#}
    {#&#123;&#35;{%- set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}&#35;&#125;#}
    {#{% set label = label ~ ' <a href="' ~ path('eenov_default_default_cgu') ~ '">Consulter</a>' %}#}
    {#{{ dump(_context) }}#}
    {#{{ block('checkbox_widget') }}#}
{#{% endblock %}#}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="register" class="col-md-6 col-md-offset-3 white">
                <h1 class="text-center">{{ block('title') }}</h1>
                {% form_theme form _self %}
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.rawPassword) }}
                {{ form_row(form.cgu) }}
                <div class="text-center">
                    <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Je m'inscris</button>
                </div>
                <br>
                <p class="text-center">
                    <span class="glyphicon glyphicon-user"></span> Déjà inscrit ?
                    <a href="{{ path('eenov_default_default_login') }}" title="Connectez-vous">Connectez-vous</a>.
                </p>
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
