{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Créer un compte & une Agence{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="register" class="col-md-6 col-md-offset-3 white">
                <h1 class="text-center">Créer un compte<br>& une Agence</h1>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <h2 class="text-center">Votre compte</h2>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.owner.firstname) }}</div>
                    <div class="col-sm-6">{{ form_row(form.owner.lastname) }}</div>
                </div>
                {{ form_row(form.owner.username) }}
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.owner.birthday) }}</div>
                    <div class="col-sm-6">{{ form_row(form.owner.country) }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.owner.rawPassword.first) }}</div>
                    <div class="col-sm-6">{{ form_row(form.owner.rawPassword.second) }}</div>
                </div>
                <div class="text-center">
                    {{ form_row(form.owner.cgu) }}
                </div>
                <h2 class="text-center">Votre agence</h2>
                {{ form_row(form.name) }}
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.phone) }}</div>
                    <div class="col-sm-6">{{ form_row(form.email) }}</div>
                </div>
                {{ form_row(form.address) }}
                <div class="row">
                    <div class="col-xs-4">{{ form_row(form.zip) }}</div>
                    <div class="col-xs-4">{{ form_row(form.city) }}</div>
                    <div class="col-xs-4">{{ form_row(form.country) }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">{{ form_row(form.type) }}</div>
                    <div class="col-xs-4">{{ form_row(form.siret) }}</div>
                    <div class="col-xs-4">{{ form_row(form.rcs) }}</div>
                </div>
                {{ form_row(form.website) }}
                <div class="text-center">
                    <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Étape suivante</button>
                </div>
                <br>
                <p class="text-center">
                    <span class="glyphicon glyphicon-user"></span> Déjà inscrit ?
                    <a href="{{ path('eenov_default_default_login') }}" title="Connectez-vous">Connectez-vous</a>.
                </p>
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
