<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title">Créer un compte</h4>
            </div>
            <div class="content">
                {{ form_start(form,{action:path('eenov_default_default_register')}) }}
                <div id="register" class="modal-body">
                    {{ form_row(form.username) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.rawPassword) }}
                    {{ form_row(form.cgu) }}
                    <div class="text-center">
                        <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Je m'inscris</button>
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="modal-footer">
                    <p>
                        <span class="glyphicon glyphicon-user"></span> Déjà inscrit ?
                        <a href="{{ path('eenov_default_default_login') }}" data-popup="{{ path('eenov_default_default_login') }}" data-dismiss="modal" title="Connectez-vous">Connectez-vous</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
