{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="register" class="col-md-6 col-md-offset-3 white">
                <h1 class="text-center">{{ block('title') }}</h1>
                {{ form_start(form) }}
                {{ form_row(form.rawPassword) }}
                <br>
                <div class="text-center">
                    <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Réinitialiser</button>
                </div>
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}