{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'contact-us bg-white' %}

{% block title %}Comment ça marche{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 bg-white">
                <h1 class="main-title">
                    <img class="hidden-xs" src="{{ asset('bundles/eenovdefault/img/home-picto-oxioneo.png') }}" alt="{{ 'Un nouveau concept : l\'enchère immobilière'|trans }}"/>
                    Notre offre vendeur </h1>
                <p>
                    OXIONEO vous propose un moyen efficace et rapide afin d'obtenir des offres d'achat pour
                    votre bien en vente. Le concept est simple, vous obtenez <span class="highlight">LE BON PRIX DU MARCHE</span> en proposant aux futurs acquéreurs de faire leurs offres directement en ligne. À la différence
                    d'une "enchère", <span class="highlight">vous êtes seul à décider quelle offre accepter</span>, il n'est pas question ici de vente au plus offrant.
                </p>
                <p>
                    <span class="highlight">SECURISE et TRANSPARENT</span>, vous êtes accompagné par une agence immobilière, vous maîtrisez la vente de votre bien, les acquéreurs doivent obligatoirement avoir visité avec l'agence avant de faire des offres en ligne. Quand l'enchère est terminée, L'Agence vous soumet les offres et <span class="highlight">c'est vous qui choisissez</span> la meilleure offre selon le profil des acheteurs, leurs conditions d'achat et de financement.
                </p>
                <p>
                    <strong class="text-uppercase">OXIONEO c'est la liberté de confronter l'offre et la demande en temps réel.</strong>
                </p>
                <div class="row avantages vendeur">
                    <div class="col-md-12">
                        <h2>Les avantages</h2>
                    </div>
                </div>
                <div class="row avantages vendeur">
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/vendeur-prix-marche.png') }}" alt="Prix du marché"/>
                            <h3>Prix du marché</h3>
                            <p>(Confrontation de l'offre et la demande en temps réel)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/vendeur-choix-offre.png') }}" alt="Choix de l'offre"/>
                            <h3>Choix de l'offre</h3>
                            <p>(Meilleurs prix, meilleures conditions)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/vendeur-transparence.png') }}" alt="Transparence"/>
                            <h3>Transparence</h3>
                            <p>(Visibilité sur l'espace web)</p>
                        </div>
                    </div>
                </div>
                <div class="row avantages vendeur">
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/vendeur-delai-court.png') }}" alt="Délai très court"/>
                            <h3>Délai très court</h3>
                            <p>(Résultats obtenus en 45 jours*)</p>
                            <p class="small">*Délai minimum conseillé, plus de détails en agence.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/vendeur-vente-securisee.png') }}" alt="Vente sécurisée"/>
                            <h3>Vente sécurisée</h3>
                            <p>(Visite obligatoire)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img src="{{ asset('bundles/eenovdefault/img/avantages/vendeur-outil-innovant.png') }}" alt="Outil innovant"/>
                            <h3>Outil innovant</h3>
                            <p>(Je crée l'évènement)</p>
                        </div>
                    </div>
                </div>
                <h3>
                    Si vous souhaitez "oxioner" votre bien, n'hésitez plus !
                    Contactez votre agence immobilière la plus proche.
                </h3>
            </div>
            <div class="col-md-8 col-md-offset-2 white">
                {{ form_start(form,{action:'#form-contact',attr:{id:'form-contact' }}) }}
                <span class="triangle"> </span>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.subject) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.message) }}
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ 'Envoyer le message'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}