{% extends 'EenovAdminBundle:AdminEquipment:index.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminequipment_create',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>{{ link('eenov_admin_adminequipment_index',{},{class:'btn btn-default btn-xs yellow-stripe',name:'Annuler'}) }}</li>
        <li><button id="create" type="submit" class="btn btn-default btn-xs green-stripe">{{ title() }}</button></li>
    </ul>
    {{ form_end(form) }}
{% endblock %}