{#<div class="row">#}
<div>
    {#<div class="col-xs-12 col-md-offset-3 col-md-6">#}
        <div class="well home-search">
            {% form_theme form 'form_div_layout.html.twig' %}
            {{ form_start(form,{action:path('eenov_default_bid_index')}) }}
            J'aimerais acheter
            <br>
            à
            {{ form_widget(form.where) }}
            <br>
            pour
            {{ form_widget(form.firstPriceMax) }}
            {{ unity_money }} max.
            <br>
            <br>
            <button type="submit" class="btn btn-primary-yellow">Rechercher</button>
            {{ form_end(form) }}
        </div>
    {#</div>#}
</div>
