{% form_theme form 'EenovDefaultBundle:Form:search.html.twig' %}
<div id="searchbar_bid" class="open">
    <div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-3">
                {{ form_widget(form.where) }}
            </div>
            <div class="col-md-3">
                <div class="mm" data-mms="{{ [100000,150000,200000,250000,300000,350000,400000]|join(',') }}">
                    <div class="mm-label" data-mm-label-default="Prix" data-mm-label-suffix="€">Prix</div>
                    <div class="mm-dropdown">
                        <div class="mm-row">
                            <div class="mm-min">
                                {{ form_widget(form.firstPriceMin,{attr:{class:'mm-min-input'}}) }}
                            </div>
                            <div class="mm-dash">-</div>
                            <div class="mm-max">
                                {{ form_widget(form.firstPriceMax,{attr:{class:'mm-max-input'}}) }}
                            </div>
                        </div>
                        <div class="mm-choices"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mm" data-mms="{{ [1,2,3,4,5,6]|join(',') }}">
                    <div class="mm-label" data-mm-label-default="Pièces" data-mm-label-suffix="pièce(s)">Pièces</div>
                    <div class="mm-dropdown">
                        <div class="mm-row">
                            <div class="mm-min">
                                {{ form_widget(form.roomsMin,{attr:{class:'mm-min-input'}}) }}
                            </div>
                            <div class="mm-dash">-</div>
                            <div class="mm-max">
                                {{ form_widget(form.roomsMax,{attr:{class:'mm-max-input'}}) }}
                            </div>
                        </div>
                        <div class="mm-choices"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="mm" data-mms="{{ [15,25,35,50,70,100,200]|join(',') }}">
                    <div class="mm-label" data-mm-label-default="Surface" data-mm-label-suffix="m²">Surface</div>
                    <div class="mm-dropdown">
                        <div class="mm-row">
                            <div class="mm-min">
                                {{ form_widget(form.shabMin,{attr:{class:'mm-min-input'}}) }}
                            </div>
                            <div class="mm-dash">-</div>
                            <div class="mm-max">
                                {{ form_widget(form.shabMax,{attr:{class:'mm-max-input'}}) }}
                            </div>
                        </div>
                        <div class="mm-choices"></div>
                    </div>
                </div>
                {#<div class="appart_maison">#}
                {#<div class="bloc_check_appart">#}
                {#<input type="checkbox" id="annonces_check_appart" value="appartement">#}
                {#<label for="annonces_check_appart">appartement</label>#}
                {#</div>#}
                {#<div class="bloc_check_maison">#}
                {#<input type="checkbox" id="annonces_check_maison" value="maison">#}
                {#<label for="annonces_check_maison">maison</label>#}
                {#</div>#}
                {#</div>#}
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary search-submit" type="submit" value="{{ "Rechercher"|trans }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="btnplus_bid" class="criteres_plus">plus de critères</div>
            </div>
        </div>
        <div class="row">
            <div class="bloc_plus_filtres_bid col-md-12">
                {#<div class="bloc_plus_infos">#}
                {#<div class="titre_plus_infos">{{ 'Type achat'|trans }}</div>#}
                {#<div class="bloc_elements">#}
                {#<div class="liste_elements">#}
                {#<div class="element_filtre">#}
                {#<input id="annonces_ancien" type="checkbox" value="annonces_ancien" checked="checked"><label for="annonces_ancien">{{ 'Ancien'|trans }}</label>#}
                {#</div>#}
                {#<div class="element_filtre">#}
                {#<input id="annonces_neuf" type="checkbox" value="annonces_neuf" checked="checked"><label for="annonces_neuf">{{ 'Neuf'|trans }}</label>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <div class="bloc_plus_infos">
                    <div class="titre_plus_infos">{{ 'Type de bien'|trans }}</div>
                    <div class="bloc_elements">
                        <div class="liste_elements">
                            {% for child in form.types %}
                                {{ form_row(child) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="bloc_plus_infos">
                    <div class="titre_plus_infos">{{ 'Équipements'|trans }}</div>
                    <div class="bloc_elements">
                        <div class="liste_elements">
                            {% for child in form.equipments %}
                                {{ form_row(child) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {#<div class="bloc_plus_infos">#}
                {#<div class="titre_plus_infos">{{ 'Autres critères'|trans }}</div>#}
                {#<div class="bloc_elements">#}
                {#<div class="liste_elements">#}
                {#<span data-field="photo" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_photo" type="checkbox" name="annonces_photo" value="true"><label for="annonces_photo">{{ 'Avec photo'|trans }}</label>#}
                {#</span>#}
                {#<span data-field="travaux" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_travaux" type="checkbox" name="annonces_travaux" value="false"><label for="annonces_travaux">{{ 'Sans travaux à prévoir'|trans }}</label>#}
                {#</span>#}
                {#<span data-field="dernierEtage" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_dernierEtage" type="checkbox" name="annonces_dernierEtage" value="true"><label for="annonces_dernierEtage">{{ 'Dernier étage'|trans }}</label>#}
                {#</span>#}
                {#<span data-field="rdc" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_rdc" type="checkbox" name="annonces_rdc" value="true"><label for="annonces_rdc">{{ 'Rez-de-chaussée'|trans }}</label>#}
                {#</span>#}
                {#<span data-field="duplex" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_duplex" type="checkbox" name="annonces_duplex" value="true"><label for="annonces_duplex">{{ 'Duplex'|trans }}</label>#}
                {#</span>#}
                {#<span data-field="terrainconstr" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_terrainconstr" type="checkbox" name="annonces_terrainconstr" value="true"><label for="annonces_terrainconstr">{{ 'Terrain constructible'|trans }}</label>#}
                {#</span>#}
                {#<span data-field="exclusif" data-type="boolean" class="element_filtre">#}
                {#<input id="annonces_exclusif" type="checkbox" name="annonces_exclusif" value="true"><label for="annonces_exclusif">{{ 'Exclusif'|trans }}</label>#}
                {#</span>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
