{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
{# @var advert \Eenov\DefaultBundle\Entity\Advert #}<span class="triangle"> </span>
{% set ground = (advert.type.isGround and advert.ground) ? advert.ground : null %}
<div class="description border">
    <h3>{{ 'Présentation'|trans }}</h3>
    <p>{{ advert.description|nl2br }}</p>
    {% if advert.isCondo %}
        <p>Nombre de lots de la copropriété: {{ advert.condoLots }}. {{ advert.condoChargesRecurrenceName }} payées par le vendeur: {{ advert.condoCharges|price }}.{% if advert.condoHasOngoingProceedings %} Existence de procédure en cours avec le syndic de copropriété.{% endif %}</p>
    {% endif %}
    <p>
        <small>(1){{ 'Mention "départ des offres" : Prix auquel les offres peuvent commencer. Une fois les enchères terminées, les offres seront soumises à acceptation du/des vendeur(s). '|trans }}</small>
        <br/>
        <small>(2){{ "Mention 'prix idéal vendeur' Correspond au prix de vente idéal souhaité par le(s) vendeur(s)."|trans }}</small>
        <br/>
    {% if bid.honoraireForSeller %}
        <small>*Honoraires à charge du vendeur </small>
        <br/>
    {% else %}
        <small>*Honoraires à charge de l'acquéreur</small></br>
        <small><strong>Prix Net (hors honoraires) : </strong> {{ bid.priceEstimatedOld }} €</small></br>
        {% if bid.honorairePrice != null %}
            <small><strong>Honoraires : </strong> {{ bid.honorairePrice }} €</small></br>
        {% else %}
            <small><strong>Honoraires : </strong> 0 €</small></br>
        {% endif %}

        <small><strong>Prix Total : </strong> {{ bid.estimatedPrice }} €</small></br>
    {% endif %}
    </p>

</div>
<div class="properties">
    {% if advert.displayAddress %}
        <div class="specifics border">
            <div class="row">
                <div class="col-md-3">
                    <h3>{{ "Adresse"|trans }}</h3>
                </div>
                <div class="col-md-8">
                    <address>
                        {{ advert.address|nl2br }}<br>
                        {{ advert.zip }} {{ advert.city }} <em>({{ advert.country }})</em>
                    </address>
                </div>
            </div>
        </div>
    {% endif %}
    {% if bid.visits|length %}
        <div class="visits border">
            <div class="row">
                <div class="col-md-3">
                    <h3>{{ "Visites"|trans }}</h3>
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        {% for visit in bid.visits %}
                            <li>Le <strong>{{ visit.date.format('d/m/Y') }}</strong> de <strong>{{ visit.started.format('H:i') }}</strong> à <strong>{{ visit.ended.format('H:i') }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="property border">
        <div class="row">
            <div class="col-md-3">
                <h3>{{ 'Descriptif'|trans }}</h3>
            </div>
            <div class="col-md-4">
                <p>{{ "Type"|trans }} : <strong>{{ advert.type }}</strong></p>
                {% if not ground %}
                    <p>{{ "Neuf / Ancien"|trans }} : <strong>{{ advert.new ? 'Neuf' : 'Ancien' }}</strong></p>
                    {% if advert.shab %}
                        <p>{{ "Surface habitable"|trans }} : <strong>{{ advert.shab|area }}</strong></p>
                    {% endif %}
                {% endif %}
                {% if advert.field %}
                    <p>{{ "Surface terrain"|trans }} : <strong>{{ advert.field|area }}</strong></p>
                {% endif %}
                {% if ground %}
                    {% if ground.frontageLength %}
                        <p>{{ 'Longueur de la façade'|trans }} : <strong>{{ ground.frontageLength }}m</strong></p>
                    {% endif %}
                    {% if ground.fieldDepth %}
                        <p>{{ 'Profondeur du terrain'|trans }} : <strong>{{ ground.fieldDepth }}m</strong></p>
                    {% endif %}
                    {% if ground.soilNature %}
                        <p>{{ 'Nature du sol'|trans }} : <strong>{{ ground.soilNature }}</strong></p>
                    {% endif %}
                    {% if ground.pluZoning %}
                        <p>{{ 'Zonage PLU'|trans }} : <strong>{{ ground.pluZoning }}</strong></p>
                    {% endif %}
                {% else %}
                    {% if advert.livingRoom %}
                        <p>{{ "Surface séjour"|trans }} : <strong>{{ advert.livingRoom|area }}</strong></p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if ground %}
                    {% if ground.serviced %}
                        <p>{{ 'Viabilisé'|trans }} : <strong>Oui</strong></p>
                    {% endif %}
                    {% if ground.servicingTypes|length %}
                        <p>{{ 'Types de viabilisation'|trans }} : {% for type in ground.servicingTypes %}<strong>{{ ground.servicingTypesNameList[type] }}</strong>{% if not loop.last %}, {% endif %}{% endfor %}</p>
                    {% endif %}
                {% else %}
                    {% if advert.rooms %}
                        <p>{{ "Nombre de pièces"|trans }} : <strong>{{ advert.rooms }}</strong></p>
                    {% endif %}
                    {% if advert.bedrooms %}
                        <p>{{ "Nombre de chambres"|trans }} : <strong>{{ advert.bedrooms }}</strong></p>
                    {% endif %}
                    {% if advert.bathrooms %}
                        <p>{{ "Nombre de salles de bain"|trans }} : <strong>{{ advert.bathrooms }}</strong></p>
                    {% endif %}
                    {% if advert.showerrooms %}
                        <p>{{ "Nombre de salles d'eau"|trans }} : <strong>{{ advert.showerrooms }}</strong></p>
                    {% endif %}
                    {% if advert.toilets %}
                        <p>{{ "Nombre de toilettes"|trans }} : <strong>{{ advert.toilets }}</strong></p>
                    {% endif %}
                    {% if advert.floor %}
                        <p>{{ "Niveaux"|trans }} : <strong>{{ advert.floor }}</strong></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="specifics border">
        <div class="row">
            <div class="col-md-3">
                <h3>{{ "+ de détails"|trans }}</h3>
            </div>
            <div class="col-md-4">
                <p>{{ "Exposition"|trans }} : <strong>{{ advert.exposureName }}</strong></p>
                {% if not ground %}
                    {% if advert.heatingSystem %}
                        <p>{{ "Nature chauffage"|trans }} : <strong>{{ advert.heatingSystemName }}</strong></p>
                    {% endif %}
                    {% if advert.heatingType %}
                        <p>{{ "Chauffage"|trans }} : <strong>{{ advert.heatingTypeName }}</strong></p>
                    {% endif %}
                {% endif %}
                {% if advert.internet %}
                    <p>{{ "Débit connexion internet"|trans }} : <strong>{{ advert.internetName }}</strong></p>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if not ground %}
                    {% if advert.year %}
                        <p>{{ "Année de construction"|trans }} : <strong>{{ advert.year }}</strong></p>
                    {% endif %}
                    {% if advert.estateName %}
                        <p>{{ "Etat général"|trans }} : <strong>{{ advert.estateName }}</strong></p>
                    {% endif %}
                {% endif %}
                {% if advert.arounds|length %}
                    <p>{{ "Aux alentours"|trans }} : <strong>{% for around in advert.arounds %}{{ around }}{{ loop.last ? '' : ', ' }}{% endfor %}</strong></p>
                {% endif %}
                <p>{{ "Performance énergétique"|trans }} :</p>
                <ul class="energetics">
                    {% set dpe = advert.dpeLetter() %}
                    {% if dpe is not null %}
                        <li class="li-dpe"><strong>{{ "DPE"|trans }} :</strong>
                            {% set dpe = advert.dpeLetter() %}
                            <img src="{{ asset('bundles/eenovdefault/img/dpe/dpe' ~ dpe ~ '.png') }}" alt="C"/>
                            <a class="info" href="#" onclick="return false;" title="{{ "Plus d'infos sur le diagnostic de performance énergétique"|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/icon-info.png') }}" alt="{{ "Plus d'infos sur le diagnostic de performance énergétique"|trans }}"/>
                                <span class="info-dpe">
                                    Logement économe<br/>
                                    {% for letter in 'a'|upper..'g'|upper %}
                                        <img{% if dpe == letter %} class="active"{% endif %} src="{{ asset('bundles/eenovdefault/img/dpe/dpe_' ~ letter ~ '.png') }}" alt="{{ letter }}"/><br/>
                                    {% endfor %}
                                    Logement énergivore
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {% set ges = advert.gesLetter() %}
                    {% if ges is not null %}
                        <li class="li-dpe"><strong>{{ "GES"|trans }} :</strong>
                            <img src="{{ asset('bundles/eenovdefault/img/ges/ges' ~ ges ~ '.png') }}" alt="C"/>
                            <a class="info" href="#" onclick="return false;" title="{{ "Plus d'infos sur les émissions de gaz à effet de serre"|trans }}">
                                <img src="{{ asset('bundles/eenovdefault/img/icon-info.png') }}" alt="{{ "Plus d'infos sur les émissions de gaz à effet de serre"|trans }}"/>
                                <span class="info-dpe">
                                    Faible émission de GES<br/>
                                    {% for letter in 'a'|upper..'g'|upper %}
                                        <img{% if ges == letter %} class="active"{% endif %} src="{{ asset('bundles/eenovdefault/img/ges/ges_' ~ letter ~ '.png') }}" alt="{{ letter }}"/><br/>
                                    {% endfor %}
                                    Forte émission de GES
                                </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if advert.equipments|length %}
        <div class="equipments border">
            <div class="row">
                <div class="col-md-3">
                    <h3>{{ "Équipements"|trans }}</h3>
                </div>
                <div class="clearfix"></div>
                {% for equipment in advert.equipments %}
                    <div class="col-md-6">
                        <p><img src="{{ equipment.uri|imagine_filter('equipment') }}" alt="{{ equipment.name|trans }}"/> {{ equipment.name|trans }}</p>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}
{#    {% if auctions is defined and auctions|length > 0 %}
        <div class="auctions border">
            <div class="row">
                <div class="col-md-3">
                    <h3>{{ "Offres d'achat"|trans }}</h3>
                </div>
                <div class="clearfix"></div>
                <table class="{{ table_class }}">
                    <tbody>
                        {% for auction in auctions %}
                            #}{# @var auction \Eenov\DefaultBundle\Entity\Auction #}{#
                            <tr>
                                <td>{{ auction.user|user_anonymize }}</td>
                                <td>{{ auction.created|timeago }}</td>
                                <td>{{ auction.amount|price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}#}
</div>
