{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
{# @var advert \Eenov\DefaultBundle\Entity\Advert #}
{# @var access \Eenov\DefaultBundle\Entity\Access #}
<span class="triangle"> </span>
<div class="documents border">
    <div class="row">
        <div class="col-md-3">
            <h3>{{ "Les documents"|trans }}</h3>
        </div>
        <div class="clearfix"></div>
        {% if app.user and app.user.role == ROLE_USER %}
            {% if not access or not access.hasBeenValidated() or not access.isValid() %}
                <p class="alert alert-warning">Une demande d'accès à l'enchère validée par l'agence est nécessaire pour consulter certains de ces documents.</p>
            {% endif %}
        {% endif %}
        {% for document in advert.documents %}
            {# @var document \Eenov\DefaultBundle\Entity\Document #}
            <div class="col-md-6">
                <p>
                    {% if document.type.isPublic or (app.user and app.user.role == ROLE_USER) %}
                        {% if access and access.hasBeenValidated() and access.isValid() %}
                            <a href="{{ path('eenov_default_document_download',{document:document.id,_format:document.extension}) }}" title="{{ 'Télécharger'|trans }} {{ document.type.name|trans|lower }}" target="_blank">
                                <img src="{{ asset('bundles/eenovdefault/img/fichier.png') }}" alt="{{ document.type.name|trans }}"/> {{ document.type.name|trans }}
                            </a>
                        {% else %}
                            <a href="#" title="{{ 'Télécharger'|trans }} {{ document.type.name|trans|lower }}" target="_blank">
                                <span class="glyphicon glyphicon-remove"></span> {{ document.type.name|trans }}
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('eenov_default_default_login') }}" data-popup="{{ path('eenov_default_default_login') }}" title="{{ 'Télécharger'|trans }} {{ document.type.name|trans|lower }}" target="_blank">
                            <img src="{{ asset('bundles/eenovdefault/img/fichier.png') }}" alt="{{ document.type.name|trans }}"/> {{ document.type.name|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>