{# @var bid \Eenov\DefaultBundle\Entity\Bid #}
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title">Se faire rappeler par l'agence</h4>
            </div>
            <div class="content">
                {% form_theme form 'EenovDefaultBundle:Form:fields.html.twig' %}
                {{ form_start(form,{action:path('eenov_default_bid_contact',{bid:bid.id,slug:bid.slug})}) }}
                <div id="contact" class="modal-body">
                    {{ form_widget(form) }}
                    <div class="text-center">
                        <button type="submit" data-loading-text="Patientez..." class="btn btn-primary submit">Rappelez-moi</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
