{% extends 'EenovDefaultBundle::layout.html.twig' %}

{# @var bid \Eenov\DefaultBundle\Entity\Bid #}

{% set body_class = 'contact-us' %}

{% block title %}Se faire rappeler par l'agence{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 white">
                <h1>{{ block('title') }}</h1>
                <p>Une question ? Besoin d'un renseignement ? Ou simplement une remarque ? Vous pouvez contacter {{ bid.agency.displayName|default(bid.agency.name) }} via le formulaire ci-dessous.</p>
                {{ form_start(form,{action:'#form-contact',attr:{id:'form-contact'}}) }}
                <span class="triangle"> </span>
                {{ form_widget(form) }}
                <button type="submit" data-loading-text="Patientez..." class="btn btn-primary pull-right">Rappelez-moi</button>
                <div class="clear"></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
