{% extends 'EenovDefaultBundle::layout.html.twig' %}

{#{% set body_class = 'listads' ~ (filters|length ? ' search-open' : '') %}#}
{% set body_class = 'listads' %}

{% block title %}{{ 'Annonces immobilières'|trans }} - {{ parent() }}{% endblock %}

{% macro renderBid(bid) %}
    {# @var bid \Eenov\DefaultBundle\Entity\Bid #}
    <div class="resum_annonce col-md-12">
        <div class="row">
            <div class="bid {{ bid.isEnded() ? 'ended ' }}col-md-5" data-id="{{ bid.id }}" data-latitude="{{ bid.publish.point.latitude|number_format(10,'.') }}" data-longitude="{{ bid.publish.point.longitude|number_format(10,'.') }}" data-url="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" data-title="{{ bid.title }}" data-loc="{{ bid.publish.city }} ({{ bid.publish.zip|slice(0, 2) }})">
                <a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" title="{{ bid }}">
                    <img class="visuel" src="{{ bid.publish.uri|imagine_filter('bid_preview') }}" alt="{{ bid }}"/>
                </a>
            </div>
            <div class="col-md-7">
                <div class=row">
                    <div class="col-md-12">
                        <div class="caption">
                            <h4><a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" title="{{ bid }}">{{ bid.title }}</a></h4>
                            <p class="place">{{ bid.publish.city }} ({{ bid.publish.zip|slice(0, 2) }})</p>
                        </div>
                        <div class="bloc_price">
                            <span class="first-offer-price">{{ bid.firstPrice|price }}</span>
                            <span class="first-offer">({{ "Départ des offres"|trans }})</span>
                        </div>
                        <span>{{ "Prix idéal vendeur"|trans }} : </span><span><strong>{{ bid.estimatedPrice|price }}</strong></span><br/>
                        {% if not bid.isEnded() %}
                            <span class="start">{{ "Début des enchères"|trans }} :</span>
                            <span><strong>{{ bid.sellStarted ? bid.sellStarted.format('d/m/Y H:i') : '?' }}</strong></span>
                        {% endif %}
                        {% if bid.isEnded() %}
                            <p class="end">Enchère terminée</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row bloc_voir_annonce">
                    <div class="col-md-12">
                        <a href="{{ path('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) }}" alt="" class="btn btn-primary">
                            {{ "Voir l'annonce"|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% import _self as bidMacro %}

{% block body %}
    {% include 'EenovDefaultBundle:Front:_nav.html.twig' %}
    <div id="content">
        {% block form_results %}
            <div class="container">
                {% include 'EenovDefaultBundle:Front:_form_result.html.twig' %}
            </div>
        {% endblock %}
        {{ block('content') }}
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if paginator.count() %}
                <div class=" col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div id="colonne_liste">
                        {{ render(controller('EenovDefaultBundle:Bid:_search',{},app.request.query.all())) }}
                        <div class="row">
                            {% for bid in paginator %}
                                {{ bidMacro.renderBid(bid) }}
                            {% endfor %}
                        </div>
                        {% include 'EBDoctrineBundle::_paginator.html.twig' %}
                        <div class="row">
                            {% if morePaginator is not empty and morePaginator.count() %}
                                <div class="col-xs-12">
                                    <h3>Résultats complémentaires pour votre recherche à {{ morePaginatorDistance }} km autour de votre zone de recherche.</h3>
                                    <br>
                                    <br>
                                </div>
                                {% for bid in morePaginator %}
                                    {{ bidMacro.renderBid(bid) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% include 'EenovDefaultBundle:Front:_footer_liste.html.twig' %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5  hidden-xs hidden-sm">
                    <div class="map">
                        <div id="map"></div>
                    </div>
                </div>
            {% else %}
                <div class="col-xs-12">
                    {{ render(controller('EenovDefaultBundle:Bid:_search',{_format:'html'},app.request.query.all())) }}
                    <p class="alert alert-info">
                        Nous n'avons trouvé aucun bien correspondant à votre recherche.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $bids = $('div.bid'),
                iconRed = '{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/eenovdefault/img/map-tick-red-big.png') }}',
                iconGreen = '{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/eenovdefault/img/map-tick-green.png') }}',
                map,
                infoWindows,
                markers = {},
                myLatlng,
                bounds;

        if (0 < $bids.length) {
            $(document.body).append($('<script type="text/javascript">').attr('src', oxioneo.google_map_script_uri + '&callback=initializeGoogleMap'));

            function initializeGoogleMap() {
                map = new google.maps.Map(document.getElementById('map'), {zoom: 8});
                infoWindows = new google.maps.InfoWindow();
                bounds = new google.maps.LatLngBounds();

                $bids.each(function () {
                    var position = new google.maps.LatLng(parseFloat($(this).data('latitude')), parseFloat($(this).data('longitude'))),
                            marker = new google.maps.Marker({
                                position: position,
                                map: map,
                                animation: google.maps.Animation.DROP,
                                icon: iconGreen
                            }),
                            content = '<a href="' + $(this).data('url') + '" title="' + $(this).data('title') + '" ><strong>' + $(this).data('title') + '</strong></a><br>' + $(this).data('loc');

                    bounds.extend(position);

                    google.maps.event.addListener(marker, 'click', (function (marker) {
                        return function () {
                            infoWindows.setContent('<div style="line-height:1.35;overflow:hidden;white-space:nowrap;">' + content + '</div>');
                            infoWindows.open(map, marker);
                        };
                    })(marker));

                    $(this).on('mouseenter', function () {
                        marker.setIcon(iconRed);
                    }).on('mouseleave', function () {
                        marker.setIcon(iconGreen);
                    });

                });

                map.fitBounds(bounds);
            }
        }
    </script>
{% endblock %}