{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = "show-bid" %}

{% block title %}{{ bid.title }} - {{ parent() }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/eenovdefault/lib/slick/slick.css') }}"/>
{% endblock %}

{% block content %}
    {% if 0 == advert.images.count() %}
        <div class="container margin-bottom30 margin-top110"></div>
    {% elseif 4 > advert.images.count() %}
        <div class="container margin-bottom30 margin-top110">
            <div class="row">
                {% for image in advert.images %}
                    <div class="col-md-{{ 12 / advert.images.count() }}">
                        <img src="{{ image.uri|imagine_filter('bid_slider') }}" alt="{{ image.type.name|trans }}" title="{{ image.type.name|trans }}" style="width:100%;"/>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div id="photos">
            <div class="container">
                <div class="row">
                    <div class="slider-for col-sm-12">
                        {% for image in advert.images %}
                            <div>
                                <p>
                                    <img src="{{ image.uri|imagine_filter('bid_slider') }}" alt="{{ image.type.name|trans }}" title="{{ image.type.name|trans }}"/>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <div id="smallphotos" class="slider-nav">
                            {% for image in advert.images %}
                                <div>
                                    <p>
                                        <img src="{{ image.type.uri|imagine_filter('image_type') }}" alt="{{ image.type.name }}" title="{{ image.type.name }}" data-toggle="tooltip" data-container="#photos"/>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            {% if bid.publish and bid.publish.id != advert.id %}
                <p class="alert alert-danger">
                    Cette annonce est le brouillon de {{ link('eenov_default_bid_read',{bid:bid.id,slug:bid.slug},{name:bid}) }}.
                </p>
            {% endif %}
            <div class="col-sm-6 resume">
                {{ wishlit_button(bid) }}
                <div class="titre">
                    <h1>{{ bid.title }}</h1><br/>
                    <p class="place">{{ advert.city }} ({{ advert.zip|slice(0, 2) }})</p>
                </div>
                <div class="tags">
                    <span class="highlight">{{ advert.shab|area }}</span>
                    <span class="highlight">{{ advert.rooms }} pièce{% if advert.rooms > 1 %}s{% endif %}</span>
                    <span class="highlight">{{ advert.type }}</span>
                </div>
                <div class="resume-sale">
                    <span class="triangle"> </span>
                    <div>
                        <h2 class="first-offer">{{ "Départ des offres"|trans }}<sup>(1)</sup>:</h2><h2><span>{{ bid.firstPrice |price() }}
                            </span></h2>
                        <br/>

{#                        {% if latestAuction is defined and latestAuction is not empty %}
                            #}{# @var latestAuction \Eenov\DefaultBundle\Entity\Auction #}{#
                            <p>{{ "Dernière offre"|trans }}: <strong>{{ latestAuction.amount|price() }}</strong></p>
                            <br/>
                        {% endif %}#}

                        <p>{{ 'Prix idéal vendeur'|trans }}<sup>(2)</sup>: <strong>{{ bid.estimatedPrice |price()}}</strong></p>
                        <br/>

                            {% if bid.honoraireForSeller %}
                                <p>Honoraires à charge du vendeur*.</p>
                            {% else %}
                                <p> Honoraires à charge de l'acquéreur*</p>
                            {% endif %}

                        </br>
                        <p>{{ "Paliers"|trans }}: <strong>{{ bid.stepPrice|price }}</strong></p>
                    </div>
                    <div class="offers">
                        <h3><span>{{ "Réception des offres"|trans }}</span></h3>
                        <div class="time-message">
                            {% if not bid.isEnded() and accessCount is defined and accessCount > 1 %}
                                <span>Déjà {{ accessCount }} participants !</span>
                            {% endif %}
                            {% if not bid.isEnded() %}
                                <span>
                                    {% if bid.isNotStarted() %}
                                        {{ "L'enchère n'a pas encore commencé."|trans }}
                                    {% else %}
                                        {{ "L'enchère est en cours."|trans }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        </div>
                        <p>{{ "Début des enchères"|trans }}:</p>
                        <p><strong>{{ bid.sellStarted ? bid.sellStarted.format('d/m/Y H:i') : '?' }}</strong></p>
                        <br/>
                        <p>{{ "Fin des enchères"|trans }}:</p>
                        <p><strong>{{ bid.sellRealEnded ? bid.sellRealEnded.format('d/m/Y H:i') : '?' }}</strong></p>
                    </div>
                    <div class="center">
                        {% if bid.isEnded() %}
                            <a class="btn btn-danger disabled" href="#"><img src="{{ asset('bundles/eenovdefault/img/bid-time.png') }}" alt="Enchère terminée"/> Enchère terminée</a>
                        {% else %}
                            <a class="btn btn-danger" href="{{ path('eenov_user_userauction_index',{bid:bid.id,slug:bid.slug}) }}" title="{{ "Participer à l'enchère"|trans }}"><img src="{{ asset('bundles/eenovdefault/img/bid-time.png') }}" alt=""/> {{ "Participer à l'enchère"|trans }} <img src="{{ asset('bundles/eenovdefault/img/arrow-white.png') }}" alt="{{ "Participer à l'enchère"|trans }}"/></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 map">
                <div class="options">
                    <div>
                        <label class="ecoles"><input type="checkbox" value="school"> Écoles</label>
                        <label class="commerces"><input type="checkbox" value="store"> Commerces</label>
                        <label class="loisirs"><input type="checkbox" value="leisure"> Loisirs</label>
                    </div>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
    <section id="tab-infos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active tab-details"><a href="#details" role="tab" data-toggle="tab">{{ "Détails sur le bien"|trans }}</a></li>
                        {% if advert.documents.count() > 0 %}
                            <li class="tab-plus"><a href="#plus" role="tab" data-toggle="tab">{{ "Plus d'informations"|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="inside">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 tab-content">
                        <div class="tab-pane active" id="details">
                            {% include 'EenovDefaultBundle:Bid:_tab1.html.twig' %}
                        </div>
                        {% if advert.documents.count() > 0 %}
                            <div class="tab-pane" id="plus">
                                {% include 'EenovDefaultBundle:Bid:_tab2.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <br>
                        <br>
                        <div class="row overflow-hidden">
                            {% set social_url = url('eenov_default_bid_read',{bid:bid.id,slug:bid.slug}) %}
                            {% set social_image = (url('eenov_default_default_index') ~ '/' ~ advert.uri)|replace('//','/') %}
                            <div class="col-xs-6">
                                {# TWITTER #}
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ social_url }}" data-text="{{ bid.title }}" data-via="Oxioneo" data-lang="{{ app.request.locale }}">Tweet</a>
                                <script>!function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + '://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'twitter-wjs');</script>
                            </div>
                            <div class="col-xs-6">
                                {# PINTEREST #}
                                <a href="//www.pinterest.com/pin/create/button/?url={{ social_url|url_encode }}&media={{ social_image|url_encode }}&description={{ bid.title|url_encode }}" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png"/></a>
                                <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                            </div>
                        </div>
                        <div class="row overflow-hidden">
                            <div class="col-xs-6">
                                {# FACEBOOK #}
                                {# @todo Find a way to get a language instead of a locale #}
                                {% set language = 'fr_FR' %}
                                <div class="fb-like" data-href="{{ social_url }}" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
                                <div id="fb-root"></div>
                                <script>
                                    (function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = "//connect.facebook.net/{{ language }}/sdk.js#xfbml=1&version=v2.0";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                            </div>
                            <div class="col-xs-6">
                                {# GOOGLE PLUS #}
                                <script src="https://apis.google.com/js/platform.js" async defer>{{ {lang:app.request.locale}|json_encode|raw }}</script>
                                <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="{{ social_url }}"></div>
                            </div>
                        </div>
                        <div class="agency">
                            <h3>{{ "L'agence immobilière"|trans }}</h3><br/>
                            <img src="{{ bid.agency.uri|imagine_filter('bid_agency_logo') }}" alt="{{ bid.agency.displayName|default(bid.agency.name) }}"/>
                            <h4>{{ bid.agency.displayName|default(bid.agency.name) }}</h4>
                            <p>
                                {{ bid.agency.address }}<br/>
                                {{ bid.agency.zip }} {{ bid.agency.city }} {{ bid.agency.country }}
                            </p>
                            <img class="bg" src="{{ asset('bundles/eenovdefault/img/bid-agency-bg.png') }}" alt="Oxioneo"/>
                            <br/>
                            <a href="{{ path('eenov_default_bid_contact',{bid:bid.id,slug:bid.slug}) }}" data-popup="{{ path('eenov_default_bid_contact',{bid:bid.id,slug:bid.slug}) }}" data-dismiss="modal" class="btn btn-primary" title="{{ "Se faire rappeler par l'agence"|trans }}">
                                {{ "Se faire rappeler par l'agence"|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/eenovdefault/lib/slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/eenovdefault/js/front/pages/annonce.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ google_map_key }}"></script>
    <script type="text/javascript">
        var myLatlng,
                map,
                markers = {'origin': [], 'store': [], 'school': [], 'leisure': []},
                infowindow,
                displayAddress = {{ advert.displayAddress ? 'true' : 'false' }},
                icon = '{{  app.request.getSchemeAndHttpHost() ~ asset('bundles/eenovdefault/img/map-tick-big.png') }}',
                radius = 2000;

        function initialize() {
            myLatlng = new google.maps.LatLng('{{ advert.point.latitude|number_format(10,'.') }}', '{{ advert.point.longitude|number_format(10,'.') }}');
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatlng,
                zoom: 12,
                scrollwheel: ($(window).width() > 1000)
            });

            if (displayAddress) {
                markers['origin'].push(new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: icon
                }));
            }

            new google.maps.Circle({
                center: myLatlng,
                map: map,
                strokeColor: '#FFFFFF',
                strokeOpacity: 1,
                strokeWeight: 2,
                fillColor: '#FFFFFF',
                fillOpacity: 0.50,
                radius: radius
            });

            infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);

            service.nearbySearch({
                location: myLatlng,
                radius: radius,
                types: ['school'],
                rankby: google.maps.places.RankBy.DISTANCE
            }, function (results, status) {
                callback(results, status, 'school');
            });

            service.nearbySearch({
                location: myLatlng,
                radius: radius,
                types: ['restaurant', 'gym', 'park'],
                rankby: google.maps.places.RankBy.DISTANCE
            }, function (results, status) {
                callback(results, status, 'leisure');
            });

            service.nearbySearch({
                location: myLatlng,
                radius: radius,
                types: ['grocery_or_supermarket', 'shopping_mall'],
                rankby: google.maps.places.RankBy.DISTANCE
            }, function (results, status) {
                callback(results, status, 'store');
            });

            listenOptionsCheckboxes(map);

            $('.options input[type="checkbox"]').click(function () {
                listenOptionsCheckboxes(map);
            });

        }

        function callback(results, status, type) {

            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(type, results[i]);
                }
            }
        }

        function createMarker(type, place) {

            var marker = new google.maps.Marker({
                map: null,
                position: place.geometry.location,
                icon: '{{  app.request.getSchemeAndHttpHost() ~ asset('bundles/eenovdefault/img/map-tick-######.png') }}'.replace('######', type)
            });

            markers[type].push(marker);

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent('<div style="line-height:1.35;overflow:hidden;white-space:nowrap;"><strong>' + place.name + '</strong><br />' + place.vicinity + '</div>');
                infowindow.open(map, this);
            });
        }

        // Sets the map on all markers in the array.
        function setAllMap(type, map) {
            for (var i = 0; i < markers[type].length; i++) {
                markers[type][i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers(type) {
            setAllMap(type, null);
        }

        // Shows any markers currently in the array.
        function showMarkers(type) {
            setAllMap(type, map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        function listenOptionsCheckboxes(map) {
            $('.options input[type="checkbox"]').each(function () {

                if ($(this).is(':checked')) {
                    setAllMap($(this).val(), map);
                } else {
                    setAllMap($(this).val(), null);
                }
            });
        }
    </script>
{% endblock %}