{% extends 'EenovDefaultBundle::layout.html.twig' %}

{% set body_class = 'advanced-search' %}

{% block title %}{{ 'Recherche avancée'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ "Recherche avancée"|trans }}</h1>
                {{ form_start(form,{action:path('eenov_default_bid_index')}) }}
                <div class="border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>{{ "Où ?"|trans }}</h3>
                        </div>
                        <div class="col-md-8">
                            {{ form_widget(form.where,{attr:{class:'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>{{ "Types de bien"|trans }}</h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                {% for child in form.types %}
                                    <div class="col-xs-6">{{ form_widget(child) }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="border">#}
                    {#<div class="row">#}
                        {#<div class="col-md-4">#}
                            {#<h3>{{ "Type"|trans }}</h3>#}
                        {#</div>#}
                        {#<div class="col-md-4">#}
                            {#<div class="btn-group div-hover" data-toggle="buttons">#}
                                {#{{ form_row(form.new) }}#}
                                {#{{ form_row(form.old) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-4"></div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="border">#}
                    {#<div class="row">#}
                        {#<div class="col-md-4">#}
                            {#<h3>{{ "Surface"|trans }}</h3>#}
                        {#</div>#}
                        {#<div class="col-md-4">#}
                            {#{{ form_widget(form.shabMin,{attr:{min:0,class:'form-control'}}) }}#}
                        {#</div>#}
                        {#<div class="col-md-4">#}
                            {#{{ form_widget(form.shabMax,{attr:{min:0,class:'form-control'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>{{ "Surface du terrain"|trans }}</h3>
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.fieldMin,{attr:{min:0,class:'form-control'}}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.fieldMax,{attr:{min:0,class:'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>{{ "Budget"|trans }}</h3>
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.priceMin,{attr:{min:0,class:'form-control'}}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_widget(form.priceMax,{attr:{min:0,class:'form-control'}}) }}
                        </div>
                    </div>
                </div>
                {#<div class="border">#}
                    {#<div class="row">#}
                        {#<div class="col-md-4">#}
                            {#<h3>{{ "Nombre de pièces"|trans }}</h3>#}
                        {#</div>#}
                        {#<div class="col-md-4">#}
                            {#<div class="btn-group div-hover" data-toggle="buttons">#}
                                {#{{ form_row(form.rooms) }}#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-4"></div>#}
                    {#</div>#}
                {#</div>#}
                <div class="border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>{{ "Nombre de chambres"|trans }}</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group div-hover" data-toggle="buttons">
                                {{ form_row(form.bedrooms) }}
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="equipments border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>{{ "Équipements"|trans }}</h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                {% for child in form.equipments %}
                                    <div class="col-xs-6">{{ form_widget(child) }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="border">#}
                    {#<div class="row">#}
                        {#<div class="col-md-4">#}
                            {#<h3>{{ "Enchères"|trans }}</h3>#}
                        {#</div>#}
                        {#<div class="col-md-8">#}
                            {#<div class="row">{{ form_row(form.isPast) }}</div>#}
                            {#<div class="row">{{ form_row(form.isCurrent) }}</div>#}
                            {#<div class="row">{{ form_row(form.isFuture) }}</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="border align-right">
                    {% if app.user and is_granted(ROLE_USER) %}
                        <a class="save-search submit" href="{{ path('eenov_user_userprofile_createsearch') }}" title="Enregistrer ma recherche">
                            {#<img src="{{ asset('bundles/eenovdefault/img/header-search-save.png') }}" alt="Enregistrer ma recherche"/>#}
                            Enregistrer ma recherche
                        </a>
                    {% else %}
                        <a class="save-search" href="{{ path('eenov_default_default_login') }}" data-popup="{{ path('eenov_default_default_login') }}" title="Connectez-vous pour enregistrer vos recherches">
                            {#<img src="{{ asset('bundles/eenovdefault/img/header-search-save.png') }}" alt="Connectez-vous pour enregistrer vos recherches"/>#}
                            Enregistrer ma recherche
                        </a>
                    {% endif %}
                    <input class="btn btn-primary search-submit" type="submit" value="{{ "Rechercher"|trans }}">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}