{% extends 'EenovAgencyBundle:AgencySlot:index.html.twig' %}

{% block title %}{{ title('eenov_agency_agencysubscription_index') }}{% endblock %}

{% block content %}
    {% if not slot %}
        <p class="alert alert-danger">Vous n'avez pas de crédit disponible actuellement.</p>
    {% elseif slot.id %}
        <p class="alert alert-success">Vous avez un crédit disponible jusqu'au {{ slot.ended|dateago }}.</p>
    {% else %}
        <p class="alert alert-warning">Vous avez un nombre de crédit illimité.</p>
    {% endif %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Tarif</th>
                <th>Début</th>
                <th>Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in paginator %}
                <tr>
                    <td>{{ subscription }}</td>
                    <td>{{ subscription.amount|price }} / {{ subscription.perSlot ? 'slot' : 'mois' }}</td>
                    <td>{{ subscription.started|dateago }}</td>
                    <td>{{ subscription.ended|dateago }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-info">Aucun abonnement trouvé.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'EBDoctrineBundle::_paginator.html.twig' %}
{% endblock %}
