h1 { margin-top: 0; }
h3 label { margin: inherit; font-weight: inherit; font-size: inherit; }
.select2-container .select2-choice { height: 34px; line-height: 34px; }
#agencyselector .select2-container { display: block; }
#agencyselector .select2-container .select2-choice { height: 36px; line-height: 36px; }
li span.tab-no-link { padding: 6px 12px; line-height: 1.42857143; display: block; font-weight: 400; margin-right: 0; color: #555555; cursor: default; background-color: #ffffff; border-bottom-color: transparent; font-size: 14px; }
.page-content .profile .profile-info ul.list-unstyled { margin-bottom: 0; }
#bid-form { position: relative; }
#bid-form #bid-footer { position: fixed; bottom: 17px; right: 60px; }
table.table ul { margin-bottom: 0; }
.agency-offers { background-color: #ffffff; }
