{% extends 'EenovAdminBundle:AdminAgency:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminbill_index',{agency:agency.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminAgency:_nav.html.twig' %}
    <ul class="list-inline">
        {{ li_link('eenov_admin_adminbill_create',{agency:agency.id},{class:'btn btn-default btn-xs green-stripe'}) }}
    </ul>
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Fichier</th>
                <th class="sm"></th>
            </tr>
        </thead>
        <tbody>
            {% for bill in paginator %}
                <tr>
                    <td>{{ bill.id }}</td>
                    <td>{{ bill.filename }}</td>
                    <td>{{ bill.created|dateago }}</td>
                    <td><a href="{{ path('eenov_admin_adminbill_file',{agency:agency.id,bill:bill.id,_format:bill.extension}) }}"><span class="fa fa-file-pdf-o"></span> Facture</a></td>
                    <td>{{ link('eenov_admin_adminbill_delete',{agency:agency.id,bill:bill.id},{class:'btn btn-default btn-xs red-stripe'}) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucune facture trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}