{% extends 'EenovAdminBundle:AdminBid:update.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminauction_index',{bid:bid.id},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% include 'EenovAdminBundle:AdminBid:_nav.html.twig' %}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Montant</th>
                {% if bid.allowFirmAuction %}
                    <th>Offre unique</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for auction in paginator %}
                <tr>
                    <td>{{ auction.id }}</td>
                    <td>{{ auction.user }}</td>
                    <td>{{ auction.created|timeago }}</td>
                    <td>{{ auction.amount|price }}</td>
                    {% if bid.allowFirmAuction %}
                        <td>{{ auction.firm|yes_no_icon }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucune offre trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}