{% extends 'EenovAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {{ li_link('eenov_admin_adminpdfbill_index',{},{ficon:'angle-right'}) }}
{% endblock %}

{% block content %}
    {% form_theme filter 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(filter) }}
    {{ form_row(filter.started) }}
    {{ form_row(filter.ended) }}
    {{ form_row(filter.agency) }}
    <div class="form-group">
        <div class="col-xs-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Filtrer</button>
            {{ form_widget(filter.export) }}
        </div>
    </div>
    {{ form_end(filter) }}
    <table class="{{ table_class }}">
        <thead>
            <tr>
                <th class="sm">#</th>
                <th>Agence</th>
                <th>Facture</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in paginator %}
                <tr>
                    <td>{{ bill.id }}</td>
                    <td><a href="{{ path('eenov_admin_adminagency_update',{agency:bill.agency.id}) }}">{{ bill.agency }}</a></td>
                    <td><a href="{{ path('eenov_admin_adminpdfbill_file',{bill:bill.id,_format:bill.extension}) }}"><span class="fa fa-file-pdf-o"></span> {{ bill.filename }}</a></td>
                    <td>{{ bill.created|timeago }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <p class="alert alert-warning">Aucune facture trouvée.</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}