{# @var access \Eenov\DefaultBundle\Entity\Access #}
<div class="row">
    <div class="col-md-6">
        <div class="bid">
            <a href="{{ path('eenov_default_bid_read',{bid:access.bid.id,slug:access.bid.slug}) }}" title="{{ access.bid }}">
                <img class="visuel" src="{{ access.bid.publish.uri|imagine_filter('bid_home') }}" alt="{{ access.bid }}"/>
                <div class="caption">
                    <h4>{{ access.bid.title }}</h4><br>
                    <p class="place">{{ access.bid.publish.city }} ({{ access.bid.publish.zip }})</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="resume-sale">
            <div>
                <p>Présentation : <strong>{{ access.bid.estimatedPrice|price }}</strong></p>
                <br/>
                <p>Paliers : <strong>{{ access.bid.stepPrice|price }}</strong></p>
            </div>
            <div>
                <p class="your-offer">Votre offre:</p>
                <p>
                    <span>
                        {% set mine = auction_mine(access.bid) %}
                        {% if mine %}{{ mine.amount|price }}{% else %}Aucune{% endif %}
                    </span>
                </p>
                <br/>
                <p>Meilleure offre en cours:</p>
                <p>
                    <span>
                        {% set best = auction_best(access.bid) %}
                        {% if best %}{{ best.amount|price }}{% else %}Aucune{% endif %}
                    </span>
                </p>
                <br/>
            </div>
            <div>
                <p>Fin des offres:</p>
                <p><strong>{{ access.bid.sellRealEnded ? access.bid.sellRealEnded.format('d/m/Y H:i') : '?' }}</strong></p>
            </div>
            <div class="center">
                {% if not access.bid.isEnded() %}
                    <a class="btn btn-danger" href="{{ path('eenov_user_userauction_index',{bid:access.bid.id,slug:access.bid.slug}) }}" title="Participer à l'enchère">
                        <img class="picto" src="{{ asset('bundles/eenovdefault/img/bid-time.png') }}" alt="Faire une meilleure offre">
                        Faire une meilleure offre
                        <img src="{{ asset('bundles/eenovdefault/img/arrow-white.png') }}" alt="Faire une meilleure offre">
                    </a>
                {% else %}
                    <span class="btn btn-danger">
                        <img class="picto" src="{{ asset('bundles/eenovdefault/img/bid-time.png') }}" alt="Enchère terminée">
                        Enchère terminée
                        <img src="{{ asset('bundles/eenovdefault/img/arrow-white.png') }}" alt="Accéder à la salle des ventes">
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
