<ul class="nav">
    <li{{ if_active('eenov_user_userhistory_index') }}><a href="{{ path('eenov_user_userhistory_index') }}" title="">Ventes en cours</a></li>
    <li{{ if_active('eenov_user_userhistory_coming') }}><a href="{{ path('eenov_user_userhistory_coming') }}" title="">Ventes à venir</a></li>
    <li{{ if_active('eenov_user_userhistory_finished') }}><a href="{{ path('eenov_user_userhistory_finished') }}" title="">Ventes passées</a></li>
    <li class="divider"></li>
    <li{{ if_active('eenov_user_userhistory_waiting') }}><a href="{{ path('eenov_user_userhistory_waiting') }}" title="">Ventes non accessibles</a></li>
</ul>