{% extends 'EenovUserBundle:UserHistory:layout.html.twig' %}

{% block title %}Ventes passées{% endblock %}

{% block subcontent %}
    <div class="block history">
        <h3>{{ 'Mon historique'|trans }}</h3>
        <div class="block-content">
            {% for access in accesses %}
                {% include 'EenovUserBundle:UserHistory:_access.html.twig' %}
            {% else %}
                <p class="alert alert-info no-margin">
                    Il n'y a pas de vente terminée.
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}