{% extends 'EenovUserBundle:UserHistory:layout.html.twig' %}

{% block title %}{{ 'Mon historique'|trans }} - {{ 'Mon compte'|trans }} - {{ parent() }}{% endblock %}

{% block subcontent %}
    <div class="block history">
        <h3>{{ 'Mon historique'|trans }}</h3>
        <div class="block-content">
            {% for access in accesses %}
                {% include 'EenovUserBundle:UserHistory:_access.html.twig' %}
            {% else %}
                <p class="alert alert-info no-margin">
                    Il n'y a pas de vente en cours.
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}