{% extends 'EenovUserBundle::layout.html.twig' %}

{% set body_class = 'mon-compte history-user' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include 'EenovUserBundle:User:_nav.html.twig' %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="block block-nav">
                            <div class="block-content">
                                {% include 'EenovUserBundle:UserHistory:_nav.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        {% block subcontent %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}